{% extends "layout-epao.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
     <div id="service-title-section" class="epao-page">

          <div class="govuk-width-container">

               <div class="govuk-grid-row dashboard-title">
                    <div class="govuk-grid-column-two-thirds">
                         <a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>
                         <h1 class="govuk-heading-xl">
                              Confirm this is the correct apprentice                   </h1>
                    </div>
               </div>

          </div>

     </div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <form method="post" action="3-declaration" class="">
                    

                    <table class="govuk-table">
                         <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Name</th>
                                   <td class="govuk-table__cell">{{ data['epao-family-name'] }}</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">ULN</th>
                                   <td class="govuk-table__cell">{{ data['epao-uln'] }}</td>
                              </tr>
               
                         </tbody>
                    </table>



                    

                    <p>
                         If the name is incorrect, you need to agree the correct details with the training provider and employer. 
                         Once the training provider updates the Individual Learner Record (ILR), return here and continue.
                    </p>


                    {% from "govuk/components/radios/macro.njk" import govukRadios %}

                    {{ govukRadios({
                      idPrefix: "choose-standard-multi",
                      name: "choose-standard-multi",
                      fieldset: {
                        legend: {
                          text: "Select the standard",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--m"
                        }
                      },
                      items: [
                        {
                          value: "Gas engineering operative",
                          text: "Gas engineering operative",
                          hint: {
                            text: ""
                                    }

                        },
                        {
                          value: "Gas network craftsperson",
                          text: "Gas network craftsperson",
                          hint: {
                          text: ""
                                  }

                        }
                      ]
                    }) }}


                    {% from "govuk/components/button/macro.njk" import govukButton %}

                    {{ govukButton({
                         text: "Confirm and continue"
                    }) }}

                   

               </form>
          </div>
     </div>

</div>
{% endblock %}

