{% extends "layout-epao.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
     <div id="service-title-section" class="epao-page">

          <div class="govuk-width-container">

               <div class="govuk-grid-row dashboard-title">
                    <div class="govuk-grid-column-two-thirds">
                         <a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>
                         <h1 class="govuk-heading-xl">
                          Which version of the {{ data['choose-standard-multi'] }} standard did you assess?
                         </h1>
                    </div>
               </div>

          </div>

     </div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <form method="post" action="2a-options" class="">










                    {% from "govuk/components/radios/macro.njk" import govukRadios %}

                    {{ govukRadios({
                      idPrefix: "choose-version",
                      name: "choose-version",
                      fieldset: {
                        legend: {
                          text: "",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--m"
                        }
                      },
                      items: [
                        {
                          value: "Version 1.0",
                          text: "Version 1.0"
                        },
                        {
                          value: " Version 1.1",
                          text: "Version 1.1"
                        }
                      ]
                    }) }}


                    {% from "govuk/components/button/macro.njk" import govukButton %}

                    {{ govukButton({
                         text: "Confirm and continue"
                    }) }}

                    <p>
                         <a href="index">Search again</a> if this isn't the correct apprentice.
                    </p>

               </form>
          </div>
     </div>

</div>
{% endblock %}
