{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
Your application has been submitted                    </h1>
                <div class="govuk-panel__body">
                        <div class="govuk-!-margin-bottom-4">
                            <span class="govuk-!-font-size-24">Standard version(s) applied for</span>
                            <br>
                            <strong>Animal trainer</strong><br>
                            <p class="govuk-body" id="alb">Version {{ data['choose-version'] }}  </p>  
                        </div>
                                                <div>
                            <span class="govuk-!-font-size-24">Your reference number</span>
                            <br>
                            <strong>AAD109813</strong>
                        </div>
                </div>
            </div>
            <p class="govuk-body">We have sent you a confirmation email.</p>
            <h3 class="govuk-heading-m">What happens next</h3>
            <p class="govuk-body">Once we've reviewed your application, we'll email the outcome to you. If any of your answers need clarification, we'll send you a notification by email.</p>
            <p class="govuk-body"><a href="#" class="govuk-link--no-visited-state">What do you think of this service?</a> (Takes 60 seconds)</p>

            <h2 class="govuk-heading-m">What do you want to do next?</h2>
            <p class="govuk-body">
              <a class="govuk-link--no-visited-state" href="1-startpage.html">Apply for another standard version</a>
             
              <br>
              or
              <br>
              <a class="govuk-link--no-visited-state" href="index.html">Return to account home</a>
         </p>





    </div>
</div>
       

          
                   
{% endblock %}
