{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
About - GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-width-container">
        



    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-thirds">
                <!-- <h1 class="govuk-heading-xl">Signed in</h1> -->
                <h1 class="govuk-heading-xl">
                    Standard applications
                </h1>
                <br>
                <form method="post" action="3-search">
                    <button class="govuk-button" type="submit">Start new application</button>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FLxvfMD0WxPgEp5Al5BipC7bEPaFxn5-u4PLmSe6Vx55VAlrieCieYHtVyL_9Cev6_296PXtiS1D7L5a2iBn3tZFPoIaTY29VIjpsfk4NGII28Ja3uqTnNg-QPf_7iMnl5gyKVt8VKcIJw_IG3r3Vq98wapMsKTlkFZRX9UDDWS5tr1I5vrqTkr-ebyakE1Wg"></form>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Standard</th>
                            <!-- <th class="govuk-table__header" scope="col">Application ID</th> -->
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Status</th>
                            <th class="govuk-table__header govuk-table__header--numeric" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
    
                            
                            <tr>
                                <th class="govuk-table__header" scope="row">
                                    Bid and proposal co-ordinator
<p class="govuk-body">Version 1.0</p>
                                </th>
                                <!--<td class="govuk-table__cell">36c8de4e-703c-462d-6364-08d8d4ea752a</td>-->
                                <td class="govuk-table__cell govuk-table__cell--numeric">In Progress</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a class="govuk-link--no-visited-state" href="#">View</a>
                                </td>
                            </tr>
                            <tr>
                                <th class="govuk-table__header" scope="row">
                                    Digital and technology solutions specialist (integrated degree)
                                    <p class="govuk-body">Version 1.1</p>
                                </th>
                                <!--<td class="govuk-table__cell">8ab8f796-acc3-4f6c-6381-08d8d4ea752a</td>-->
                                <td class="govuk-table__cell govuk-table__cell--numeric">In Progress</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a class="govuk-link--no-visited-state" href="#">View</a>
                                </td>
                            </tr>
                            
                            <tr>
                                <th class="govuk-table__header" scope="row">
                                    Composites technician
                                    <p class="govuk-body">Version 1.0</p>
                                </th>
                                <!--<td class="govuk-table__cell">752314c9-3150-4c78-ac26-08d887850d3b</td>-->
                                <td class="govuk-table__cell govuk-table__cell--numeric">In Progress</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a class="govuk-link--no-visited-state" href="#">View</a>
                                </td>
                            </tr>
                            
                            <tr>
                                <th class="govuk-table__header" scope="row">
                                    Brewer
                                    <p class="govuk-body">Version 1.2</p>
                                </th>
                                <!--<td class="govuk-table__cell">23e19397-bc0a-4ef1-95d7-e19b9f37df0e</td>-->
                                <td class="govuk-table__cell govuk-table__cell--numeric">In Progress</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a class="govuk-link--no-visited-state" href="#">View</a>
                                </td>
                            </tr>
                            <tr>
                                <th class="govuk-table__header" scope="row">
                                    Camera prep technician
                                    <p class="govuk-body">Version 1.0</p>
                                </th>
                                <!--<td class="govuk-table__cell">f218bf46-5236-40f9-990b-08d8d4cd34af</td>-->
                                <td class="govuk-table__cell govuk-table__cell--numeric">In Progress</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a class="govuk-link--no-visited-state" href="#">View</a>
                                </td>
                            </tr>
                            <tr>
                                <th class="govuk-table__header" scope="row">
                                    Aviation maintenance mechanic (military)
                                    <p class="govuk-body">Version 1.0</p>
                                </th>
                                <!--<td class="govuk-table__cell">7a69aa92-1576-4912-990a-08d8d4cd34af</td>-->
                                <td class="govuk-table__cell govuk-table__cell--numeric">In Progress</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a class="govuk-link--no-visited-state" href="#">View</a>
                                </td>
                            </tr>
                            <tr>
                                <th class="govuk-table__header" scope="row">
                                    Building services design engineer (degree)
                                    <p class="govuk-body">Version 1.0</p>
                                </th>
                                <!--<td class="govuk-table__cell">6b895e54-e5f3-4fad-c2ea-08d8cf6fc80c</td>-->
                                <td class="govuk-table__cell govuk-table__cell--numeric">In Progress</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a class="govuk-link--no-visited-state" href="#">View</a>
                                </td>
                            </tr>
                            <tr>
                                <th class="govuk-table__header" scope="row">
                                    Animal technologist
                                    <p class="govuk-body">Version 1.0</p>
                                </th>
                                <!--<td class="govuk-table__cell">b2222512-4254-45d5-9eb9-08d8d28f8334</td>-->
                                <td class="govuk-table__cell govuk-table__cell--numeric">In Progress</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a class="govuk-link--no-visited-state" href="#">View</a>
                                </td>
                            </tr>
                            
                            <tr>
                                <th class="govuk-table__header" scope="row">
                                    Optical assistant
                                    <p class="govuk-body">Version 1.0</p>
                                </th>
                                <!--<td class="govuk-table__cell">0201fd05-cc8a-4f8a-6363-08d8d4ea752a</td>-->
                                <td class="govuk-table__cell govuk-table__cell--numeric">In Progress</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a class="govuk-link--no-visited-state" href="#">View</a>
                                </td>
                            </tr>
                            <tr>
                                <th class="govuk-table__header" scope="row">
                                    Gas network team leader
                                    <p class="govuk-body">Version 1.0</p>
                                </th>
                                <!--<td class="govuk-table__cell">fe68d804-06e9-4cb4-a88f-69be882d717e</td>-->
                                <td class="govuk-table__cell govuk-table__cell--numeric">In Progress</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a class="govuk-link--no-visited-state" href="#">View</a>
                                </td>
                            </tr>
                            
                            <tr>
                                <th class="govuk-table__header" scope="row">
                                    Accountancy or taxation professional
                                    <p class="govuk-body">Version 1.0</p>
                                </th>
                                <!--<td class="govuk-table__cell">5576b55d-2407-4042-6332-08d8d4ea752a</td>-->
                                <td class="govuk-table__cell govuk-table__cell--numeric">In Progress</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a class="govuk-link--no-visited-state" href="#">View</a>
                                </td>
                            </tr>
                            
                            <tr>
                                <th class="govuk-table__header" scope="row">
                                    Bespoke Saddler
                                    <p class="govuk-body">Version 1.0</p>
                                </th>
                                <!--<td class="govuk-table__cell">bb5d4d9f-c265-4a24-aa8a-9a2f2715a786</td>-->
                                <td class="govuk-table__cell govuk-table__cell--numeric">In Progress</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a class="govuk-link--no-visited-state" href="#">View</a>
                                </td>
                            </tr>
                            <tr>
                                <th class="govuk-table__header" scope="row">
                                    Passenger transport onboard and station team member
                                    <p class="govuk-body">Version 1.0</p>
                                </th>
                                <!--<td class="govuk-table__cell">175da016-204b-488d-06e4-08d8878508c0</td>-->
                                <td class="govuk-table__cell govuk-table__cell--numeric">In Progress</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <a class="govuk-link--no-visited-state" href="#">View</a>
                                </td>
                            </tr>
                          
                    </tbody>
                </table>
            </div>
        </div>
       
    </main>
    
    
    
    
    
        </div>

    
    
    
        {% endblock %}



    
    
    
    
    
       
