{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-width-container">
        



     <a href="4-results" class="govuk-back-link">Return to search</a>
     <main class="govuk-main-wrapper " id="main-content" role="main">
         <div class="govuk-grid-row">
             <div class="govuk-grid-column-two-thirds">
     
     
                 <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
                         <span class="govuk-caption-l govuk-!-margin-bottom-2">Confirm you want to offer the standard:</span>
                     Animal trainer
                 </h1>
                 <p class="govuk-body-l">Reference: ST0398</p>
     
                 <table class="govuk-table govuk-!-margin-bottom-7">
                     <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                             <th class="govuk-table__header" scope="row">Effective from</th>
                             <td class="govuk-table__cell">22 March 2021</td>
                         </tr>
                         <tr class="govuk-table__row">
                             <th class="govuk-table__header" scope="row">Effective to</th>
                             <td class="govuk-table__cell">
     Expiry date not set                        </td></tr>
    </tbody>
  </table>
  <table class="govuk-table govuk-!-margin-bottom-7">
    <tbody class="govuk-table__body">
   
      <form method="post" action="6-appoverview" class="">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <div class="govuk-hint">
               Select all that apply
              </div>
            </legend>
            <div class="govuk-checkboxes govuk-checkboxes--small">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="version1.0" name="choose-version" type="checkbox" value="1.0">
                <label class="govuk-label govuk-checkboxes__label" for="version1.0">
                 Version 1.0 
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="version1.1" name="choose-version" type="checkbox" value="1.1">
                <label class="govuk-label govuk-checkboxes__label" for="version1.1">
                 Version 1.1
                </label>
              </div>
             
            </div>
        
          </fieldset>
        </div>
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
</td>
</tr>
                     </tbody>
                 </table>
                 
                
      
                         <input value="179" type="hidden" data-val="true" data-val-required="The StandardCode field is required." id="StandardCode" name="StandardCode">
         
                             <div class="govuk-form-group ">
         
         
                                 <div class="govuk-checkboxes">
                                     <div class="govuk-checkboxes__item">
                                         <input class="govuk-checkboxes__input" name="IsConfirmed" type="checkbox" data-val="true" data-val-required="The IsConfirmed field is required." id="IsConfirmed" value="true">
                                         <label class="govuk-label govuk-checkboxes__label" for="IsConfirmed">
                                          By continuing, you confirm you have read and understood the relevant assessment plan(s) for<a class="govuk-link--no-visited-state" href="#"> this standard.</a> 
                                         </label>
                                     </div>
                                 </div>
                             </div>
                             <button type="submit" class="govuk-button">Confirm and continue</button>
         
                     </form>
                 </div>
             </div>
               </div>
          
     </div>
     
     </main>
     
     
     
     
     
     
         </div>


       

          
                   
{% endblock %}
