{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}


<div class="govuk-width-container">
        

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
            <form method="post" novalidate="" enctype="multipart/form-data" action="8-questions2b">
                        <div class="govuk-form-group ">
                            <fieldset class="govuk-fieldset">
                                        <span class="govuk-caption-xl">
                                            ST0398 Animal trainer
                                        </span>
                                    <h1 class="govuk-label-wrapper">
                                        <label class="govuk-label govuk-label--xl" for="CC-01">
                                            Information commissioner's office (ICO) registration number
                                        </label>
                                    </h1>
    
    
                                    <span class="govuk-hint">
                                        Provide your ICO registration number
                                    </span>
    
                                
                                
    
    
    <input class="govuk-input govuk-input--width-10 " type="text" id="CC-01" name="CC-01" value="" maxlength="10000">
                            </fieldset>
                        </div>
    
    
    
                <button type="submit" class="govuk-button">Save and continue</button>
    
                
    
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FLxvfMD0WxPgEp5Al5BipDsH1ro8r4xTdJh5RD8m7toD47pfpJtn6zVmlwG3wadW2fhRtWdLK61fcLRjP7VZ6hipj55Mfw8EqeidcaCoecO8aBPpDMBYb_96T9eMZXkLXwYgtEOCN7ntp-lL_qGxYprZnX66KWYjOV4cDMsFYUjrK1B0hPERzxa9TBvcdramw"></form>
    
            <p class="govuk-body">
                        <a class="govuk-link" href="#">Return to summary</a>
                </p>
            </div>
        </div>
    </main>
    
    
    
    
    
        </div>

          
                   
{% endblock %}
