<div class="navigation">
     <div class="govuk-width-container">
          <ul class="govuk-list">
               <li><a href="#" class="govuk-link link-one">Home</a></li>
               <li><a href="#" class="govuk-link link-two">Link 1</a></li>
               <li><a href="#" class="govuk-link link-three">Link 2</a></li>
               <li><a href="#" class="govuk-link link-four">Link 3</a></li>
               <li><a href="#" class="govuk-link link-five">Link 4</a></li>
               <!-- <li><a href="#" class="govuk-link dropdown">Manage</a></li>
               <li><a href="#" class="govuk-link dropdown">Bookings</a></li>
               <li><a href="#" class="govuk-link dropdown">Schools & Activities</a></li>
               <li><a href="#" class="govuk-link dropdown">Reports</a></li>
               <li><a href="#" class="govuk-link dropdown">Contacts</a></li>
               <li><a href="#" class="govuk-link dropdown">Masters</a></li>
               <li><a href="#" class="govuk-link dropdown">Help</a></li> -->
               <li class="email-container"><a href="2-email-preferences" class="govuk-link email-preferences">Email preferences</a></li>
          </ul>
     </div>
</div>
