{% extends "layout-epao.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
     <div id="service-title-section" class="epao-page">

          <div class="govuk-width-container">

               <div class="govuk-grid-row dashboard-title">
                    <div class="govuk-grid-column-two-thirds">
                         <a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>
                         <h1 class="govuk-heading-xl">
                           Choose the option for Gas network craftsperson {{ data['chooseversionoption'] }}
                         </h1>
                    </div>
               </div>

          </div>

     </div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <form method="post" action="3-declaration" class="">
<!--
                    <table class="govuk-table">
                         <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Name</th>
                                   <td class="govuk-table__cell">{{ data['epao-family-name'] }}</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">ULN</th>
                                   <td class="govuk-table__cell">{{ data['epao-uln'] }}</td>
                              </tr>


                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Standard</th>
                                   <td class="govuk-table__cell">Gas network craftsperson</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Level</th>
                                   <td class="govuk-table__cell">3</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Version</th>
                                   <td class="govuk-table__cell">1.0</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Learner start date</th>
                                   <td class="govuk-table__cell">31 January 2016</td>
                              </tr>

                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Failed date</th>
                                   <td class="govuk-table__cell">15 October 2019</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Grade</th>
                                   <td class="govuk-table__cell">Fail</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Record by</th>
                                   <td class="govuk-table__cell">Preprod Epao008</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Date recorded</th>
                                   <td class="govuk-table__cell">15 October 2019</td>
                              </tr>
                         </tbody>
                    </table>-->
<!--
                    <p>
                         If the name, standard or level is incorrect, you need to agree on the correct details along with the training provider
                         and the employer. The training provider needs to then update the Individual Learner Record (ILR).
                    </p>

-->


<!--

Actually ST057 Gas network craftsperson
Level 3
Version 1.0
Gas network craftsperson
"Gas Fitter",
"Emergency Response Craftsperson",
"Electrical & Instrumentation"

Version 1.1
                     Gas network craftsperson
                    "Gas Fitter",
                    "Emergency Response Craftsperson",
                    "Electrical & Instrumentation",
                    "Plumbing & Heating Engineer",
                    "Pressure Management"




-->

















                    {% from "govuk/components/radios/macro.njk" import govukRadios %}

                    {{ govukRadios({
                      idPrefix: "choose-option",
                      name: "choose-option",
                      fieldset: {
                        legend: {
                          text: "",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--m"
                        }
                      },




                      items: [


                        {
                          value: "Gas Fitter",
                          text: "Gas Fitter"
                        },

                        {
                            value: "Emergency Response Craftsperson",
                            text: "Emergency Response Craftsperson"
                        },
                        {
                          value: "Electrical & Instrumentation",
                          text: "Electrical & Instrumentation"

                        }

                      ]
                    }) }}


                    {% from "govuk/components/button/macro.njk" import govukButton %}

                    {{ govukButton({
                         text: "Confirm and continue"
                    }) }}

                   

               </form>
          </div>
     </div>

</div>
{% endblock %}
