{% extends "layout-epao.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
     <div id="service-title-section" class="epao-page">

          <div class="govuk-width-container">

               <div class="govuk-grid-row dashboard-title">
                    <div class="govuk-grid-column-two-thirds">
                         <h1 class="govuk-heading-xl">
                              Record a grade
                         </h1>
                    </div>
               </div>

          </div>

     </div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <div class="banner blue">
                    <h1 class="govuk-heading-m">Record all assessments</h1>
                    <p>Record all end point assessments grades. Record a 'fail' if a fail is defined in the assessment plan.</p>
               </div>


          </div>
     </div>
</div>
{% endblock %}
