{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}

<div class="govuk-width-container">
        


    <a class="govuk-back-link" href="1-stapp">Back</a>
    
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
    
                    <h1 class="govuk-heading-xl">Application overview</h1>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Application reference</dt>
                                <dd class="govuk-summary-list__value">AAD109813</dd>
                            </div>
                                                                    <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Standard</dt>
                                <dd class="govuk-summary-list__value">Animal trainer (379)</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Version</dt>
                                <dd class="govuk-summary-list__value">1.2</dd>
                            </div>
                                                                                            <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">Registered name</dt>
                                    <dd class="govuk-summary-list__value">City and Guilds (London/ILM)</dd>
                                </div>
                                                <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">UKPRN</dt>
                                <dd class="govuk-summary-list__value">10009931</dd>
                            </div>
                                                <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Financial due date</dt>
                                <dd class="govuk-summary-list__value">01 January 2023</dd>
                            </div>
                                        </dl>
                        <p class="govuk-body">
                            <a class="govuk-link--no-visited-state"  href="#">View companies house information</a>
                        </p>
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                    <ul class="govuk-list">
                            <li>
                                <h2 class="govuk-heading-m">
                                    <a class="govuk-link--no-visited-state" ,="" href="3-answers">
                                        Apply to assess a standard
                                    </a>
                                </h2>
                                <span id="company-details-hint" class="govuk-hint">
                                    6 of 6 questions completed
                                </span>
    
    
                                                            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                            </li>
                    </ul>
                
                <p class="govuk-body">
                    <a class="govuk-link--no-visited-state" href="1-stapp">Return to applications</a>
                </p>
            </div>`
        </div>
    </main>
        </div>











{% endblock %}



