{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}


<div class="govuk-width-container">
        

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Feedback sent
                    </h1>
                </div>
    
                    <p class="govuk-body">
    An email has been sent to the applicant.                </p>
    
                <h2 class="govuk-heading-m">
    What do you want to do next?            </h2>
    
                <p class="govuk-body">
                    <a class="govuk-link--no-visited-state" href="7-stapp">
    Return to applications                </a>
                </p>          
            </div>
        </div>
    </main>
        </div>






{% endblock %}



