{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}




<div class="govuk-width-container">
        


     <a class="govuk-back-link" href="nocert1">Search again</a>
     
     <main class="govuk-main-wrapper " id="main-content" role="main">
         <div class="govuk-grid-row">
             <div class="govuk-grid-column-two-thirds">
                 <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">
                     Search results
                 </h1>
                     <span class="govuk-caption-xl">City and Guilds</span>
                     <h2 class="govuk-heading-m">EPA0008</h2>
                                 <span class="govuk-heading-s">Number of results: 10</span>
             </div>
         </div>
     
             <div class="govuk-grid-row">
                 <div class="govuk-grid-column-full">
                     <table class="govuk-table govuk-table--s">
                         <thead class="govuk-table__head">
                             <tr class="govuk-table__row">
                                 <th class="govuk-table__header" scope="col">Name</th>
                                 <th class="govuk-table__header" scope="col">ULN</th>
                                 <th class="govuk-table__header" scope="col">Standard</th>
                                 <th class="govuk-table__header" scope="col">Certificate reference</th>
                                 <th class="govuk-table__header" scope="col">Status</th>
                                 <th class="govuk-table__header" scope="col">Updated</th>
                             </tr>
                         </thead>
                         <tbody class="govuk-table__body">
                                 <tr class="govuk-table__row">
                                     <td class="govuk-table__cell"><a class="govuk-link" href="/select?stdcode=17&amp;uln=9999999999&amp;searchstring=EPA0008&amp;page=1">Test Privately Funded Test</a></td>
                                     <td class="govuk-table__cell">9999999999</td>
                                     <td class="govuk-table__cell">Actuarial technician (17)</td>
                                     <td class="govuk-table__cell">00023007</td>
                                     <td class="govuk-table__cell">Draft</td>
                                     <td class="govuk-table__cell">12 February 2021</td>
                                 </tr>
                                 <tr class="govuk-table__row">
                                     <td class="govuk-table__cell"><a class="govuk-link" href="/select?stdcode=6&amp;uln=4552889288&amp;searchstring=EPA0008&amp;page=1">Annie Pilkington</a></td>
                                     <td class="govuk-table__cell">4552889288</td>
                                     <td class="govuk-table__cell">Power network craftsperson (6)</td>
                                     <td class="govuk-table__cell">00023004</td>
                                     <td class="govuk-table__cell">Draft</td>
                                     <td class="govuk-table__cell">12 February 2021</td>
                                 </tr>
                                 <tr class="govuk-table__row">
                                     <td class="govuk-table__cell"><a class="govuk-link" href="/select?stdcode=122&amp;uln=6918431762&amp;searchstring=EPA0008&amp;page=1">Alana Abdalla</a></td>
                                     <td class="govuk-table__cell">6918431762</td>
                                     <td class="govuk-table__cell">Customer service practitioner (122)</td>
                                     <td class="govuk-table__cell">00023003</td>
                                     <td class="govuk-table__cell">Submitted</td>
                                     <td class="govuk-table__cell">12 February 2021</td>
                                 </tr>
                                 <tr class="govuk-table__row">
                                     <td class="govuk-table__cell"><a class="govuk-link" href="/select?stdcode=119&amp;uln=6666086706&amp;searchstring=EPA0008&amp;page=1">Adell Aavang</a></td>
                                     <td class="govuk-table__cell">6666086706</td>
                                     <td class="govuk-table__cell">Adult care worker (119)</td>
                                     <td class="govuk-table__cell">00023002</td>
                                     <td class="govuk-table__cell">Submitted</td>
                                     <td class="govuk-table__cell">12 February 2021</td>
                                 </tr>
                                 <tr class="govuk-table__row">
                                     <td class="govuk-table__cell"><a class="govuk-link" href="/select?stdcode=157&amp;uln=4343434343&amp;searchstring=EPA0008&amp;page=1">robert sanders</a></td>
                                     <td class="govuk-table__cell">4343434343</td>
                                     <td class="govuk-table__cell">Hair professional (157)</td>
                                     <td class="govuk-table__cell">00011802</td>
                                     <td class="govuk-table__cell">Sent to printer</td>
                                     <td class="govuk-table__cell">11 February 2021</td>
                                 </tr>
                                 <tr class="govuk-table__row">
                                     <td class="govuk-table__cell"><a class="govuk-link" href="/select?stdcode=17&amp;uln=4654646546&amp;searchstring=EPA0008&amp;page=1">Demo dsfds</a></td>
                                     <td class="govuk-table__cell">4654646546</td>
                                     <td class="govuk-table__cell">Actuarial technician (17)</td>
                                     <td class="govuk-table__cell">00021305</td>
                                     <td class="govuk-table__cell">Sent to printer</td>
                                     <td class="govuk-table__cell">11 February 2021</td>
                                 </tr>
                                 <tr class="govuk-table__row">
                                     <td class="govuk-table__cell"><a class="govuk-link" href="/select?stdcode=196&amp;uln=2431520969&amp;searchstring=EPA0008&amp;page=1"> Heather   Watson </a></td>
                                     <td class="govuk-table__cell">2431520969</td>
                                     <td class="govuk-table__cell">Business administrator (196)</td>
                                     <td class="govuk-table__cell">00021000</td>
                                     <td class="govuk-table__cell">Sent to printer</td>
                                     <td class="govuk-table__cell">11 February 2021</td>
                                 </tr>
                                 <tr class="govuk-table__row">
                                     <td class="govuk-table__cell"><a class="govuk-link" href="/select?stdcode=102&amp;uln=7278214419&amp;searchstring=EPA0008&amp;page=1">Abram Aamot</a></td>
                                     <td class="govuk-table__cell">7278214419</td>
                                     <td class="govuk-table__cell">Healthcare assistant practitioner (102)</td>
                                     <td class="govuk-table__cell">00011580</td>
                                     <td class="govuk-table__cell">Sent to printer</td>
                                     <td class="govuk-table__cell">11 February 2021</td>
                                 </tr>
                                 <tr class="govuk-table__row">
                                     <td class="govuk-table__cell"><a class="govuk-link" href="/select?stdcode=239&amp;uln=5013356678&amp;searchstring=EPA0008&amp;page=1">Test Name5013356678</a></td>
                                     <td class="govuk-table__cell">5013356678</td>
                                     <td class="govuk-table__cell">Carpentry and joinery (239)</td>
                                     <td class="govuk-table__cell">00022871</td>
                                     <td class="govuk-table__cell">Draft</td>
                                     <td class="govuk-table__cell">10 February 2021</td>
                                 </tr>
                                 <tr class="govuk-table__row">
                                     <td class="govuk-table__cell"><a class="govuk-link" href="/select?stdcode=240&amp;uln=1234789012&amp;searchstring=EPA0008&amp;page=1">Luisa Rossi</a></td>
                                     <td class="govuk-table__cell">1234789012</td>
                                     <td class="govuk-table__cell">Advanced carpentry and joinery (240)</td>
                                     <td class="govuk-table__cell">00011786</td>
                                     <td class="govuk-table__cell">Draft</td>
                                     <td class="govuk-table__cell">09 February 2021</td>
                                 </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
     
             
     
     </main>
         </div>







{% endblock %}



