{% extends "layout-epaoapply.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-width-container">
        



     <a href="/standard/4d36d91f-fc73-4498-9d7b-8abd7a668477" class="govuk-back-link">Return to standards search</a>
     <main class="govuk-main-wrapper " id="main-content" role="main">
         <div class="govuk-grid-row">
             <div class="govuk-grid-column-two-thirds">
     
     
                 <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
                         <span class="govuk-caption-l govuk-!-margin-bottom-2"> ST0398Animal trainer</span>
                     
                 </h1>
                 
     
                 <table class="govuk-table govuk-!-margin-bottom-7">
                     <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                             <th class="govuk-table__header" scope="row">Effective from</th>
                             <td class="govuk-table__cell">22 November 2018</td>
                         </tr>
                         <tr class="govuk-table__row">
                             <th class="govuk-table__header" scope="row">Effective to</th>
                             <td class="govuk-table__cell">
     Expiry date not set                        </td>
                         </tr>
                        
                     </tbody>
                 </table>
                 



                
                 <form method="post" action="version1" class="">
                         
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
     text: "Confirm and continue"
}) }}
         
                     </form>
                 </div>
             </div>
               </div>
          
     </div>
     
     </main>
     
     
     
     
     
     
         </div>


       

          
                   
{% endblock %}
