{% extends "layout-epaoapply.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-width-container">
        






    <main class="govuk-main-wrapper " id="main-content" role="main">
    
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Standards</h1>
            </div>
        </div>
    
    
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <table class="govuk-table govuk-table--small responsive">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">
                                    Standard
                                </th>
                                <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                                    Code
                                </th>
                                <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                                    Level
                                </th>
                                <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                                   Version
                                </th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    Actuarial technician
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    17
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    4
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    1.0
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    Actuary
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    255
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    7
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    1.1
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    Adult care worker
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    119
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    2
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    1.3
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    Advanced carpentry and joinery
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    240
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    3
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    1.1
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    Animal trainer
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    379
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    4
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    1.0
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    Arborist
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    180
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    2
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    1.3
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    Brewer
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    294
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    4
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    1.0
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    Broadcast and media systems engineer (integrated degree)
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    354
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    6
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    1.2
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    Business administrator
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    196
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    3
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    1.0
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    Business fire safety advisor
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    250
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    3
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    1.1
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="page-navigation">
    
    
                      
    
                </div>
            </div>
        </div>
    </main>
    
    
    
    
    
    
    
    
    
        </div>

       

          
                   
{% endblock %}
