

{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
About - GOV.UK Prototype Kit
{% endblock %}

{% block content %}





    <div class="govuk-width-container">

        <a class="govuk-back-link" href="/ApplyForWithdrawal">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Feedback on your withdrawal request
            </h1>

                <p class="govuk-body">We've reviewed your withdrawal request for withdrawing from Adult care worker (ST0005), Version 1.0 and need more information.</p>
                <p class="govuk-body">We've provided feedback on the answers we need more information about.</p>
                <p class="govuk-body">Use the feedback to change your answers.</p>

            <a href="4.html" class="govuk-button">
Continue            </a>
        </div>
    </div>
</main>





    </div>
    {% endblock %}

