{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
About - GOV.UK Prototype Kit
{% endblock %}

{% block content %}



    <div class="govuk-width-container">




<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl">
                    ST0005 Adult care worker
                </span>

            <h1 class="govuk-heading-xl">Withdrawal application overview</h1>


                <p class="govuk-body">
                    We've provided feedback on the answers we need more information about.  You'll need to open each question to view the feedback.
                </p>
                <p class="govuk-body">
                    Use the feedback to change your answers, then resubmit your application.
                </p>
                <p class="govuk-body">
                    By submitting your answers, you confirm that you have the authority to act on behalf of the organisation.
                </p>

            <ol class="app-task-list">
                    <li>
                        <h2 id="f0c1cfab-d5eb-4226-b3de-4735ad9de941" class="app-task-list__section">Withdrawal notification questions</h2>
                                <ul class="app-task-list__items app-task-list__items--no-number">
                                        <li class="app-task-list__item">
                                            <span class="app-task-list__task-name">
                                                <a aria-describedby="feedback-completed" class="govuk-link" href="/Application/156ae337-7f5a-40ac-b92f-bf0287b51f12/Sequences/4/Sections/6/Pages/6?__redirectAction=Feedback">
                                                    Reason for withdrawing
                                                </a>
                                            </span>
                                                <strong class="govuk-tag app-task-list__task-custom-tag das-float-right" id="feedback-feedbackTag">Feedback Added</strong>
                                        </li>
                                </ul>
                    </li>
            </ol>

                <div>
                    <form action="5" method="post">
                        <div class="govuk-form-group">
                            <button type="submit" class="govuk-button">
                                Submit your answers
                            </button>
                        </div>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8MqGfJC9H8RPvDmXQiAsUKe3wu9Fte5y6BPj5_t2pYLgdYSbdL9LNdPrcihRXptnDLjkQ77boZtycjZty0BmZbO8HhekmIUDIPBg5bJtiCmUzHitfXsJG9AqTQBYwhm-DB5sHVbfk7JOOmQdxuDjLubhmkBa5dz_Rl3tno79jqIjHFJx4W0rR36ong1aKJUbMw" /></form>
                </div>

        </div>
    </div>


</main>






    </div>

    {% endblock %}

