{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}


<div class="govuk-width-container">
        

    <a class="govuk-back-link" href="4.html">
        Back
    </a>
    
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Complete review</h1>
    
                
                <div class="form-group">
                    <form class="js-disable-on-submit" action="5" method="post">
                                <p class="govuk-body">You're about to ask for more information on this withdrawal notification. This means the applicant will have to clarify and resubmit their withdrawal.</p>
                                <p class="govuk-body">Only ask for more information if you're happy with your comments.</p>


                               
                         
                                    <h2 class="govuk-heading-l">Withdrawal notification questions</h2>
                                    <div class="govuk-grid-column-three-thirds">
                            
                                     
                                            <dl class="govuk-summary-list">
                                                   
                                                     <div class="govuk-summary-list__row">
                                                        <dt class="govuk-summary-list__key">
                                                            Reason for withdrawing</dt>
                                                        <dd class="govuk-summary-list__value">What?</dd>
                                                    </div>
                                                   
                                                                        
                                                                </dl>


<br><br>
                            <input type="hidden" value="Approve" id="ReturnType" name="ReturnType">
                            <button class="govuk-button" type="submit">Ask for more information</button>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KiN1CQ0FRtGkUnyXgzlAToNXsC41saQXps43QwcmNxeLzvke_uWL0aT0FfZ9-7YUJM7CCHWNhIbOC-bbWV78VS0SFchkUicYAl6pz1PEZBaiImCO4Q4GnyxW_DhcDutIvOCLZXAWcuRY_u4dZyJIwKYwN7Pn301QI6MwUu0TITuOJv50bvm0ZwJ-gPGQ4WDUg"></form>
                </div>
    
                <p class="govuk-body">
                    <a class="govuk-link--no-visited-state" href="#">
                    Return to application overview
                    </a>
                </p>
            </div>
        </div>
    </main>
        </div>









{% endblock %}



