{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}


<div class="govuk-width-container">
        

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        You've asked for more information
                    </h1>
                </div>
    
                    
                        <h2 class="govuk-heading-m">
                            What happens next            </h2>
                            <p class="govuk-body">
                                The applicant will clarify and resubmit their withdrawal. Once they resubmit, you'll need to review their updated answers. </p>
                                <p class="govuk-body">
                                    We'll show the resubmitted withdrawal in the 'Feedback' tab with the status 'Feedback received'. </p>
                        
    
                <p class="govuk-body">
                    <a class="govuk-link--no-visited-state" href="#">
                        Return to withdrawal applications             </a>
                </p>          
            </div>
        </div>
    </main>
        </div>






{% endblock %}



