{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}

<div class="govuk-width-container">
        

    <a class="govuk-back-link" href="2.html">
        Back
    </a>
    
    <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
    
                    <h1 class="govuk-heading-xl">Withdrawal notification questions</h1>
    
                </div>
            </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                                        Reason for withdrawing
                                    </h3>
                                    <div class="govuk-tag">
                                        Answer updated
                                    </div>
                                                                    </dt>
                            <dd class="govuk-summary-list__value">
                                <h3 class="govuk-heading-s govuk-!-margin-bottom-1">	
                                    What's the main reason you want to withdraw from the register?</h3>
                                            <details class="govuk-details" role="group">
                                                <summary class="govuk-details__summary" role="button" aria-controls="details-content-a864faa5-8b18-4a92-ba44-ec79109674a3" aria-expanded="false">
                                                    <span class="govuk-details__summary-text">
                                                        View question details
                                                    </span>
                                                </summary>
                                                <div class="govuk-details__text" id="details-content-a864faa5-8b18-4a92-ba44-ec79109674a3" aria-hidden="true">
                                                    <p class="govuk-body">You can tell us more about why you want to withdraw after you select a reason.</p>
                                                </div>
                                            </details>
                                            <p class="govuk-body">
                                               asd
                                            </p>
                                </dd>

                                <dd class="govuk-summary-list__actions">
                                    <p class="govuk-body">
                                        <a class="govuk-link--no-visited-state" href="#">
Add feedback                                        </a>
                                    </p>
                                </dd>

                            </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                                            Completing assessments for registered learners
                                        </h3>
    
                                                                        </dt>
                                <dd class="govuk-summary-list__value">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Will you complete the end-point assessments for all registered learners?</h3>
                                                <details class="govuk-details" role="group">
                                                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-a864faa5-8b18-4a92-ba44-ec79109674a3" aria-expanded="false">
                                                        <span class="govuk-details__summary-text">
                                                            View question details
                                                        </span>
                                                    </summary>
                                                    <div class="govuk-details__text" id="details-content-a864faa5-8b18-4a92-ba44-ec79109674a3" aria-hidden="true">
                                                        <p class="govuk-body">The pipeline shows that your organisation has 0 registered learners.

                                                            This number may vary because of data changes on the individualised learner record (ILR) and certification service.
                                                            
                                                            If your organisation has no registered learners, select 'No'.</p>
                                                    </div>
                                                </details>
                                                <p class="govuk-body">
                                                    asdasd
                                                </p>
                                    </dd>
    
                                    <dd class="govuk-summary-list__actions">
                                        <p class="govuk-body">
                                            <a class="govuk-link--no-visited-state" href="#">
    Add feedback                                        </a>
                                        </p>
                                    </dd>
    
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                                            Communicating your market exit to customers
                                        </h3>
    
                                                                        </dt>
                                <dd class="govuk-summary-list__value">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">How will you communicate your market exit to customers?</h3>
                                                <details class="govuk-details" role="group">
                                                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-6db15bd9-7622-4e5a-846b-eca561f5327c" aria-expanded="false">
                                                        <span class="govuk-details__summary-text">
                                                            View question details
                                                        </span>
                                                    </summary>
                                                    <div class="govuk-details__text" id="details-content-6db15bd9-7622-4e5a-846b-eca561f5327c" aria-hidden="true">
                                                        <p class="govuk-body">You must tell ESFA that you want to withdraw before you tell your customers.</p>
                                                    </div>
                                                </details>
                                                <p class="govuk-body">
                                                   asdasdas
                                                </p>
                                    </dd>
    
                                    <dd class="govuk-summary-list__actions">
                                        <p class="govuk-body">
                                            <a class="govuk-link--no-visited-state" href="#">
    Add feedback                                        </a>
                                        </p>
                                    </dd>
    
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                                            Withdrawal date
                                        </h3>
    
                                                                        </dt>
                                <dd class="govuk-summary-list__value">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">	
                                        When do you want to withdraw from the register?</h3>
                                                <details class="govuk-details" role="group">
                                                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-a1ff1f72-a291-4db8-a885-3a49c4581888" aria-expanded="false">
                                                        <span class="govuk-details__summary-text">
                                                            View question details
                                                        </span>
                                                    </summary>
                                                    <div class="govuk-details__text" id="details-content-a1ff1f72-a291-4db8-a885-3a49c4581888" aria-hidden="true">
                                                        <p class="govuk-body">If you have at least 1 registered learner, the earliest date you can withdraw is 13 Oct 2021.</p>
                                                    </div>
                                                </details>
                                                <p class="govuk-body">
                                                    01/08/2021
                                                </p>
                                    </dd>
    
                                    <dd class="govuk-summary-list__actions">
                                        <p class="govuk-body">
                                            <a class="govuk-link--no-visited-state" href="#">
    Add feedback                                        </a>
                                        </p>
                                    </dd>
    
                                </div>
                               </dl>
                </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <form class="js-disable-on-submit" action="4" method="post">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
    
                                <legend id="IsSectionComplete">
                                    <h2 class="govuk-heading-l">
                                        Is this section complete?
                                    </h2>
                                </legend>
    
                                <span class="govuk-error-message field-validation-valid" data-valmsg-for="IsSectionComplete" data-valmsg-replace="true"></span>
    
                                <div class="govuk-radios govuk-radios--inline">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="options_yes" type="radio" value="True" sfa-validation-for="IsSectionComplete" name="IsSectionComplete">
                                        <label class="govuk-label govuk-radios__label" for="options_yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="options_no" type="radio" value="False" sfa-validation-for="IsSectionComplete" name="IsSectionComplete">
                                        <label class="govuk-label govuk-radios__label" for="options_no">
                                            No
                                        </label>
                                    </div>
                                </div>
    
                            </fieldset>
                        </div>
                        <button class="govuk-button" type="submit">Save</button>
                    
                </div>
            </div>
    
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    <a class="govuk-link--no-visited-state" href="#">
                    Return to application overview
                    </a>
                </p>
            </div>
        </div>
    </main>
        </div>




{% endblock %}


