{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}


<div class="govuk-width-container">
        

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        You've approved this withdrawal notification
                    </h1>
                </div>
    
                    <p class="govuk-body">
                        You've approved this organisation to withdraw from the register of end-point assessment organisations.               </p>
    
                        <h2 class="govuk-heading-m">
                            What happens next            </h2>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>We've sent an email to the applicant confirming this approval.</li>
                                    <li>You'll need to manually remove this organisation from the register of end-point assessment organisations.</li>
                                
                            </ul>
    
                <p class="govuk-body">
                    <a class="govuk-link--no-visited-state" href="#">
                        Return to withdrawal applications             </a>
                </p>          
            </div>
        </div>
    </main>
        </div>






{% endblock %}



