.navigation {
     background: $govuk-link-colour;
     margin: 0;
     text-align: center;
     padding: 0;
     margin-top: -10px;
     position: relative;
     z-index: 10;
     //max-height: 4.075em;
     &.epao {
          background: none;
          //display: inline-block;
          display: block;
          width: 100%;
          .epao-details {
               background: $govuk-link-colour;
               color: white;
               //padding: 20px 0;
               display: inline-block;
               width: 100%;
               p, a {
                    color: white;
                    font-size: 14px;
                    margin: 0;
               }
               
               a {
                    float: right;
                    margin-left: 15px;
                    &:focus {

                         color: $govuk-focus-text-colour;
                        
                    }
               }
          }
          .beta-details {
               height: 2.85em;
               display: inline-block;
               width: 100%;
               .govuk-phase-banner {
                    border-bottom: none;
               }
          }
          .nav {
               display: inline-block;
               width: 100%;
               background: #f0f3f7;
              
               ul li a.govuk-link {
                    color: $govuk-link-colour;
                    text-decoration: none;
                  
                   
                    &:focus {

                         color: $govuk-focus-text-colour;
                         background-color: $govuk-focus-colour;
                        
                    }
                   
               }
          }
     }
     .govuk-width-container {
          text-align: left;
     }
     ul {
          display: inline-block;
        
          width: 100%;
          // float: left;
          margin: 0;
          // padding: 0.5em 0 0.5em 0;
          padding: 0;
          
          li {
               float: left;
               display: inline-block;
               margin: 0 0 0 0;
               &.email-container {
                    float: right;
               }
              
               a.govuk-link {
                    color: white;
                    font-weight: bold;
                    font-size: 1rem;
                   // padding: 1.5em 1em 1.25em 1em;
                    display: block;
                    position: relative;
                    &:focus {

                         color: $govuk-focus-text-colour;
                         background-color: $govuk-focus-colour;
                         
                    }
                    &.selected:focus {
                         color: $govuk-focus-text-colour;
                         background-color: $govuk-focus-colour;
                         
                    }
                  
                   
                    


                         

                    }
               }
          }
     }
}
