{% extends "layout-epaoapplyhome.html" %}

{% block pageTitle %}
About - GOV.UK Prototype Kit
{% endblock %}

{% block content %}



    <div class="govuk-width-container">



<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <form method="post" action="11">
                    <div class="govuk-form-group ">
                        <fieldset class="govuk-fieldset">
                                    <span class="govuk-caption-xl">
                                        ST0005 Adult care worker
                                    </span>
                                <h1 class="govuk-label-wrapper">
                                    <label class="govuk-label govuk-label--xl" for="WR-10">
                                        When do you want to withdraw from the standard version(s)?
                                    </label>
                                </h1>

<p class='govuk-body'>If you have at least 1 registered learner, the earliest date you can withdraw is <span class='das-no-wrap'>12 Oct 2021</span>.</p>
                                <span class="govuk-hint">

                                </span>




<div class="govuk-date-input">
    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="WR-10">Day</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" pattern="[0-9]*" id="WR-10" name="WR-10" value="" />
        </div>
    </div>
    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="WR-10_Month">Month</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" type="number" pattern="[0-9]*" id="WR-10_Month" name="WR-10" value="" />
        </div>
    </div>
    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="WR-10_Year">Year</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" type="number" pattern="[0-9]*" id="WR-10_Year" name="WR-10" value="" />
        </div>
    </div>
</div>
                        </fieldset>
                    </div>



            <button type="submit" class="govuk-button">Save and continue</button>



        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8MqGfJC9H8RPvDmXQiAsUKdqKtHZmWLEq0LS6_5XjKMaa_vNcgUXT4Das2V6EZPbvVm0O2Ay3v9lwdTzNXVAw7IwmgbMYEtLJ5f5b6PNKa7rmMbuSZG3QHM56_wtf57n3vuSDnbqxYTHlDxjYDgHKJ0aeUCSiVCIwMvi9p_P4kp8l52c5wSrUugCC4boY2TJQw" /></form>

        <p class="govuk-body">
                    <a class="govuk-link" href="/Application/3079ee4a-286c-4ed7-9d17-bc795d17763c/Sequences/4/Sections/6">Return to summary</a>
            </p>
        </div>
    </div>
</main>





    </div>
    {% endblock %}


