{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
About - GOV.UK Prototype Kit
{% endblock %}

{% block content %}


    <div class="govuk-width-container">




    <a href="/Application/3079ee4a-286c-4ed7-9d17-bc795d17763c/Sequence/4" class="govuk-back-link">Back to application overview</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">
                        ST0005 Adult care worker
                    </span>
                <h1 class="govuk-heading-xl">Withdrawal notification questions</h1>
                <ol class="app-task-list">
                    <li>
                        <ul class="app-task-list__items app-task-list__items--no-number">
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a class="govuk-link" href="/Application/3079ee4a-286c-4ed7-9d17-bc795d17763c/Sequences/4/Sections/6/Pages/6?__redirectAction=Section">
                                            Reason for withdrawing
                                        </a>
                                    </span>
                                        <strong class="govuk-tag app-task-list__task-custom-tag das-float-right" id="completed">Completed</strong>
                                </li>
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a class="govuk-link" href="/Application/3079ee4a-286c-4ed7-9d17-bc795d17763c/Sequences/4/Sections/6/Pages/7?__redirectAction=Section">
                                            Completing assessments for registered learners
                                        </a>
                                    </span>
                                        <strong class="govuk-tag app-task-list__task-custom-tag das-float-right" id="completed">Completed</strong>
                                </li>
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a class="govuk-link" href="/Application/3079ee4a-286c-4ed7-9d17-bc795d17763c/Sequences/4/Sections/6/Pages/9?__redirectAction=Section">
                                            Communicating your market exit to customers
                                        </a>
                                    </span>
                                        <strong class="govuk-tag app-task-list__task-custom-tag das-float-right" id="completed">Completed</strong>
                                </li>
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a class="govuk-link" href="/Application/3079ee4a-286c-4ed7-9d17-bc795d17763c/Sequences/4/Sections/6/Pages/10?__redirectAction=Section">
                                            Withdrawal date
                                        </a>
                                    </span>
                                        <strong class="govuk-tag app-task-list__task-custom-tag das-float-right" id="completed">Completed</strong>
                                </li>
                        </ul>
                    </li>
                </ol>
                <a href="12" class="govuk-button">Return to application overview</a>
        </div>
    </div>
</main>





    </div>

    {% endblock %}


