{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
About - GOV.UK Prototype Kit
{% endblock %}

{% block content %}







    <div class="govuk-width-container">



<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

                <form method="post">

                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
                            Withdrawal notification submitted
                        </h1>

                        <div class="govuk-panel__body">
                            Your reference number
                            <br>
                            <strong>AAD100524</strong>
                        </div>

                    </div>

                    <p class="govuk-body">
                        We have sent you a confirmation email.
                    </p>

                    <h2 class="govuk-heading-m govuk-!-margin-top-6">
                        What happens next
                    </h2>




                        <p class="govuk-body">
                            We'll review your withdrawal notification within 4 weeks, then email the outcome to you. If any of your answers need clarification, we'll send you a notification by email.
                        </p>
                        <p class="govuk-body">
                            You must not agree to assess any new learners for this standard while we review your withdrawal.
                        </p>
                        <p class="govuk-body">
                            Once you withdraw, your organisation cannot reapply to assess this standard for at least 12 months.
                        </p>

                    <p class="govuk-body">
                        <a href="index" class="govuk-link govuk-link--no-visited-state">Return to account home</a>
                    </p>
                    <p class="govuk-body">
                        <a href="https://www.smartsurvey.co.uk/s/preview/apply-transaction-complete/96ACE3F403A24C262D02A0EA6D0FA7" target="_blank" class="govuk-link">What do you think of this service?</a> (Takes 60 seconds)
                    </p>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8MqGfJC9H8RPvDmXQiAsUKcOM4u_lAdsYmHlNM2_aVyXCRMlT9zkCXOYTEkIMpQEppMXO9zi_0R_TgGbVuAV3QawptZk8G7MCgg5Ct7SBluJp3skngVLJ5TnCn1I_6jqQMKtITcaTuUKi6j4Y5Pe-QKR28JKV2c_rB6Fn8o5oo_b6YD1S7o-0GCZR7Cta16RVg" /></form>

        </div>
    </div>
</main>





    </div>

 
    
    {% endblock %}