{% extends "layout-epaoapplyapp.html" %}

      {% block pageTitle %}
      About - GOV.UK Prototype Kit
      {% endblock %}
      
      {% block content %}
      
      
     
    <div class="govuk-width-container">




        <a class="govuk-back-link" href="/ApplyForWithdrawal/TypeOfWithdrawal">Back</a>
  
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Which standard do you want to withdraw from assessing? </h1>
  
                    <p class="govuk-inset-text">
                        You can only withdraw from one standard at a time.You can select the version(s) of the standard
  you wish to withdraw from assessing on the next page.
                    </p>
  
                        <form method="post" action="5">
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset">
                                          <input min="1" max="50" class="govuk-input govuk-date-input__input govuk-input--width-20" type="text" id="EndMonth" name="EndMonth" value="Start typing to filter standards">
                                          <br />
                                          <br />
  
                                    <div class="govuk-radios">
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="119">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Adult care worker (Level 2)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0005
                                                </span>
                                            </div>
  
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="180">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Arborist (Level 2)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0223
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="300">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Architect (integrated degree) (Level 7)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0533
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="102">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Assistant practitioner (health) (Level 5)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0215
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="294">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Brewer (Level 4)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0580
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="196">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Business administrator (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0070
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="55">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Chartered manager (degree) (Level 6)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0272
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="169">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Chef de partie (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0227
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="93">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Commis chef (Level 2)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0228
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="278">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Customer service specialist (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0071
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="78">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Digital marketer (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0122
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="182">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Forest operative (Level 2)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0224
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="74">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Gas engineering operative (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0155
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="21">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Golf greenkeeper (Level 2)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0209
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="157">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Hair professional (Level 2)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0213
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="103">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Healthcare support worker (Level 2)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0216
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="135">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Heavy vehicle service and maintenance technician (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0068
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="181">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Horticulture or landscape operative (Level 2)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0225
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="138">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Hospitality supervisor (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0230
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="96">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Hospitality team member (Level 2)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0233
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="82">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Infrastructure technician (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0125
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="60">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Insurance practitioner (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0240
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="63">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Insurance professional (Level 4)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0241
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="29">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Investment operations administrator (Level 2)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0179
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="30">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Investment operations specialist (Level 4)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0180
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="33">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Investment operations technician (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0181
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="69">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Land-based service engineer (Level 2)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0242
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="70">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Land-based service engineering technician (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0243
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="118">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Lead adult care worker (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0006
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="59">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Motor vehicle service and maintenance technician (light vehicle) (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0033
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="1">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Network engineer (Level 4)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0127
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="104">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Operations or departmental manager (Level 5)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0385
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="6">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Power network craftsperson (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0156
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="23">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Property maintenance operative (Level 2)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0171
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="36">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Public service operational delivery officer (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0314
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="90">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Rail engineering operative (Level 2)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0317
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="49">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Refrigeration air conditioning and heat pump engineering technician (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0322
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="7">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Relationship manager (banking) (Level 6)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0184
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="140">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Retail team leader (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0326
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="101">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Retailer (Level 2)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0327
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="151">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Senior healthcare support worker (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0217
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="236">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Senior leader (Level 7)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0480
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="139">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Senior production chef (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0232
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="91">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Software tester (Level 4)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0129
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="105">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Team leader or supervisor (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0384
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="100">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Transport planning technician (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0336
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="120">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Travel consultant (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0340
                                                </span>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="SelectedStandardForWithdrawal" name="SelectedStandardForWithdrawal" type="radio" value="155">
                                                <label class="govuk-label govuk-radios__label" for="SelectedStandardForWithdrawal">
                                                    Unified communications technician (Level 3)
                                                </label>
                                                <span class="govuk-hint govuk-radios__hint">
                                                    ST0130
                                                </span>
                                            </div>
                                    </div>
                                </fieldset>
                            </div>
                            <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                                Save and continue
                            </button>
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8MqGfJC9H8RPvDmXQiAsUKeExb-Go-qJbxEmygaTf3mXUP03mU50SzYe3U6kiqex6G-ZG48ujDcX8nFseSmWgihm1CKSVtVmB6XqycyIDcTMy0dSTqI_0Z0MZ0gQz--lUqz6vpQw2cyOph-rnzl8MBW9WWc3-4aWsNXpVOQHe-uxD7lCg63TW5boXIFlxOuAwA" /></form>
                </div>
            </div>
        </main>
  
  
  
  
  
      
      
      
              </div>
      
      
      
          
          
              {% endblock %}
      
      
      