{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
About - GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <a class="govuk-back-link" href="/ApplyForWithdrawal/TypeOfWithdrawal">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Do you want to withdraw from the whole standard or version(s) of the standard? </h1>
                <form action="6">

                <p class="govuk-inset-text">
                  Select either the whole standard or version(s) of the standard from which you wish to withdraw.
                </p>

                {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
                {% from "govuk/components/radios/macro.njk" import govukRadios %}

                {% set textHtml %}
                {{ govukCheckboxes({
                  idPrefix: "waste",
                  name: "waste",
                  fieldset: {
                    legend: {
                      text: "",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--l"
                    }
                  },
                  hint: {
                    text: "You can select one or multiple versions. Selecting all versions will result in withdrawal from the whole standard.
                    The same withdrawal date will apply to all versions selected. If you want to withdraw from more than one version on different dates, you will need to make a separate withdrawal application for each version."

                  },
                  items: [
                    {
                      value: "carcasses",
                      text: "Version 1.0"
                    },
                    {
                      value: "mines",
                      text: "Version 1.1"
                    },
                    {
                      value: "farm",
                      text: "Version 1.2"
                    }
                  ]
                }) }}

                {% endset -%}

                {{ govukRadios({
                  idPrefix: "contact",
                  name: "contact",
                  fieldset: {
                    legend: {
                      text: "",
                      isPageHeading: true,
                      classes: "govuk-fieldset__legend--l"
                    }
                  },
                  hint: {
                    text: "Select one option."
                  },
                  items: [

                    {
                      value: "phone",
                      text: "Whole standard"

                    },
                    {
                      value: "text",
                      text: "Version(s) of the standard",
                      conditional: {
                        html: textHtml
                      }
                    }
                  ]
                }) }}













<button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                      Save and continue
                  </button>
              <input name="__RequestVerificationToken" type="hidden" value="CfDJ8MqGfJC9H8RPvDmXQiAsUKeExb-Go-qJbxEmygaTf3mXUP03mU50SzYe3U6kiqex6G-ZG48ujDcX8nFseSmWgihm1CKSVtVmB6XqycyIDcTMy0dSTqI_0Z0MZ0gQz--lUqz6vpQw2cyOph-rnzl8MBW9WWc3-4aWsNXpVOQHe-uxD7lCg63TW5boXIFlxOuAwA" /></form>
      </div>
  </div>
</main>












</div>



    
    
{% endblock %}


