{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
About - GOV.UK Prototype Kit
{% endblock %}

{% block content %}


    <div class="govuk-width-container">






<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <form method="post" action="9">
              <div class="govuk-form-group ">
                  <fieldset class="govuk-fieldset">
                          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                  <span class="govuk-caption-xl">
                                      ST0005 Adult care worker
                                  </span>
                              <h1 class="govuk-fieldset__heading">
                                  What's the main reason you want to withdraw from assessing this version(s)?
                              </h1>
                          </legend>

<p class='govuk-body'>You can tell us more about why you want to withdraw after you select a reason.</p>
                          <span class="govuk-hint">

                          </span>




<div class="govuk-form-group">

<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
              <input
                  class="govuk-radios__input"
                  type="radio"
                  id="WR-06"
                  name="WR-06"
                  value="AssessmentPlanHasChanged"
                  data-aria-controls="conditional-WR-06"

              />
          <label class="govuk-label govuk-radios__label" for="WR-06">Assessment plan has changed</label>
      </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-WR-06">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="WR-06.1">Enter more details (optional)</label>
                      <span id="WR-06.1-hint" class="govuk-hint govuk-radios__hint">

                      </span>



<textarea class="govuk-textarea govuk-!-margin-bottom-0 "
        id="WR-06.1"
        name="WR-06.1"
        rows="5"
        aria-describedby="Enter more details (optional)"
        maxlength="10000"></textarea>

              </div>
          </div>
      <div class="govuk-radios__item">
              <input
                  class="govuk-radios__input"
                  type="radio"
                  id="WR-06_1"
                  name="WR-06"
                  value="Competitors"
                  data-aria-controls="conditional-WR-06_1"

              />
          <label class="govuk-label govuk-radios__label" for="WR-06_1">Competitors</label>
      </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-WR-06_1">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="WR-06.2">Enter more details (optional)</label>
                      <span id="WR-06.2-hint" class="govuk-hint govuk-radios__hint">

                      </span>



<textarea class="govuk-textarea govuk-!-margin-bottom-0 "
        id="WR-06.2"
        name="WR-06.2"
        rows="5"
        aria-describedby="Enter more details (optional)"
        maxlength="10000"></textarea>

              </div>
          </div>
      <div class="govuk-radios__item">
              <input
                  class="govuk-radios__input"
                  type="radio"
                  id="WR-06_2"
                  name="WR-06"
                  value="ConditionsOfAcceptanceHaveChanged"
                  data-aria-controls="conditional-WR-06_2"

              />
          <label class="govuk-label govuk-radios__label" for="WR-06_2">Conditions of acceptance have changed</label>
      </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-WR-06_2">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="WR-06.3">Enter more details (optional)</label>
                      <span id="WR-06.3-hint" class="govuk-hint govuk-radios__hint">

                      </span>



<textarea class="govuk-textarea govuk-!-margin-bottom-0 "
        id="WR-06.3"
        name="WR-06.3"
        rows="5"
        aria-describedby="Enter more details (optional)"
        maxlength="10000"></textarea>

              </div>
          </div>
      <div class="govuk-radios__item">
              <input
                  class="govuk-radios__input"
                  type="radio"
                  id="WR-06_3"
                  name="WR-06"
                  value="CostsAreTooHigh"
                  data-aria-controls="conditional-WR-06_3"

              />
          <label class="govuk-label govuk-radios__label" for="WR-06_3">Costs are too high</label>
      </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-WR-06_3">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="WR-06.4">Enter more details (optional)</label>
                      <span id="WR-06.4-hint" class="govuk-hint govuk-radios__hint">

                      </span>



<textarea class="govuk-textarea govuk-!-margin-bottom-0 "
        id="WR-06.4"
        name="WR-06.4"
        rows="5"
        aria-describedby="Enter more details (optional)"
        maxlength="10000"></textarea>

              </div>
          </div>
      <div class="govuk-radios__item">
              <input
                  class="govuk-radios__input"
                  type="radio"
                  id="WR-06_4"
                  name="WR-06"
                  value="ExternalQualityAssuranceProviderHasChanged"
                  data-aria-controls="conditional-WR-06_4"

              />
          <label class="govuk-label govuk-radios__label" for="WR-06_4">External quality assurance provider has changed</label>
      </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-WR-06_4">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="WR-06.5">Enter more details (optional)</label>
                      <span id="WR-06.5-hint" class="govuk-hint govuk-radios__hint">

                      </span>



<textarea class="govuk-textarea govuk-!-margin-bottom-0 "
        id="WR-06.5"
        name="WR-06.5"
        rows="5"
        aria-describedby="Enter more details (optional)"
        maxlength="10000"></textarea>

              </div>
          </div>
      <div class="govuk-radios__item">
              <input
                  class="govuk-radios__input"
                  type="radio"
                  id="WR-06_5"
                  name="WR-06"
                  value="FundingBandHasChanged"
                  data-aria-controls="conditional-WR-06_5"

              />
          <label class="govuk-label govuk-radios__label" for="WR-06_5">Funding band has changed</label>
      </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-WR-06_5">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="WR-06.6">Enter more details (optional)</label>
                      <span id="WR-06.6-hint" class="govuk-hint govuk-radios__hint">

                      </span>



<textarea class="govuk-textarea govuk-!-margin-bottom-0 "
        id="WR-06.6"
        name="WR-06.6"
        rows="5"
        aria-describedby="Enter more details (optional)"
        maxlength="10000"></textarea>

              </div>
          </div>
      <div class="govuk-radios__item">
              <input
                  class="govuk-radios__input"
                  type="radio"
                  id="WR-06_6"
                  name="WR-06"
                  value="LackOfAssessors"
                  data-aria-controls="conditional-WR-06_6"

              />
          <label class="govuk-label govuk-radios__label" for="WR-06_6">Lack of assessors</label>
      </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-WR-06_6">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="WR-06.7">Enter more details (optional)</label>
                      <span id="WR-06.7-hint" class="govuk-hint govuk-radios__hint">

                      </span>



<textarea class="govuk-textarea govuk-!-margin-bottom-0 "
        id="WR-06.7"
        name="WR-06.7"
        rows="5"
        aria-describedby="Enter more details (optional)"
        maxlength="10000"></textarea>

              </div>
          </div>
      <div class="govuk-radios__item">
              <input
                  class="govuk-radios__input"
                  type="radio"
                  id="WR-06_7"
                  name="WR-06"
                  value="LackOfLearners"
                  data-aria-controls="conditional-WR-06_7"

              />
          <label class="govuk-label govuk-radios__label" for="WR-06_7">Lack of learners</label>
      </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-WR-06_7">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="WR-06.8">Enter more details (optional)</label>
                      <span id="WR-06.8-hint" class="govuk-hint govuk-radios__hint">

                      </span>



<textarea class="govuk-textarea govuk-!-margin-bottom-0 "
        id="WR-06.8"
        name="WR-06.8"
        rows="5"
        aria-describedby="Enter more details (optional)"
        maxlength="10000"></textarea>

              </div>
          </div>
      <div class="govuk-radios__item">
              <input
                  class="govuk-radios__input"
                  type="radio"
                  id="WR-06_8"
                  name="WR-06"
                  value="OrganisationalChanges"
                  data-aria-controls="conditional-WR-06_8"

              />
          <label class="govuk-label govuk-radios__label" for="WR-06_8">Organisational changes</label>
      </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-WR-06_8">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="WR-06.9">Enter more details (optional)</label>
                      <span id="WR-06.9-hint" class="govuk-hint govuk-radios__hint">

                      </span>



<textarea class="govuk-textarea govuk-!-margin-bottom-0 "
        id="WR-06.9"
        name="WR-06.9"
        rows="5"
        aria-describedby="Enter more details (optional)"
        maxlength="10000"></textarea>

              </div>
          </div>
      <div class="govuk-radios__item">
              <input
                  class="govuk-radios__input"
                  type="radio"
                  id="WR-06_9"
                  name="WR-06"
                  value="Other"
                  data-aria-controls="conditional-WR-06_9"

              />
          <label class="govuk-label govuk-radios__label" for="WR-06_9">Other</label>
      </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-WR-06_9">
              <div class="govuk-form-group">
                  <label class="govuk-label" for="WR-06.10">Enter the reason</label>
                      <span id="WR-06.10-hint" class="govuk-hint govuk-radios__hint">

                      </span>



<textarea class="govuk-textarea govuk-!-margin-bottom-0 "
        id="WR-06.10"
        name="WR-06.10"
        rows="5"
        aria-describedby="Enter the reason"
        maxlength="10000"></textarea>

              </div>
          </div>
</div>
</div>
                  </fieldset>
              </div>



      <button type="submit" class="govuk-button">Save and continue</button>



  <input name="__RequestVerificationToken" type="hidden" value="CfDJ8MqGfJC9H8RPvDmXQiAsUKdPrOjlDFoT3SKAamYs_bEYw5x1HIR1XygNcn5dfGnWfqPfaD96e0u3S7b7yCYpHF1VDuEE0T2XK8YIaUPqwunGN7SpwJ5yg2dsFERIzDGwjGZB1gi2BmQbMA4mq2qt8fcFuKz-oIX1eV-E93-PSiSPix4tov9kBIwrkLt9xfTX9g" /></form>

  <p class="govuk-body">
              <a class="govuk-link" href="/Application/3079ee4a-286c-4ed7-9d17-bc795d17763c/Sequences/4/Sections/6">Return to summary</a>
      </p>
  </div>
</div>
</main>




</div>



    
    
{% endblock %}


