{% extends "layout-epaoapplyhome.html" %}

{% block pageTitle %}
About - GOV.UK Prototype Kit
{% endblock %}

{% block content %}


    <div class="govuk-width-container">







<main class="govuk-main-wrapper " id="main-content" role="main">
<div class="govuk-grid-row">
 <div class="govuk-grid-column-two-thirds">
 <form method="post" novalidate enctype="multipart/form-data" action="10">
             <div class="govuk-form-group ">
                 <fieldset class="govuk-fieldset">
                         <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                 <span class="govuk-caption-xl">
                                     ST0005 Adult care worker
                                 </span>
                             <h1 class="govuk-fieldset__heading">
                                 Will you complete the end-point assessments for all registered learners?
                             </h1>
                         </legend>

<p class="govuk-body">The pipeline shows that your organisation has 0 registered learners.</p><p class="govuk-body">This number may vary because of data changes on the Individualised Learner Record (ILR) and certification service.</p><p class="govuk-body">If your organisation has no registered learners, select 'No'.</p>
                         <span class="govuk-hint">

                         </span>




<div class="govuk-form-group">

<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
     <div class="govuk-radios__item">
             <input
                 class="govuk-radios__input"
                 type="radio"
                 id="WR-07"
                 name="WR-07"
                 value="Yes"
                 data-aria-controls="conditional-WR-07"

             />
         <label class="govuk-label govuk-radios__label" for="WR-07">Yes</label>
     </div>
         <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-WR-07">
         </div>
     <div class="govuk-radios__item">
             <input
                 class="govuk-radios__input"
                 type="radio"
                 id="WR-07_1"
                 name="WR-07"
                 value="No"
                 data-aria-controls="conditional-WR-07_1"

             />
         <label class="govuk-label govuk-radios__label" for="WR-07_1">No</label>
     </div>
         <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-WR-07_1">
         </div>
</div>
</div>
                 </fieldset>
             </div>



     <button type="submit" class="govuk-button">Save and continue</button>



 <input name="__RequestVerificationToken" type="hidden" value="CfDJ8MqGfJC9H8RPvDmXQiAsUKf8R08rgPFxnZRFzeMK9Cd_-T2o4AkHZkuoV8gORKFajzzpduVMmr67lgU6Qt359XuRrEwbID5X4GZg00_pjfoEutIvOX3uHj_0FVlBp5xQp5gmaXnhWtdLhqtdwuZ7r7NlIIshYSrfDYLAxUHQ5MxSYo9NIvmNQSMrNMAcJBu9dw" /></form>

 <p class="govuk-body">
             <a class="govuk-link" href="/Application/3079ee4a-286c-4ed7-9d17-bc795d17763c/Sequences/4/Sections/6">Return to summary</a>
     </p>
 </div>
</div>
</main>





</div>

    
{% endblock %}


