<h2><a target="_blank" href="http://localhost:3000/sprint-4-beta/withdraw/">Provider Withdraw</a></h2>
<br />

<h2><a target="_blank" href="http://localhost:3000/sprint-4-beta/withdraw/feedback">Provider Feedback</a></h2>
<br />
<h2><a target="_blank"  href="http://localhost:3000/sprint-4-beta/withdraw/staff">Staff Authorise</a></h2>
<br />
<h2><a target="_blank"  href="http://localhost:3000/sprint-4-beta/withdraw/staff/manual">Staff Manual Removal</a></h2>
<br />
<h2><a target="_blank"  href="http://localhost:3000/sprint-4-beta/withdraw/staff/feedback"> Staff Feedback</a></h2>
