
{% extends "layout-email.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
     <div class="email-banner">
          <img src="/public/images/ESFA-logo.jpg" alt="Education & Skills Funding Agency">
     </div>
{% endblock %}

{% block content %}

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
               <h1 class="govuk-heading-m">
                    Apprenticeship standards upcoming changes
                    <br>
                    <br>
                    Hi "NAME",
               </h1>

               <p class="govuk-body">
                    Please find below planned updates to your apprenticeship standards:
               </p>

               <hr>

               <!-- Entry 1 - START -->
               <p>
                    <a href="#" class="govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-24">Compressed air and vacuum technician</a>
               </p>

               <p class="govuk-body">
                    There are <strong>4</strong> upcoming changes to Compressed air and vacuum technician. Planned live date for these change <strong>10/09/2020</strong>.
               </p>

               <p class="govuk-body">
                    You currently have <strong>67 apprentices</strong> on this standard. <strong>4 Employers</strong> are using this standard.
               </p>

               <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">
                    4 changes
               </p>

               <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">
                    Header change
               </p>

               <p>
                    <span class="govuk-caption-m">What's changing?</span>
                    <strong class="govuk-tag govuk-tag--red">Compressed air and vacuum specialist</strong> changing to <strong class="govuk-tag govuk-tag--green">Compressed air and vacuum technician</strong><br>
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Visit IfATE to find out more</a>
               </p>

               <p>
                    <span class="govuk-caption-m">When will it update?</span>
                    26/08/20
               </p>

               <p>
                    <span class="govuk-caption-m">Why is it changing?</span>
                    Standard name and description is being reviewed to better reflect the role.
               </p>

               {% from "govuk/components/button/macro.njk" import govukButton %}

               {{ govukButton({
                    text: "View changes",
                    classes: "no-bottom-margin",
                    href: "#"
               }) }}
               <!-- Entry 1 - END -->

               <hr>

               <!-- Entry 2 - START -->
               <p>
                    <a href="#" class="govuk-body govuk-!-font-weight-bold govuk-body govuk-!-font-size-24">Systems thinking practitioner</a>
               </p>

               <p class="govuk-body">
                    There are <strong>4</strong> upcoming changes to Compressed air and vacuum technician. Planned live date for these change <strong>10/09/2020</strong>.
               </p>

               <p class="govuk-body">
                    You currently have <strong>67 apprentices</strong> on this standard. <strong>4 Employers</strong> are using this standard.
               </p>

               <p class="govuk-body govuk-!-font-size-24 govuk-!-font-weight-bold">
                    4 changes
               </p>

               <p class="govuk-body govuk-!-font-size-19 govuk-!-font-weight-bold">
                    Header change
               </p>

               <p>
                    <span class="govuk-caption-m">What's changing?</span>
                    <strong class="govuk-tag govuk-tag--red">Compressed air and vacuum specialist</strong> changing to <strong class="govuk-tag govuk-tag--green">Compressed air and vacuum technician</strong><br>
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Visit IfATE to find out more</a>
               </p>

               <p>
                    <span class="govuk-caption-m">When will it update?</span>
                    26/08/20
               </p>

               <p>
                    <span class="govuk-caption-m">Why is it changing?</span>
                    Standard name and description is being reviewed to better reflect the role.
               </p>

               {% from "govuk/components/button/macro.njk" import govukButton %}

               {{ govukButton({
                    text: "View changes",
                    href: "#"
               }) }}
               <!-- Entry 2 - END -->

          </div>

     </div>

{% endblock %}
