<h2 class="govuk-heading-l" id="sprint-12">
     <span class="govuk-tag">LATEST</span><br>
     Sprint 6
     <span class="govuk-caption-l">
          29th September &mdash; 12th October 2020
     </span>
</h2>

<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <p class="govuk-body govuk-!-font-weight-bold">
               Prototypes
          </p>

          <p>Training providers</p>
          <ul class="govuk-list govuk-list--bullet">
               <li><a href="/sprint-4/training-providers/" class="govuk-link govuk-link--no-visited-state">Standard versioning journey</a></li>
          </ul>

          <p>Email design</p>
          <ul class="govuk-list govuk-list--bullet">
               <li><a href="/sprint-4/emails/email-V1" class="govuk-link govuk-link--no-visited-state">Email - combination of detail</a></li>
               <li><a href="/sprint-4/emails/email-V2" class="govuk-link govuk-link--no-visited-state">Email - little detail</a></li>
               <li><a href="/sprint-4/emails/email-V3" class="govuk-link govuk-link--no-visited-state">Email - more detail</a></li>
          </ul>

          <p>Sketches</p>
          <ul class="govuk-list govuk-list--bullet">
               <li><a href="https://miro.com/app/board/o9J_knrYWq4=/" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">Initial prototypes - Miro</a></li>
          </ul>

          <p class="govuk-body govuk-!-font-weight-bold">
               Initial analysis
          </p>
          {{ govukDetails({
               summaryText: "Sprint design goals",
               html: "<table class='govuk-table'>
                    <thead class='govuk-table__head'>
                         <tr class='govuk-table__row'>
                              <th scope='col' class='govuk-table__header'>What we're doing</th>
                              <th scope='col' class='govuk-table__header'>Why we're doing it</th>
                         </tr>
                    </thead>
                    <tbody class='govuk-table__body'>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Discovering what a version is</td>
                              <td class='govuk-table__cell'>To help us define the scope of the project</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Discovering what the problem is</td>
                              <td class='govuk-table__cell'>To enable us to design the right solution for our users</td>
                         </tr>
                    </tbody>
               </table>"
          }) }}
          <p class="govuk-body govuk-!-font-weight-bold">
               Mapping out the "revise a standard" journey
          </p>
          <ul class="govuk-list govuk-list--bullet">
               <li><a href="https://docs.google.com/document/d/19Tb28e_IaAMXfyqHuWYhAJhu2F3R0gGgNAS2K-Olxw0/edit" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">Design principles</a></li>
               <li><a href="https://miro.com/app/board/o9J_krZi8NM=/?moveToWidget=3074457348383734896" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">UX pre-alpha board</a></li>
               <li><a href="https://miro.com/app/board/o9J_kra_EVg=/?moveToWidget=3074457348955977531&cot=13" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">Lean UX canvas</a></li>
          </ul>
     </div>
</div>
