
<!--OLD
<a href="/sprint-12/add-apprentice1/6a-approve" class="image-demo">
  <img src="/public/images/Jrny-6.png" width="auto" height="auto" />
</a>
-->
{% extends "layout-image.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<img src="/public/images/Employer-Nav.png"  width="auto" height="auto" />
<div class="govuk-width-container">
    <a class="govuk-back-link" href="5-add-full-details">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <!--<h1 class="govuk-heading-xl">
                Select standard options
                <span class="govuk-caption-xl"></span>
            </h1>-->
        </div>
    </div>




{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
idPrefix: "where-do-you-live",
name: "where-do-you-live",
fieldset: {
legend: {
  text: "Select an option",
  isPageHeading: true,
  classes: "govuk-fieldset__legend--l"
}
},
hint: {
text: "You must choose an option where it is available for a standard. If you're unsure, confirm at a later date."
},
items: [
{
  value: "england",
  text: "Advanced butchery"
},
{
  value: "scotland",
  text: "Temperature control"
},
{
  divider: "or"
},
{
  value: "abroad",
  text: "Confirm option at a later date"
}
]
}) }}

       <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <a class="govuk-button" href="6-approve">Save and Submit</a>
                <p>
                <!--  <a href="#" class="govuk-link">Save and exit</a>-->
               </p>

      </main>
  </div>







{% endblock %}
