
<!--OLD
<a href="/sprint-12/add-apprentice1/6a-approve" class="image-demo">
  <img src="/public/images/Jrny-6.png" width="auto" height="auto" />
</a>
-->
{% extends "layout-image.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <a class="govuk-back-link" href="5-add-full-details">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Approve apprentice details
                <span class="govuk-caption-xl"></span>
            </h1>
        </div>
    </div>
<h2>Provider details </h2>

              <table class="govuk-table das-table--responsive">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header das-table-cell-width-25">Orgnisation</th>
                        <th scope="col" class="govuk-table__header das-table-cell-width-25">Reference</th>
                        <th scope="col" class="govuk-table__header das-table-cell-width-30">Provider</th>

                        <th scope="col" class="govuk-table__header das-table-cell-width-10"><span class="govuk-visually-hidden">Action</span></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">Company X</td>
                            <td class="govuk-table__cell" data-label="Date of birth">JKBRLW</td>
                            <td class="govuk-table__cell" data-label="Training dates">Bournemouth University</td>
                                                   </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                <a class="govuk-link edit-apprentice" href="/KK6WKG/unapproved/GXY4GG/apprentices/JJYDD6">
                                    Edit
                                    <span class="govuk-visually-hidden">Colouring By number K's details</span>
                                </a>
                                <br /><br />
                                    <a class="govuk-link delete-apprentice" href="/KK6WKG/unapproved/GXY4GG/apprentices/JJYDD6/Delete?Origin=CohortDetails">
                                        Delete <span class="govuk-visually-hidden">Colouring By number K's details</span>
                                    </a>
                            </td>
                        </tr>
                </tbody>
            </table>

            <table class="govuk-table das-table--responsive">
              <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header das-table-cell-width-25">Standard</th>
                      <th scope="col" class="govuk-table__header das-table-cell-width-25">Level</th>
                      <th scope="col" class="govuk-table__header das-table-cell-width-30">Version</th>

                      <th scope="col" class="govuk-table__header das-table-cell-width-10"><span class="govuk-visually-hidden">Action</span></th>
                  </tr>
              </thead>
              <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell" data-label="Name">Power network craftsperson</td>
                          <td class="govuk-table__cell" data-label="Date of birth">3</td>
                          <td class="govuk-table__cell" data-label="Training dates">1.1</td>
                                                 </td>
                          <td class="govuk-table__cell govuk-table__cell--numeric">
                              <a class="govuk-link edit-apprentice" href="/KK6WKG/unapproved/GXY4GG/apprentices/JJYDD6">
                                  Edit
                                  <span class="govuk-visually-hidden">Colouring By number K's details</span>
                              </a>
                              <br /><br />
                                  <a class="govuk-link delete-apprentice" href="/KK6WKG/unapproved/GXY4GG/apprentices/JJYDD6/Delete?Origin=CohortDetails">
                                      Delete <span class="govuk-visually-hidden">Colouring By number K's details</span>
                                  </a>
                          </td>
                      </tr>
              </tbody>
          </table>


            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2>Apprenticeship details</h2>
                    <dl class="govuk-summary-list">



                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Standard
                          </dt>
                          <dd class="govuk-summary-list__value">
                                Power network craftsperson
                          </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Level
                          </dt>
                          <dd class="govuk-summary-list__value">
                              3
                          </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Version
                          </dt>
                          <dd class="govuk-summary-list__value">
                             1.1
                          </dd>
                      </div>

                    </div>
                </div>










            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                        Is this the main provider of the apprenticeship training?
                    </h1>
                </legend>
                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="UseThisProvider" name="UseThisProvider" type="radio" value="true">
                        <label class="govuk-label govuk-radios__label" for="UseThisProvider">
                            Yes, use SOUTHAMPTON ENGINEERING TRAINING ASSOCIATION LIMITED (THE)
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="UseThisProvider-no" name="UseThisProvider" type="radio" value="false">
                        <label class="govuk-label govuk-radios__label" for="UseThisProvider-no">
                            No, change UK Provider Reference Number
                        </label>
                    </div>
                </div>
            </fieldset>


       <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <a class="govuk-button" href="#">Save and Submit</a>
                <p>
                  <a href="#" class="govuk-link">Save and exit</a>
               </p>

      </main>
  </div>







{% endblock %}
