
<!--OLD
<a href="/sprint-12/add-apprentice1/6a-approve" class="image-demo">
  <img src="/public/images/Jrny-6.png" width="auto" height="auto" />
</a>
-->
{% extends "layout-image.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <a class="govuk-back-link" href="5-add-full-details">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Approve apprentice details
                <span class="govuk-caption-xl"></span>
            </h1>
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <!--  <h2 class="govuk-heading-l">Apprenticeship details</h2>-->
            <dl class="govuk-summary-list">


              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Organisation
                  </dt>
                  <dd class="govuk-summary-list__value">
                       Tiles House LTD
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Reference
                  </dt>
                  <dd class="govuk-summary-list__value">
                       JKBRLW
                  </dd>
              </div>

              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Provider
                  </dt>
                  <dd class="govuk-summary-list__value">
                      Bournemouth University
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Standard
                  </dt>
                  <dd class="govuk-summary-list__value">
                        Power network craftsperson
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Level
                  </dt>
                  <dd class="govuk-summary-list__value">
                      3
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                      Version
                  </dt>
                  <dd class="govuk-summary-list__value">
                     1.1
                  </dd>
              </div>

            </div>
        </div>


              <table class="govuk-table das-table--responsive">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header das-table-cell-width-10">Name</th>
                        <th scope="col" class="govuk-table__header das-table-cell-width-10">Date of birth</th>
                        <th scope="col" class="govuk-table__header das-table-cell-width-10">Training dates</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric das-table-cell-width-10" style="text-align:left;">Price</th>
                          <th scope="col" class="govuk-table__header govuk-table__header--numeric das-table-cell-width-25" style="text-align:left;">Select Option(s)</th>

                    </tr>
                </thead>
                <tbody class="govuk-table__body">

                  <tr class="govuk-table__row">
                       <td class="govuk-table__cell" data-label="Name" style="border-bottom:none;">Jane Doe</td>
                       <td class="govuk-table__cell" data-label="Date of birth" style="border-bottom:none;">15 April 1990</td>
                       <td class="govuk-table__cell" data-label="Training dates" style="border-bottom:none;">Sep 2021 to Mar 2023</td>
                       <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Price" style="text-align:left; border-bottom:none;">&#xA3;1,400
                          <!-- <td style="border-bottom:1px solid gray;">-->
                        <td>


                       {% from "govuk/components/radios/macro.njk" import govukRadios %}

           {{ govukRadios({
             classes: "govuk-radios--small",
             idPrefix: "changed-name",
             name: "changed-name",
             fieldset: {
               legend: {
                 text: "",
                 isPageHeading: false,
                 classes: "govuk-fieldset__legend--m"
               }
             },
             items: [
               {
                 value: "month",
                 text: "Option 1"
               }
             ]
           }) }}
                     </td>
                     <tr>

                       <td style="border-bottom:1px solid gray;"></td>
                          <td style="border-bottom:1px solid gray;"></td>
                             <td style="border-bottom:1px solid gray;"></td>
                             <td style="border-bottom:1px solid gray;"><a href="">Edit </a></td>
                       <td style="border-bottom:1px solid gray;"><a href="">Delete </a></td>
                       </tr>






                     <!--  <td class="govuk-table__cell govuk-table__cell--numeric">
                           <a class="govuk-link edit-apprentice" href="/KK6WKG/unapproved/GXY4GG/apprentices/JJYDD6">
                               Edit
                               <span class="govuk-visually-hidden">Colouring By number K's details</span>
                           </a>
                           <br /><br />
                               <a class="govuk-link delete-apprentice" href="/KK6WKG/unapproved/GXY4GG/apprentices/JJYDD6/Delete?Origin=CohortDetails">
                                   Delete <span class="govuk-visually-hidden">Colouring By number K's details</span>
                               </a>
                       </td>-->
                       </tr>
                       <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">Rajesh Damodraram</td>
                            <td class="govuk-table__cell" data-label="Date of birth">7 Mar 1975</td>
                            <td class="govuk-table__cell" data-label="Training dates">Sep 2021 to Mar 2023</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Price"  style="text-align:left;">&#xA3;1,400
                            <td style="border-bottom:1px solid gray;">

                            {% from "govuk/components/radios/macro.njk" import govukRadios %}

                {{ govukRadios({
                  classes: "govuk-radios--small",
                  idPrefix: "changed-name",
                  name: "changed-name",
                  fieldset: {
                    legend: {
                      text: "",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--m"
                    }
                  },
                  items: [
                    {
                      value: "month",
                      text: "Option 1"
                    },
                    {
                      value: "year",
                      text: "Option 2"
                    }
                  ]
                }) }}
                          </td>










                          <!--  <td class="govuk-table__cell govuk-table__cell--numeric">
                                <a class="govuk-link edit-apprentice" href="/KK6WKG/unapproved/GXY4GG/apprentices/JJYDD6">
                                    Edit
                                    <span class="govuk-visually-hidden">Colouring By number K's details</span>
                                </a>
                                <br /><br />
                                    <a class="govuk-link delete-apprentice" href="/KK6WKG/unapproved/GXY4GG/apprentices/JJYDD6/Delete?Origin=CohortDetails">
                                        Delete <span class="govuk-visually-hidden">Colouring By number K's details</span>
                                    </a>
                            </td>-->
                            </tr>


                </tbody>
            </table>




            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <!--  <h2 class="govuk-heading-l">Apprenticeship details</h2>-->
                    <dl class="govuk-summary-list">


                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Organisation
                          </dt>
                          <dd class="govuk-summary-list__value">
                               Tiles House LTD
                          </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Reference
                          </dt>
                          <dd class="govuk-summary-list__value">
                               JKBRLW
                          </dd>
                      </div>

                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Provider
                          </dt>
                          <dd class="govuk-summary-list__value">
                              Bournemouth University
                          </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Standard
                          </dt>
                          <dd class="govuk-summary-list__value">
                                Power network craftsperson
                          </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Level
                          </dt>
                          <dd class="govuk-summary-list__value">
                              3
                          </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                          <dt class="govuk-summary-list__key">
                              Version
                          </dt>
                          <dd class="govuk-summary-list__value">
                             1.1
                          </dd>
                      </div>

                    </div>
                </div>





                <table class="govuk-table das-table--responsive">
                  <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header das-table-cell-width-10">Name</th>
                          <th scope="col" class="govuk-table__header das-table-cell-width-10">Date of birth</th>
                          <th scope="col" class="govuk-table__header das-table-cell-width-10">Training dates</th>
                          <th scope="col" class="govuk-table__header govuk-table__header--numeric das-table-cell-width-10" style="text-align:left;">Price</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric das-table-cell-width-25" style="text-align:left;">Select Option(s)</th>

                      </tr>
                  </thead>
                  <tbody class="govuk-table__body">

                    <tr class="govuk-table__row">
                         <td class="govuk-table__cell" data-label="Name" style="border-bottom:none;">Jane Doe</td>
                         <td class="govuk-table__cell" data-label="Date of birth" style="border-bottom:none;">15 April 1990</td>
                         <td class="govuk-table__cell" data-label="Training dates" style="border-bottom:none;">Sep 2021 to Mar 2023</td>
                         <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Price" style="text-align:left; border-bottom:none;">&#xA3;1,400
                            <!-- <td style="border-bottom:1px solid gray;">-->
                          <td>


                         {% from "govuk/components/radios/macro.njk" import govukRadios %}

             {{ govukRadios({
               classes: "govuk-radios--small",
               idPrefix: "changed-name",
               name: "changed-name",
               fieldset: {
                 legend: {
                   text: "",
                   isPageHeading: false,
                   classes: "govuk-fieldset__legend--m"
                 }
               },
               items: [
                 {
                   value: "month",
                   text: "Option 1"
                 }
               ]
             }) }}
                       </td>
                       <tr>

                         <td style="border-bottom:1px solid gray;"></td>
                            <td style="border-bottom:1px solid gray;"></td>
                               <td style="border-bottom:1px solid gray;"></td>
                               <td style="border-bottom:1px solid gray;"><a href="">Edit </a></td>
                         <td style="border-bottom:1px solid gray;"><a href="">Delete </a></td>
                         </tr>






                       <!--  <td class="govuk-table__cell govuk-table__cell--numeric">
                             <a class="govuk-link edit-apprentice" href="/KK6WKG/unapproved/GXY4GG/apprentices/JJYDD6">
                                 Edit
                                 <span class="govuk-visually-hidden">Colouring By number K's details</span>
                             </a>
                             <br /><br />
                                 <a class="govuk-link delete-apprentice" href="/KK6WKG/unapproved/GXY4GG/apprentices/JJYDD6/Delete?Origin=CohortDetails">
                                     Delete <span class="govuk-visually-hidden">Colouring By number K's details</span>
                                 </a>
                         </td>-->
                         </tr>
                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell" data-label="Name">Rajesh Damodraram</td>
                              <td class="govuk-table__cell" data-label="Date of birth">7 Mar 1975</td>
                              <td class="govuk-table__cell" data-label="Training dates">Sep 2021 to Mar 2023</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Price"  style="text-align:left;">&#xA3;1,400
                              <td style="border-bottom:1px solid gray;">

                              {% from "govuk/components/radios/macro.njk" import govukRadios %}

                  {{ govukRadios({
                    classes: "govuk-radios--small",
                    idPrefix: "changed-name",
                    name: "changed-name",
                    fieldset: {
                      legend: {
                        text: "",
                        isPageHeading: false,
                        classes: "govuk-fieldset__legend--m"
                      }
                    },
                    items: [
                      {
                        value: "month",
                        text: "Option 1"
                      },
                      {
                        value: "year",
                        text: "Option 2"
                      }
                    ]
                  }) }}
                            </td>










                            <!--  <td class="govuk-table__cell govuk-table__cell--numeric">
                                  <a class="govuk-link edit-apprentice" href="/KK6WKG/unapproved/GXY4GG/apprentices/JJYDD6">
                                      Edit
                                      <span class="govuk-visually-hidden">Colouring By number K's details</span>
                                  </a>
                                  <br /><br />
                                      <a class="govuk-link delete-apprentice" href="/KK6WKG/unapproved/GXY4GG/apprentices/JJYDD6/Delete?Origin=CohortDetails">
                                          Delete <span class="govuk-visually-hidden">Colouring By number K's details</span>
                                      </a>
                              </td>-->
                              </tr>


                  </tbody>
              </table>




       <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <a class="govuk-button" href="#">Save and Submit</a>
                <p>
                  <a href="#" class="govuk-link">Save and exit</a>
               </p>

      </main>
  </div>







{% endblock %}
