
<!--OLD
<a href="/sprint-12/add-apprentice1/6a-approve" class="image-demo">
  <img src="/public/images/Jrny-6.png" width="auto" height="auto" />
</a>
-->
{% extends "layout-image.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<img src="/public/images/Employer-Nav.png"  width="auto" height="auto" />
<div class="govuk-width-container">
    <a class="govuk-back-link" href="5-add-full-details">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Approve apprentice details
                <span class="govuk-caption-xl"></span>
            </h1>

            <dl class="das-definition-list das-definition-list--inline">
            <dt class="das-definition-list__title govuk-!-margin-bottom-4">Organisation</dt>
            <dd class="das-definition-list__definition govuk-!-margin-bottom-4">DEPARTMENT OF EDUCATION  LTD</dd>
            <dt class="das-definition-list__title">Reference</dt>
            <dd class="das-definition-list__definition">KKPGJR</dd>
        </dl>

            <h2 class="govuk-heading-s">Message from SOUTHAMPTON ENGINEERING TRAINING ASSOCIATION LIMITED (THE):</h2>
                    <div class="govuk-inset-text">
                            <span>No message added.</span>
                    </div>

                    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                        <h2 class="govuk-heading-s">Power network craftsperson, Version 1.1, Level 3</h2>






              <table class="govuk-table das-table--responsive">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header das-table-cell-width-10">Name</th>
                        <th scope="col" class="govuk-table__header das-table-cell-width-10">Date of birth</th>
                        <th scope="col" class="govuk-table__header das-table-cell-width-10">Training dates</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric das-table-cell-width-10" style="text-align:left;">Price</th>

                        <th scope="col" class="govuk-table__header govuk-table__header--numeric das-table-cell-width-25" style="text-align:right;">Edit / Delete</th>

                    </tr>
                </thead>
                <tbody class="govuk-table__body">
  <tr><td>&nbsp;<br /></td><tr>
                  <tr class="govuk-table__row">
                       <td class="govuk-table__cell" data-label="Name">Jane Doe</td>
                       <td class="govuk-table__cell" data-label="Date of birth" ">15 April 1990</td>
                       <td class="govuk-table__cell" data-label="Training dates" >Sep 2021 to Mar 2023</td>
                       <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Price" style="text-align:left;">&pound;1,400

         <td align="right" style="border-bottom:1px solid gray; vertical-align:top;"><a href="5-populated-add-full-details">Edit</a> <br /><br /><a href="6a-Delete-User" > Delete</a></td>
       </tr>

<tr><td>&nbsp;<br /></td><tr>


                       <tr class="govuk-table__row">
                            <td class="govuk-table__cell" data-label="Name">Rajesh Damodraram</td>
                            <td class="govuk-table__cell" data-label="Date of birth">7 Mar 1975</td>
                            <td class="govuk-table__cell" data-label="Training dates">Sep 2021 to Mar 2023</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Price"  style="text-align:left;">&#xA3;1,400

              <td align="right" style="border-bottom:1px solid gray; vertical-align:top;"><a href="5-populated-add-full-details">Edit</a> <br /><br /><a href="6a-Delete-User" > Delete</a></td>
            </tr>

            <tr><td>&nbsp;<br /></td><tr>
            <tr class="govuk-table__row">
                 <td class="govuk-table__cell" data-label="Name" colspan="2"><strong>Total apprenticeship training price
            (excluding VAT)</strong></td>

                 <td class="govuk-table__cell" data-label="Training dates"></td>
                 <td class="govuk-table__cell govuk-table__cell--numeric" data-label="Price"  style="text-align:left;"><strong>&#xA3;2,800</strong>
                 <td class="govuk-table__cell" data-label="Name"></td>
            <!--  <td align="right" style="border-bottom:1px solid gray; vertical-align:top;"><a href="5-populated-add-full-details">Edit</a> <br /><br /><a href="6a-Delete-User" > Delete</a></td>
            --></tr>
          </tbody>
      </table>
      <p>
                    <a href="5-add-full-details">Add another apprentice</a>
                <a class="govuk-link das-float-right" href="6c-delete-group">Delete this group</a>
            </p>
      <hr class="govuk-section-break govuk-section-break--l">
                 <form id="submitCohort" action="7-approved-end" novalidate method="post">







                     <div class="govuk-form-group">
                       <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                         <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">

                                <h4 class="govuk-fieldset__heading">Approve these details?</h4>


                         </legend>
                         <div id="contact-hint" class="govuk-hint">
                           Select one option.
                         </div>
                         <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                           <div class="govuk-radios__item">
                             <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                             <label class="govuk-label govuk-radios__label" for="contact">
                                Yes, approve and notify training provider
                             </label>
                           </div>
                           <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                             <div class="govuk-form-group">
                               <label class="govuk-label" for="contact-by-email">
                                Leave SOUTHAMPTON ENGINEERING TRAINING ASSOCIATION LIMITED (THE) a message (optional)
                               </label>

                                <textarea class="govuk-textarea" id="approve-details" name="approvemessage" rows="5"></textarea>
                              </div>
                           </div>
                           <div class="govuk-radios__item">
                             <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                             <label class="govuk-label govuk-radios__label" for="contact-2">
                                  No, request changes from training provider
                             </label>
                           </div>
                           <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                             <div class="govuk-form-group">
                               <label class="govuk-label" for="contact-by-phone">
                                Leave SOUTHAMPTON ENGINEERING TRAINING ASSOCIATION LIMITED (THE) a message (optional)
                               </label>
                               <textarea class="govuk-textarea" id="approve-details" name="approvemessage" rows="5"></textarea>
                             </div>
                           </div>

                           </div>
                         </div>

                       </fieldset>
                     </div>





                     <button type="submit" id="continue-button" class="govuk-button">Save and submit</button>

                     <p>
                         <a href="/KK6WKG/unapproved/review" class="govuk-link">Save and exit</a>
                     </p>

                 <input name="__RequestVerificationToken" type="hidden" value="CfDJ8M3HnWbcAPpNnzvSmkJUsJVo2f5CyZ75Htymhc6lkgpCpdj3NFGqYRga-BOZKjSJbtRNtuT6DiucIC2cpg44ue8jF-DawdXrtxICB-TriCJE697JKRONAX9CVuYFbAzCdAMbigd2h0jjklHKj3X8EQl_bwyQ0FnS_2V8JXC10oO1Kvvdk4BrOMRwMTuGZRz3oA" /></form>


      </main>
  </div>







{% endblock %}
