
<!--OLD
<a href="/sprint-12/add-apprentice1/6a-approve" class="image-demo">
  <img src="/public/images/Jrny-6.png" width="auto" height="auto" />
</a>
-->
{% extends "layout-image.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<img src="/public/images/Employer-Nav.png"  width="auto" height="auto" />

<div class="govuk-width-container">

    <div class="das-js-back-link"></div>
        <main class="govuk-main-wrapper " id="main-content" role="main">




<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">View apprentice details</h1>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    First name
                </dt>
                <dd class="govuk-summary-list__value">
                    Jane
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Last name
                </dt>
                <dd class="govuk-summary-list__value">
                    Doe
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Unique learner number
                </dt>
                <dd class="govuk-summary-list__value">
                    --
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    7 Mar 1975
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Apprenticeship training course
                </dt>
                <dd class="govuk-summary-list__value">
                    Abattoir worker, Version 1.0, Level 2
                </dd>
            </div>
            
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Planned training start date
                </dt>
                <dd class="govuk-summary-list__value">
                    September 2021
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Planned training end date
                </dt>
                <dd class="govuk-summary-list__value">
                    March 2023
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Total agreed apprenticeship price
                </dt>
                <dd class="govuk-summary-list__value">
                    &#xA3;1,500
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Reference
                </dt>
                <dd class="govuk-summary-list__value">
                    KKPY48
                </dd>
            </div>
        </dl>
    </div>
</div>


<a class="govuk-link" href="8-view-app-details" id="return-link">Return to group of apprentices</a>


        </main>
    </div>


           </main>
       </div>

{% endblock %}
