{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-width-container">
        


    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
    
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
Your application has been submitted               </h1>
<div class="govuk-panel__body">
    Standard version applied for</div><div class="govuk-panel__body"><strong>Version 1.2</strong>
  </div><div class="govuk-panel__body--s"><strong>Animal trainer</strong></div> <br>
  <div class="govuk-panel__body--s">
    Your reference number</div><div class="govuk-panel__body"><strong>AAD109813</strong>
  </div>
  
                        
                    </div>
                    <p class="govuk-body">We have sent you a confirmation email.</p>
                    <h3 class="govuk-heading-m">What happens next</h3>
                    <p class="govuk-body">Once we've reviewed your application, we'll email the outcome to you. If any of your answers need clarification, we'll send you a notification by email.</p>
                    <p class="govuk-body"><a href="#" class="govuk-link--no-visited-state">What do you think of this service?</a> (Takes 60 seconds)</p>
    
            </div>
        </div>
    </main>
    
    
    
    
    
        </div>
       

          
                   
{% endblock %}
