{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-width-container">
        



     <a href="/sprint-4-beta/epaoapplydeadend/7-details" class="govuk-back-link">Return to standard details</a>
     <main class="govuk-main-wrapper " id="main-content" role="main">
         <div class="govuk-grid-row">
             <div class="govuk-grid-column-two-thirds">
     
     
                 <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
                         <span class="govuk-caption-l govuk-!-margin-bottom-2">Confirm you want to offer standard version:</span>
                     Animal trainer
                 </h1>
                 <p class="govuk-body-l">Reference: ST0398</p>
     
                 <table class="govuk-table govuk-!-margin-bottom-7">
                     <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                             <th class="govuk-table__header" scope="row">Effective from</th>
                             <td class="govuk-table__cell">22 March 2021</td>
                         </tr>
                         <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Effective to</th>
                            <td class="govuk-table__cell">Expiry date not set</td>
                        </tr>
     <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Version</a></th>
      <td class="govuk-table__cell">
1.2 </td></tr>
    </tbody>
  </table>
  
                 
                
      <form action="4-appoverview" method="post">
                         <input value="179" type="hidden" data-val="true" data-val-required="The StandardCode field is required." id="StandardCode" name="StandardCode">
         
                             <div class="govuk-form-group ">
         
         <div class="govuk-checkboxes">
                                     <div class="govuk-checkboxes__item">
                                         <input class="govuk-checkboxes__input" name="IsConfirmed" type="checkbox" data-val="true" data-val-required="The IsConfirmed field is required." id="IsConfirmed" value="true">
                                         <label class="govuk-label govuk-checkboxes__label" for="IsConfirmed">
                                            By continuing, you confirm you have read and understood the relevant assessment plan(s) for<a class="govuk-link--no-visited-state" href="#"> this standard (opens in new tab or window)</a>.
                                         </label>
                                     </div>
                                 </div><br><br>
                                 
                             <button type="submit" class="govuk-button">Confirm and continue</button>
         
                     </form>
                 </div>
             </div>
               </div>
          
     </div>
     
     </main>
     
     
     
     
     
     
         </div>


       

          
                   
{% endblock %}
