{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-width-container">
        



    <a href="4-appoverview" class="govuk-back-link">Back to application overview</a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                        <span class="govuk-caption-xl">
                            ST0398 Animal trainer
                        </span>
                        
                    <h1 class="govuk-heading-xl">Apply to assess a standard version</h1>
                    <ol class="app-task-list">
                        <li><h2 class="app-task-list__section">Your professional standards</h2><ul class="app-task-list__items app-task-list__items--no-number">                                
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="6-questions">
                                                Skills and qualifications
                                            </a>
                                        </span>
                                    </li>
                                    
    </ul></li><li>
        
        
        
        <h2 class="app-task-list__section">Your end-point assessment delivery model</h2><ul class="app-task-list__items app-task-list__items--no-number">   
                                       <li class="app-task-list__item">                          
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                End-point assessment delivery model
                                            </a>
                                        </span>
                                    </li>
                                    
                                    
                                    
                                    
                                    
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Assessment methods
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Continuous resource development
                                            </a>
                                        </span>
                                    </li>
    </ul></li><li><h2 class="app-task-list__section">Your end-point assessment competence</h2><ul class="app-task-list__items app-task-list__items--no-number">                                
                                    
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Assessment products and tools
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Assessment content
                                            </a>
                                        </span>
                                    </li>
                                    
                                    
    </ul></li>                        
                        
                    </ol>
                    <a href="12-questions" class="govuk-button">Return to application overview</a>
            </div>
        </div>
    </main>
    
    
    
    
    
        </div>
       

          
                   
{% endblock %}
