{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-width-container">
        

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
            <form method="post" novalidate="" enctype="multipart/form-data" action="7-questions">
                        <div class="govuk-form-group ">
                            <fieldset class="govuk-fieldset">
                                        <span class="govuk-caption-xl">
                                            ST0398 Animal trainer
                                        </span>
                                    <h1 class="govuk-label-wrapper">
                                        <label class="govuk-label govuk-label--xl" for="CC-24">
                                            What experience, skills and qualifications will your assessors have?
                                        </label>
                                    </h1>
    
    <p class="govuk-body">You need to give examples of how, when and where the assessor have demonstrated their capability. Assessors must have current and relevant occupational and assessment experience. Give details, evidence and context of this experience for all assessors.</p>
                                    <span class="govuk-hint">
                                        
                                    </span>
    
                                
                                
    
    
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="500">
            <textarea class="govuk-textarea govuk-js-character-count" id="CC-24" name="CC-24" rows="12" aria-describedby="What experience, skills and qualifications will your assessors have? CC-24-info"></textarea><span id="CC-24-info" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 500 words remaining</span>
            
        </div>
    
                            </fieldset>
                        </div>
    
    
    
                <button type="submit" class="govuk-button">Save and continue</button>
    
                
    
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FLxvfMD0WxPgEp5Al5BipC78OZk8Mhu1W-Cr53IJ4VvyoJfWqrxjeCIu4_MbD6mP_8HMiKcQiITszR-o9rbRK3dYDPcXdOLwQ3elnIfnLXpB2R0XiUJO7TcZwiBljXTD5OaAPFj2rdeQBsAe3aoJnEl3Zx7Vfl3lmbneouXNMO61kN9QreXhbf92AcWlxqTfA"></form>
    
            <p class="govuk-body">
                        <a class="govuk-link" href="#">Return to summary</a>
                </p>
            </div>
        </div>
    </main>
    
    
    
    
    
        </div>
       

          
                   
{% endblock %}
