{% extends "layout-epao.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
     <div id="service-title-section" class="epao-page">

          <div class="govuk-width-container">

               <div class="govuk-grid-row dashboard-title">
                    <div class="govuk-grid-column-two-thirds">
                         <a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>

                         <div class="banner blue">
                               <div class="govuk-grid-row">

                                   <div class="govuk-grid-column-one-half">
                                      <span class="govuk-body">Apprentice: <b>Joe {{ data['epao-family-name'] }}</b></span><br />
                                      <span class="govuk-body">Course: Adult Care Work</span>
                                    </div>

                                    <div class="govuk-grid-column-one-half">
                                      <span class="govuk-body">ULN: <b>{{ data['epao-uln'] }}</b></span><br />
                                      <span class="govuk-body">Version: 1.1 <a href="2-confirm-apprentice">Change</a></span>
                                     </div>
                                 </div>
                         </div>

                         <h1 class="govuk-heading-xl">
                              Confirm the address we are sending the certificate
                         </h1>
                    </div>
               </div>

          </div>

     </div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <form method="post" action="8-check-details" class="">

                    <div class="address-selector">
                         3 Happy Island Way<br>
                         Bridport<br>
                         DT6 4JZ
                    </div>

                    <p>
                         <a href="#">Manually edit this address</a>
                    </p>

                    <p>
                         <a href="#">Search for a different address</a>
                    </p>

                    {% from "govuk/components/input/macro.njk" import govukInput %}

                    {{ govukInput({
                         label: {
                              text: "Organisation name (optional)",
                              isPageHeading: false
                         },
                         id: "event-name",
                         name: "event-name"
                    }) }}

                    <button class="govuk-button" data-module="govuk-button">Continue</button>

               </form>

          </div>
     </div>

</div>
{% endblock %}
