{% extends "layout-epaoapply.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-width-container">
        






    <main class="govuk-main-wrapper " id="main-content" role="main">
    
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Standards</h1>
            </div>
        </div>
    
    
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <table class="govuk-table govuk-table--small responsive">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">
                                    Standard
                                </th>
                                <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                                    Reference 
                                </th>
                                <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                                    Level
                                </th>
                                <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                                   Status
                                </th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    
                                        <div role="button" tabindex="0" class="js-expand-table-row expand-table-row" data-expand-id="2155683208" aria-expanded="false" aria-controls="table-content-2155683208">
                                            <i class="arrow arrow-closed" aria-hidden="true">►</i>
                                   <span>Actuarial technician</span>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST0017
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    4
                                </td>
                                <td class="govuk-table__cell">
                                    <strong class="govuk-tag govuk-tag--blue das-float-right">
                              New
                            </strong>
                            
                                  </td>
                            </tr>
                            <tr class="govuk-table__row js-expandble-cell expandble-cell expandble-cell--hidden" aria-hidden="true" id="table-content-2155683208">
                                <td class="govuk-table__cell" colspan="2">
                                  <div class="expandble-cell-content">
                                    <h2 class="govuk-heading-m expandble-cell-content--first-heading">
                                      Standard details
                                    </h2>
                                
                                    
                                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Version 1.0</dt>
                                        <dd class="govuk-summary-list__value">Approved</dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Version 1.1</dt>
                                        <dd class="govuk-summary-list__value">Approved
                                       
                                        </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Version 1.2</dt>
                                        <dd class="govuk-summary-list__value">Pending approval
                                            </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Version 1.3</dt>
                                        <dd class="govuk-summary-list__value"><a class="govuk-link--no-visited-state" href="#">Apply for version</a></dd>
                                      </div>
                      
                                      
                                    </dl>
                      
                                    
                                  </div>
                                </td>
                              </tr>
                              <tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <div role="button" tabindex="0" class="expand-table-row" data-expand-id="" aria-expanded="false" aria-controls="">
                                        <i class="arrow arrow-closed" aria-hidden="true">►</i>
                                    <span>Actuary</span>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST0255
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    7
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <div role="button" tabindex="0" class="expand-table-row" data-expand-id="" aria-expanded="false" aria-controls="">
                                        <i class="arrow arrow-closed" aria-hidden="true">►</i>
                                   <span>Adult care worker</span>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST0119
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    2
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <div role="button" tabindex="0" class="expand-table-row" data-expand-id="" aria-expanded="false" aria-controls="">
                                        <i class="arrow arrow-closed" aria-hidden="true">►</i>
                                    <span>Advanced carpentry and joinery</span>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST0240
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    3
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <div role="button" tabindex="0" class="js-expand-table-row expand-table-row" data-expand-id="2155683207" aria-expanded="false" aria-controls="table-content-2155683207">
                                        <i class="arrow arrow-closed" aria-hidden="true">►</i>
                                    <span>Animal trainer</span>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST0379
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    4
                                </td>
                                <td class="govuk-table__cell">
                                    <strong class="govuk-tag govuk-tag--blue das-float-right">
                              New
                            </strong>
                            
                                  </td>
                            </tr>
                            <tr class="govuk-table__row js-expandble-cell expandble-cell expandble-cell--hidden" aria-hidden="true" id="table-content-2155683207">
                                <td class="govuk-table__cell" colspan="2">
                                  <div class="expandble-cell-content">
                                    <h2 class="govuk-heading-m expandble-cell-content--first-heading">
                                      Standard details
                                    </h2>
                                
                                    
                                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Version 1.0</dt>
                                        <dd class="govuk-summary-list__value">Approved</dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Version 1.1</dt>
                                        <dd class="govuk-summary-list__value">Approved
                                       
                                        </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Version 1.2</dt>
                                        <dd class="govuk-summary-list__value">
                                            <div class="govuk-checkboxes__item">
                                              <input class="govuk-checkboxes__input" id="version" name="version" type="checkbox" value="version">
                                              <label class="govuk-label govuk-checkboxes__label" for="version">
                                               Opt-in
                                              </label>
                                              
                                            </dd>
                                      </div>
                                      <div class="govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">Version 1.3</dt>
                                        <dd class="govuk-summary-list__value"><a class="govuk-link--no-visited-state" href="#">Apply for version</a></dd>
                                      </div>
                      
                                      
                                    </dl>
                      
                                    
                                  </div>
                                </td>
                              </tr>
                              <tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <div role="button" tabindex="0" class="expand-table-row" data-expand-id="" aria-expanded="false" aria-controls="">
                                        <i class="arrow arrow-closed" aria-hidden="true">►</i>
                                    <span>Arborist</span>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST0180
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    2
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <div role="button" tabindex="0" class="expand-table-row" data-expand-id="" aria-expanded="false" aria-controls="">
                                        <i class="arrow arrow-closed" aria-hidden="true">►</i>
                                <span>Brewer</span>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST0294
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    4
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                   
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <div role="button" tabindex="0" class="js-expand-table-row expand-table-row" data-expand-id="" aria-expanded="false" aria-controls="">
                                        <i class="arrow arrow-closed" aria-hidden="true">►</i>
                                    <span>Broadcast and media systems engineer (integrated degree)</span>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST0354
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    6
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <div role="button" tabindex="0" class="js-expand-table-row expand-table-row" data-expand-id="" aria-expanded="false" aria-controls="">
                                        <i class="arrow arrow-closed" aria-hidden="true">►</i>
                                    <span>Business administrator</span>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST0196
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    3
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <div role="button" tabindex="0" class="js-expand-table-row expand-table-row" data-expand-id="" aria-expanded="false" aria-controls="">
                                        <i class="arrow arrow-closed" aria-hidden="true">►</i>
                                    <span>Business fire safety advisor</span>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST0250
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    3
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="page-navigation">
    
    
                      
    
                </div>
            </div>
        </div>
    </main>
    
    
    
    
    
    
    
    
    
        </div>

       

          
                   
{% endblock %}
{% block pageScripts %}
<script>
  window.DASFrontend.expandableTable.init();
</script>
{% endblock %}
