{% extends "layout-epaoapply.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-width-container">
        



     <a href="#" class="govuk-back-link">Return to standards search</a>
     <main class="govuk-main-wrapper " id="main-content" role="main">
         <div class="govuk-grid-row">
             <div class="govuk-grid-column-two-thirds">
     
     
                 <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
                         <span class="govuk-caption-l govuk-!-margin-bottom-2">Confirm you want to offer the standard:</span>
                     Animal trainer
                 </h1>
                 <p class="govuk-body-l">Reference: ST0398</p>
     
                 <table class="govuk-table govuk-!-margin-bottom-7">
                     <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                             <th class="govuk-table__header" scope="row">Effective from</th>
                             <td class="govuk-table__cell">22 November 2018</td>
                         </tr>
                         <tr class="govuk-table__row">
                             <th class="govuk-table__header" scope="row">Effective to</th>
                             <td class="govuk-table__cell">
     Expiry date not set                        </td></tr>
    </tbody>
  </table>
  <table class="govuk-table govuk-!-margin-bottom-7">
    <tbody class="govuk-table__body">
   
                         {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  idPrefix: "Version",
  name: "Version",
  fieldset: {
    legend: {
      text: "Please select which versions and assessment plans you can assess",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "Version 1.0, Version 1.1 - Assessment plan 1 (PDF)",
      text: "Version 1.0, Version 1.1 - Assessment plan 1 (PDF)"
    },
    {
      value: "Version 1.2, Version 1.3 - Assessment plan 2 (PDF)",
      text: "Version 1.2, Version 1.3 - Assessment plan 2 (PDF)"
    }
  ]
}) }}
<tr class="govuk-table__row">
  <td class="govuk-table__cell">
</td>
</tr>
                     </tbody>
                 </table>
                 
                
      <form action="versiona" method="post">
                         <input value="179" type="hidden" data-val="true" data-val-required="The StandardCode field is required." id="StandardCode" name="StandardCode">
         
                             <div class="govuk-form-group ">
         
         
                                 <div class="govuk-checkboxes">
                                     <div class="govuk-checkboxes__item">
                                         <input class="govuk-checkboxes__input" name="IsConfirmed" type="checkbox" data-val="true" data-val-required="The IsConfirmed field is required." id="IsConfirmed" value="true">
                                         <label class="govuk-label govuk-checkboxes__label" for="IsConfirmed">
                                             By continuing with this application you are confirming you have read the assessment plan.
                                         </label>
                                     </div>
                                 </div>
                             </div>
                             <button type="submit" class="govuk-button">Confirm and apply</button>
         
                     </form>
                 </div>
             </div>
               </div>
          
     </div>
     
     </main>
     
     
     
     
     
     
         </div>


       

          
                   
{% endblock %}
