ul.pagination {
     margin-top: 60px;
     border-top: 1px solid #ddd;
     padding: 0;
     list-style: none;
     li {
          margin: 2em 0 0 0;
          display: inline-block;
          width: 50%;
          font-size: 0.875rem;
          float: left;
          a {
               text-decoration: none;
               font-weight: bold;
               line-height: 1.1;
               min-height: 3em;
               font-size: 1.15rem;
               &.link-previous, &.link-next {
                    background-repeat: no-repeat;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    display: inline-block;
                    box-sizing: border-box;
                    text-indent: 0;
                    display: flex;
                    align-items: center;
                    span {
                         // display: none;
                         display: inline-block;
                         clear: both;
                         text-decoration: underline;
                         &.sub-text {
                              font-size: 0.875rem;
                              color: $govuk-secondary-text-colour;
                              text-decoration: none;
                              font-weight: normal;
                         }
                    }
               }
               &.link-previous {
                    padding-left: 45px;
                    background-image: url("../images/arrow-left.svg");
                    background-position: left center;
                    span {
                         float: left;
                    }
               }
               &.link-next {
                    padding-right: 45px;
                    background-image: url("../images/arrow-right.svg");
                    background-position: right center;
                    text-align: right;
                    float: right;
                    span {
                         float: right;
                    }
               }
          }
     }
}
