{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<style>
    .app-task-list__items {
    font-family: "GDS Transport",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 40px;
    list-style: none;
    padding-left: 0;
}
    </style>


<div class="govuk-width-container">
        



    <a href="4.html" class="govuk-back-link">Back to application overview</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">
                        Withdrawing from register
                    </span>
                <h1 class="govuk-heading-xl">Withdrawal request questions</h1>
                <ol class="app-task-list">
                    <li>
                        <ul class="app-task-list__items">
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a class="govuk-link--no-visited-state" href="#">
                                            Reason for withdrawing
                                        </a>
                                    </span>
                                       
                                </li>
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a class="govuk-link--no-visited-state" href="#">
                                            Completing assessments for registered learners
                                        </a>
                                    </span>
                                       </li>
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a class="govuk-link--no-visited-state" href="#">
                                            Communicating your market exit to customers
                                        </a>
                                    </span>
                                </li>
                                <li class="app-task-list__item">
                                    <span class="app-task-list__task-name">
                                        <a class="govuk-link--no-visited-state" href="#">
                                            Withdrawal date
                                        </a>
                                    </span>
                                </li>
                        </ul>
                    </li>
                </ol>
                <a href="6.html" class="govuk-button">Return to request overview</a>
        </div>
    </div>
</main>





    </div>


    
    
        {% endblock %}



    
    
    
    
    
       
