{% extends "layout-epao.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}



{% block beforeContent %}

     <div id="service-title-section" class="epao-page">

          <div class="govuk-width-container">

               <div class="govuk-grid-row dashboard-title">
                    <div class="govuk-grid-column-two-thirds">
                         <a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>
                         <h1 class="govuk-heading-xl">
                           Confirm the apprentice and choose the version
                         </h1>
                    </div>
               </div>

          </div>

     </div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <form method="post" action="/sprint-11/epao3/2-confirm-apprentice1" class="form">


                    <table class="govuk-table">
                         <tbody class="govuk-table__body">
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Name</th>
                                   <td class="govuk-table__cell">{{ data['epao-family-name'] }}</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">ULN</th>
                                   <td class="govuk-table__cell">{{ data['epao-uln'] }}</td>
                              </tr>


                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Standard</th>
                                   <td class="govuk-table__cell">Military engineering construction technician</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Level</th>
                                   <td class="govuk-table__cell">3</td>
                              </tr><!--
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Version</th>
                                   <td class="govuk-table__cell">1.0</td>
                              </tr>-->
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Learner start date</th>
                                   <td class="govuk-table__cell">1 April 2018</td>
                              </tr>
                              <!--
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Failed date</th>
                                   <td class="govuk-table__cell">7 November 2020</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Grade</th>
                                   <td class="govuk-table__cell">Fail</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Record by</th>
                                   <td class="govuk-table__cell">Preprod Epao008</td>
                              </tr>
                              <tr class="govuk-table__row">
                                   <th scope="row" class="govuk-table__header">Date recorded</th>
                                   <td class="govuk-table__cell">7 November 2020</td>
                              </tr> -->
                         </tbody>
                    </table>

                    <p>
                         If the name, standard or level is incorrect, you need to agree on the correct details along with the training provider
                         and the employer. The training provider needs to then update the Individual Learner Record (ILR).
                    </p>




<!--

Actually ST0414 Military engineering construction technician
Level 3
Version 1.0
Military engineering construction technician
"Bricklayer & Concreter",
"Building & Structural Finisher",
"Carpenter & Joiner"

Version 1.1
                     Military engineering construction technician
                    "Carpenter & Joiner",
                    "Bricklayer & Concreter",
                    "Building & Structural Finisher",
                    "Plumbing & Heating Engineer",
                    "Plant Operator & Mechanic"


Version 1.2
                    Military engineering construction technician
                    "Carpenter & Joiner",
                    "Bricklayer & Concreter",
                    "Building & Structural Finisher",
                    "Plumbing & Heating Engineer",
                    "Plant Operator & Mechanic"


-->

















                    {% from "govuk/components/radios/macro.njk" import govukRadios %}

                    {{ govukRadios({
                      idPrefix: "chooseversionoption",
                      name: "chooseversionoption",
                      fieldset: {
                        legend: {
                          text: "What version did the apprentice study?",
                          isPageHeading: true,
                          classes: "govuk-fieldset__legend--m"
                        }
                      },








                      items: [
                        {
                          value: "Version 1.0",
                          text: "Version 1.0"

                        },


                        {
                          value: "Version 1.1",
                          text: "Version 1.1"
                        },



                          {
                            value: "Version 1.2",
                            text: "Version 1.2"
                        }
                      ]
                    }) }}


                    {% from "govuk/components/button/macro.njk" import govukButton %}

                    {{ govukButton({
                         text: "Confirm and continue"
                    }) }}

                    <p>
                         <a href="index">Search again</a> if this isn't the correct apprentice.
                    </p>

               </form>
          </div>
     </div>

</div>
{% endblock %}
