<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">

          <h3 class="govuk-heading-m">
               End to end mapping and communication strategy
          </h3>

          <p>IfATE end to end</p>
          <ul class="govuk-list govuk-list--bullet">
               <li><a href="https://miro.com/app/board/o9J_kra_EVg=/" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">End to end versioning of a standard</a></li>
          </ul>

          <p>Possible communication opportunities</p>
          <ul class="govuk-list govuk-list--bullet">
               <li><a href="https://miro.com/app/board/o9J_kra_EVg=/" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">Communication ideas</a></li>
          </ul>

          <h3 class="govuk-heading-m">
               Iteration of prototype from user testing
          </h3>

          <p>Training providers</p>
          <ul class="govuk-list govuk-list--bullet">
               <li><a href="/sprint-4/training-providers/" class="govuk-link govuk-link--no-visited-state">Standard versioning journey</a></li>
          </ul>

          <p>Email design</p>
          <ul class="govuk-list govuk-list--bullet">
               <li><a href="/sprint-4/emails/email-V1" class="govuk-link govuk-link--no-visited-state">Email - combination of detail</a></li>
               <li><a href="/sprint-4/emails/email-V2" class="govuk-link govuk-link--no-visited-state">Email - little detail</a></li>
               <li><a href="/sprint-4/emails/email-V3" class="govuk-link govuk-link--no-visited-state">Email - more detail</a></li>
          </ul>

          <h3 class="govuk-heading-m">
               Initial analysis
          </h3>
          {{ govukDetails({
               summaryText: "Sprint design goals",
               html: "<table class='govuk-table'>
                    <thead class='govuk-table__head'>
                         <tr class='govuk-table__row'>
                              <th scope='col' class='govuk-table__header'>What we're doing</th>
                              <th scope='col' class='govuk-table__header'>Why we're doing it</th>
                         </tr>
                    </thead>
                    <tbody class='govuk-table__body'>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Creating an end to end map of the version change process</td>
                              <td class='govuk-table__cell'>To help us agree what the as is process looks like</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Creating a visual with the possible communications opportunities on it</td>
                              <td class='govuk-table__cell'>To make clear the need for timely comms and the opportunities we have</td>
                         </tr>
                    </tbody>
               </table>"
          }) }}

          <hr class="hr-sep">

          <h3 class="govuk-heading-m">
               Design artifacts
          </h3>
          <ul class="govuk-list govuk-list--bullet">
               <li><a href="https://docs.google.com/document/d/19Tb28e_IaAMXfyqHuWYhAJhu2F3R0gGgNAS2K-Olxw0/edit" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">Design principles</a></li>
               <li><a href="https://miro.com/app/board/o9J_krZi8NM=/?moveToWidget=3074457348383734896" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">UX pre-alpha board</a></li>
               <li><a href="https://miro.com/app/board/o9J_kra_EVg=/?moveToWidget=3074457348955977531&cot=13" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">Lean UX canvas</a></li>
          </ul>
     </div>
</div>
