<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m">
               Service impact blueprints
          </h3>

          <ul class="govuk-list govuk-list--bullet">
               <li><a href="https://miro.com/app/board/o9J_kra_EVg=/" class="govuk-link govuk-link--no-visited-state">Blueprints to show AS impact</a></li>
          </ul>

          <h3 class="govuk-heading-m">
               Initial analysis
          </h3>
          {{ govukDetails({
               summaryText: "Sprint design goals",
               html: "<table class='govuk-table'>
                    <thead class='govuk-table__head'>
                         <tr class='govuk-table__row'>
                              <th scope='col' class='govuk-table__header'>What we're doing</th>
                              <th scope='col' class='govuk-table__header'>Why we're doing it</th>
                         </tr>
                    </thead>
                    <tbody class='govuk-table__body'>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Creating a blueprint to show the impact once a version is updated and hits the apprenticeship service</td>
                              <td class='govuk-table__cell'>To help us agree what the impact to the AS is and start to look at what we would need to do</td>
                         </tr>
                    </tbody>
               </table>"
          }) }}
          <h3 class="govuk-heading-m">
               Design artifacts
          </h3>
          <ul class="govuk-list govuk-list--bullet">
               <li><a href="https://docs.google.com/document/d/19Tb28e_IaAMXfyqHuWYhAJhu2F3R0gGgNAS2K-Olxw0/edit" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">Design principles</a></li>
               <li><a href="https://miro.com/app/board/o9J_krZi8NM=/?moveToWidget=3074457348383734896" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">UX pre-alpha board</a></li>
               <li><a href="https://miro.com/app/board/o9J_kra_EVg=/?moveToWidget=3074457348955977531&cot=13" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">Lean UX canvas</a></li>
          </ul>
     </div>
</div>
