<h2 class="govuk-heading-l" id="sprint-12">
    <span class="govuk-tag">LATEST</span><br>
    Sprint 8
    
</h2>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
         <h3 class="govuk-heading-m">
              Beta
         </h3>

         <p>SV Pre-Alpha Summary</p>
         <ul class="govuk-list govuk-list--bullet">
           <li><a href="https://miro.com/app/board/o9J_kra_EVg=/" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">SV EPAO Journey mapping</a></li>
           <li><a href="https://das-standards-versioning-proto.herokuapp.com/index" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">SV EPAO Prototype</a></li>
         </ul>

         <h3 class="govuk-heading-m">
              Initial analysis
         </h3>
         {{ govukDetails({
              summaryText: "Sprint design goals",
              html: "<table class='govuk-table'>
                   <thead class='govuk-table__head'>
                        <tr class='govuk-table__row'>
                             <th scope='col' class='govuk-table__header'>What we're doing</th>
                             <th scope='col' class='govuk-table__header'>Why we're doing it</th>
                        </tr>
                   </thead>
                   <tbody class='govuk-table__body'>
                        <tr class='govuk-table__row'>
                             <td class='govuk-table__cell'>Continuing work for CoC and looking into Approvals feeding into Certification.</td>
                             <td class='govuk-table__cell'>To visualise and test how versions will change the current journey and also bring quality of life improvements that won't impact our delivery of MVS.</td>
                        </tr>
                   </tbody>
              </table>"
         }) }}

         <hr class="hr-sep">

         <h3 class="govuk-heading-m">
              Design artifacts
         </h3>
         <ul class="govuk-list govuk-list--bullet">
              <li><a href="https://docs.google.com/document/d/19Tb28e_IaAMXfyqHuWYhAJhu2F3R0gGgNAS2K-Olxw0/edit" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">Design principles</a></li>
              <li><a href="https://miro.com/app/board/o9J_krZi8NM=/?moveToWidget=3074457348383734896" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">UX pre-alpha board</a></li>
              <li><a href="https://miro.com/app/board/o9J_kra_EVg=/?moveToWidget=3074457348955977531&cot=13" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">Lean UX canvas</a></li>
         </ul>
    </div>
</div>
