{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}


<div class="govuk-width-container">
        

    <a class="govuk-back-link" href="4.html">
        Back
    </a>
    
    <main class="govuk-main-wrapper " id="main-content" role="main">
       
        <div class="govuk-grid-row">
            
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
                        
                    Withdrawal notification
                  </h1><br><br><br>
    
                  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Organisation name</dt>
                        <dd class="govuk-summary-list__value">City and Guilds</dd>
                       
                    </div>
                    <div class="govuk-summary-list__row">
                        
                        <dt class="govuk-summary-list__key">Details</dt>
                        <dd class="govuk-summary-list__value">Animal trainer (ST0398)<br>Version 1.0, 1.1</dd>
                    </div>
                                        
                  
            </dl>
          
              
                <div class="govuk-form-group error-message-container">
                    <span class="govuk-error-message field-validation-valid" data-valmsg-for="EffectiveTo" data-valmsg-replace="true"></span>
                    <span class="govuk-error-message field-validation-valid" data-valmsg-for="EffectiveToDay" data-valmsg-replace="true"></span>
                    <span class="govuk-error-message field-validation-valid" data-valmsg-for="EffectiveToMonth" data-valmsg-replace="true"></span>
                    <span class="govuk-error-message field-validation-valid" data-valmsg-for="EffectiveToYear" data-valmsg-replace="true"></span>

                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Effective to date
                    </legend>

                    <div class="govuk-date-input">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="EffectiveToDay">
                                    Day
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 js-integers-only" type="text" maxlength="2" id="EffectiveToDay" name="EffectiveToDay" value="">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="EffectiveToMonth">
                                    Month
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-2 js-integers-only" type="text" maxlength="2" id="EffectiveToMonth" name="EffectiveToMonth" value="">
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="EffectiveToYear">
                                    Year
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4 js-integers-only" type="text" maxlength="4" id="EffectiveToYear" name="EffectiveToYear" value="">
                            </div>
                        </div>
                    </div>

                </div>
 <table class="govuk-table govuk-!-margin-bottom-7">
   <tbody class="govuk-table__body">
  
     <form method="post" action="6-appoverview" class="">
       <div class="govuk-form-group">
         <fieldset class="govuk-fieldset">
           <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
             <div class="govuk-hint">
              Select all that apply
             </div>
           </legend>
           <div class="govuk-checkboxes govuk-checkboxes--small">
             <div class="govuk-checkboxes__item">
               <input class="govuk-checkboxes__input" id="version1.0" name="choose-version" type="checkbox" value="1.0">
               <label class="govuk-label govuk-checkboxes__label" for="version1.0">
                Version 1.0 
               </label>
             </div>
             <div class="govuk-checkboxes__item">
               <input class="govuk-checkboxes__input" id="version1.1" name="choose-version" type="checkbox" value="1.1">
               <label class="govuk-label govuk-checkboxes__label" for="version1.1">
                Version 1.1
               </label>
             </div>
            
           </div>
       
         </fieldset>
       </div>
<tr class="govuk-table__row">
 <td class="govuk-table__cell">
</td>
</tr>
                    </tbody>
                </table>
                
               
     
                        <input value="179" type="hidden" data-val="true" data-val-required="The StandardCode field is required." id="StandardCode" name="StandardCode">
        
                            <div class="govuk-form-group ">
        
        
                                <div class="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" name="IsConfirmed" type="checkbox" data-val="true" data-val-required="The IsConfirmed field is required." id="IsConfirmed" value="true">
                                        <label class="govuk-label govuk-checkboxes__label" for="IsConfirmed">
                                            By approving this withdrawal notification, you confirm that you're happy with the information provided and you do not need feedback from the applicant.
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="govuk-button">Confirm and continue</button>
        
                    </form>
                </div>
            </div>
              </div>
         
    </div>
    </main>
        </div>









{% endblock %}



