<h2 class="govuk-heading-l" id="sprint-12">
  <span class="govuk-tag">LATEST</span><br>
  Sprint 0
  <span class="govuk-caption-l">
    1st &mdash;14th June 2020
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h3 class="govuk-heading-m" id="research">
      Research
    </h3>
    {{ govukDetails({
      summaryText: "Sprint design goals",
      html: "<table class='govuk-table'>                    
        <thead class='govuk-table__head'>
          <tr class='govuk-table__row'>
            <th scope='col' class='govuk-table__header'>What we're doing</th>
            <th scope='col' class='govuk-table__header'>Why we're doing it</th>
          </tr>
        </thead>
        <tbody class='govuk-table__body'>
          <tr class='govuk-table__row'>
            <td class='govuk-table__cell'>---</td>
            <td class='govuk-table__cell'>---</td>
          </tr>
        </tbody>
      </table>"
    }) }}     
    <p class="govuk-body govuk-!-font-weight-bold">Understanding the problem space</p>
    <ul class="govuk-list govuk-list--bullet">                        
      <li><a href="https://docs.google.com/presentation/d/1bbsJNiscY6iyNwRKeHghn-cbKz5_q1GEvLd0apx9Mz0/edit?usp=sharing" class="govuk-link govuk-link--no-visited-state">Discovering the unknown</a></li>
      <li><a href="" class="govuk-link govuk-link--no-visited-state">Discovery notes</a></li>
      <li><a href="https://miro.com/app/board/o9J_krv6XBg=/" class="govuk-link govuk-link--no-visited-state">IfATE standards revisions and adjustments process map</a></li>
    </ul>  
  </div>
</div>