<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m" id="research">
               Initial analysis
          </h3>
          {{ govukDetails({
               summaryText: "Sprint design goals",
               html: "<table class='govuk-table'>
                    <thead class='govuk-table__head'>
                         <tr class='govuk-table__row'>
                              <th scope='col' class='govuk-table__header'>What we did</th>
                              <th scope='col' class='govuk-table__header'>Why we did it</th>
                         </tr>
                    </thead>
                    <tbody class='govuk-table__body'>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Pre-reading</td>
                              <td class='govuk-table__cell'>To help us understand the current landscape</td>
                         </tr>
                         <tr class='govuk-table__row'>
                              <td class='govuk-table__cell'>Asking questions</td>
                              <td class='govuk-table__cell'>To help us as the scope becomes more apparent and to find the right people to speak to</td>
                         </tr>
                    </tbody>
               </table>"
          }) }}
          <p class="govuk-body govuk-!-font-weight-bold">Understanding the problem space</p>
          <ul class="govuk-list govuk-list--bullet">
               <li><a href="https://miro.com/app/board/o9J_krZi8NM=/?moveToWidget=3074457348383734896" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">UX discovery board</a></li>
               <li><a href="https://docs.google.com/spreadsheets/d/1f1Uv4gWN_41C30bUOBHJtsLWqjzOt4XffQdo8RCxQUw/edit#gid=0" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">Questions and answers</a></li>
               <li><a href="https://docs.google.com/spreadsheets/d/13HjPgiQiv-PPBfK0p_W80f6IKVBe0XicuKkES-rO4Y8/edit#gid=0" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">Hypothesised user needs</a></li>
               <li><a href="https://docs.google.com/presentation/d/1bbsJNiscY6iyNwRKeHghn-cbKz5_q1GEvLd0apx9Mz0/edit?usp=sharing" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">Discovering the unknown</a></li>
               <!--<li><a href="https://miro.com/app/board/o9J_kred3mA=/" class="govuk-link govuk-link--no-visited-state">Lean UX Canvas</a></li>-->
          </ul>
     </div>
</div>
