{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}




<div class="govuk-width-container">
        

    <a class="govuk-back-link" href="5-details">Return to view organisation standard</a>
    
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
    
                <h1 class="govuk-heading-xl">Edit an organisation standard</h1>
    
            

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation
                        </dt>
                        <dd class="govuk-summary-list__value">
                            City and Guilds
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation status
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Live
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Organisation ID
                        </dt>
                        <dd class="govuk-summary-list__value">
                            EPA0008
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Standard
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Unified communications technician 
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Reference
                        </dt>
                        <dd class="govuk-summary-list__value">
                            ST01350
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective from
                        </dt>
                        <dd class="govuk-summary-list__value">
                            01 August 2018
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Effective to
                        </dt>
                        <dd class="govuk-summary-list__value">
                           
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Date approved on register
                        </dt>
                        <dd class="govuk-summary-list__value">
                            05 November 2016
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Status
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Live
                        </dd>
                    </div>
                  </dl>
                  <h2 class="govuk-heading-l">Standard version details</h2>
                    <div class="govuk-tabs" data-module="govuk-tabs">
                        <h2 class="govuk-tabs__title">
                          Contents
                        </h2>
                        <ul class="govuk-tabs__list">
                          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#past-day">
                              Live
                            </a>
                          </li>
                          <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#past-week">
                             Withdrawn
                            </a>
                          </li>
                         
                        </ul>
                        <div class="govuk-tabs__panel" id="past-day">
                          <h2 class="govuk-heading-l">Live</h2>
                          <table class="govuk-table">
                            <thead class="govuk-table__head">
                              <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Version</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Effective from</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Effective to</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date approved</th>
                                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
                              </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                             
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">1.6</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">01 Aug 2018</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">05 Nov 2016</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href="#">
                                    View
                                </a></td>
                              </tr>
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">1.4</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">01 Aug 2018</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">05 Nov 2016</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href="#">
                                    View
                                </a></td>
                              </tr>
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">1.3</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">01 Aug 2018</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">05 Nov 2016</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href="#">
                                    View
                                </a></td>
                              </tr>
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">1.2</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">01 Aug 2018</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">05 Nov 2016</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href="#">
                                    View
                                </a></td>
                              </tr>
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">1.1</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">01 Aug 2018</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">05 Nov 2016</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href="#">
                                    View
                                </a></td>
                              </tr>
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">1.0</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">01 Aug 2018</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"></td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">05 Nov 2016</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href="#">
                                    View
                                </a></td>
                              </tr>
                            </tbody>
                          </table>
                      
                        </div>
                        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
                          <h2 class="govuk-heading-l">Withdrawn</h2>
                          <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header">Version</th>
                                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Effective from</th>
                                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Effective to</th>
                                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date approved</th>
                                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action</th>
                                  </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">1.5</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric">01 Aug 2018</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric">01 Aug 2021</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric">05 Nov 2016</td>
                                    <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link--no-visited-state" href="#">
                                        View
                                    </a></td>
                                  </tr>
                             
                            </tbody>
                          </table>
                      
                        </div>
                  




    <br><br>
                    <h2 class="govuk-heading-l">New organisation standard details</h2>
    
                    <div class="govuk-form-group error-message-container">
                        <span class="govuk-error-message field-validation-valid" data-valmsg-for="EffectiveFrom" data-valmsg-replace="true"></span>
                        <span class="govuk-error-message field-validation-valid" data-valmsg-for="EffectiveFromDay" data-valmsg-replace="true"></span>
                        <span class="govuk-error-message field-validation-valid" data-valmsg-for="EffectiveFromMonth" data-valmsg-replace="true"></span>
                        <span class="govuk-error-message field-validation-valid" data-valmsg-for="EffectiveFromYear" data-valmsg-replace="true"></span>
    
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Effective from
                        </legend>
    
                        <div class="govuk-date-input">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="EffectiveFromDay">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 js-integers-only" type="text" maxlength="2" id="EffectiveFromDay" name="EffectiveFromDay" value="1">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="EffectiveFromMonth">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 js-integers-only" type="text" maxlength="2" id="EffectiveFromMonth" name="EffectiveFromMonth" value="8">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="EffectiveFromYear">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4 js-integers-only" type="text" maxlength="4" id="EffectiveFromYear" name="EffectiveFromYear" value="2018">
                                </div>
                            </div>
                        </div>
    
    
                    </div>
                    <div class="govuk-form-group error-message-container">
                        <span class="govuk-error-message field-validation-valid" data-valmsg-for="EffectiveTo" data-valmsg-replace="true"></span>
                        <span class="govuk-error-message field-validation-valid" data-valmsg-for="EffectiveToDay" data-valmsg-replace="true"></span>
                        <span class="govuk-error-message field-validation-valid" data-valmsg-for="EffectiveToMonth" data-valmsg-replace="true"></span>
                        <span class="govuk-error-message field-validation-valid" data-valmsg-for="EffectiveToYear" data-valmsg-replace="true"></span>
    
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Effective to
                        </legend>
    
                        <div class="govuk-date-input">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="EffectiveToDay">
                                        Day
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 js-integers-only" type="text" maxlength="2" id="EffectiveToDay" name="EffectiveToDay" value="">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="EffectiveToMonth">
                                        Month
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 js-integers-only" type="text" maxlength="2" id="EffectiveToMonth" name="EffectiveToMonth" value="">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-date-input__label" for="EffectiveToYear">
                                        Year
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4 js-integers-only" type="text" maxlength="4" id="EffectiveToYear" name="EffectiveToYear" value="">
                                </div>
                            </div>
                        </div>
    
                    </div>
  
                     
                      
                    <div class="govuk-form-group">
    
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Contact
                        </legend>
    
                        <span class="govuk-error-message field-validation-valid" data-valmsg-for="ContactId" data-valmsg-replace="true"></span>
    
                        <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="2f0edc71-5689-4974-f984-08d5a10d8c5c" type="radio" value="2f0edc71-5689-4974-f984-08d5a10d8c5c" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="2f0edc71-5689-4974-f984-08d5a10d8c5c">
                                        Preprod Epao0008
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:epaomailinator+EPA0008@gmail.com">epaomailinator+EPA0008@gmail.com</a>
                                        </span>
                                                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="4e04f1b9-66cc-4968-15a0-08d70eaf128f" type="radio" value="4e04f1b9-66cc-4968-15a0-08d70eaf128f" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="4e04f1b9-66cc-4968-15a0-08d70eaf128f">
                                        shan pakad
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:umakanth.gangaraju+sp@digital.education.gov.uk">umakanth.gangaraju+sp@digital.education.gov.uk</a>
                                        </span>
                                                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="6bbc81ae-f22b-42e0-1451-08d7523fa473" type="radio" value="6bbc81ae-f22b-42e0-1451-08d7523fa473" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="6bbc81ae-f22b-42e0-1451-08d7523fa473">
                                        Raj Aqna
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:raj.balguri+aqna1@digital.education.gov.uk">raj.balguri+aqna1@digital.education.gov.uk</a>
                                        </span>
                                                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="c7327de5-815e-4213-1452-08d7523fa473" type="radio" value="c7327de5-815e-4213-1452-08d7523fa473" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="c7327de5-815e-4213-1452-08d7523fa473">
                                        Raj Aqna2
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:raj.balguri+aqna2@digital.education.gov.uk">raj.balguri+aqna2@digital.education.gov.uk</a>
                                        </span>
                                                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="40fa0fd6-ce35-4878-240c-08d752446441" type="radio" value="40fa0fd6-ce35-4878-240c-08d752446441" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="40fa0fd6-ce35-4878-240c-08d752446441">
                                        Raj Aqna4
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:raj.balguri+aqna4@digital.education.gov.uk">raj.balguri+aqna4@digital.education.gov.uk</a>
                                        </span>
                                                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="d331ac21-6898-425a-6d04-08d76922d551" type="radio" value="d331ac21-6898-425a-6d04-08d76922d551" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="d331ac21-6898-425a-6d04-08d76922d551">
                                        Dawn Baker
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:dawn.baker@education.gov.uk">dawn.baker@education.gov.uk</a>
                                        </span>
                                                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="02c2267b-5535-4fed-3bc9-08d8871b281f" type="radio" value="02c2267b-5535-4fed-3bc9-08d8871b281f" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="02c2267b-5535-4fed-3bc9-08d8871b281f">
                                        Faizal Dawood
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:Faizal.DAWOOD@education.gov.uk">Faizal.DAWOOD@education.gov.uk</a>
                                        </span>
                                                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="43133475-75dd-4bf0-79c1-08d88722f180" type="radio" value="43133475-75dd-4bf0-79c1-08d88722f180" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="43133475-75dd-4bf0-79c1-08d88722f180">
                                        Chris Hewison
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:chris.hewison@digital.education.gov.uk">chris.hewison@digital.education.gov.uk</a>
                                        </span>
                                                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="2b6163c3-3666-4bc2-a7b4-0a6cfe56a1dc" type="radio" value="2b6163c3-3666-4bc2-a7b4-0a6cfe56a1dc" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="2b6163c3-3666-4bc2-a7b4-0a6cfe56a1dc">
                                        Raj Test
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:raj.balguri+aqna@digital.education.gov.uk">raj.balguri+aqna@digital.education.gov.uk</a>
                                        </span>
                                                                        <span class="govuk-radios__hint">
                                            463313131
                                        </span>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="7237c408-cea2-476a-9739-2762eb07cbfa" type="radio" value="7237c408-cea2-476a-9739-2762eb07cbfa" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="7237c408-cea2-476a-9739-2762eb07cbfa">
                                        Raj aqna3
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:raj.balguri+aqna3@digital.education.gov.uk">raj.balguri+aqna3@digital.education.gov.uk</a>
                                        </span>
                                                                        <span class="govuk-radios__hint">
                                            123456
                                        </span>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="5bafaf6c-6bde-4843-96cc-31b93f3eab99" type="radio" value="5bafaf6c-6bde-4843-96cc-31b93f3eab99" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="5bafaf6c-6bde-4843-96cc-31b93f3eab99">
                                        Raj PP
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:raj.balguri+PP1001@digital.education.gov.uk">raj.balguri+PP1001@digital.education.gov.uk</a>
                                        </span>
                                                                        <span class="govuk-radios__hint">
                                            1312
                                        </span>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="41355d0d-b6fb-420e-a7fa-452e7a0bdaac" type="radio" value="41355d0d-b6fb-420e-a7fa-452e7a0bdaac" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="41355d0d-b6fb-420e-a7fa-452e7a0bdaac">
                                        jpLnTN edlcvI
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:TestContact_06MAR2021005339@mailinator.com">TestContact_06MAR2021005339@mailinator.com</a>
                                        </span>
                                                                        <span class="govuk-radios__hint">
                                            08444552418
                                        </span>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="7509e2c2-d857-43a1-a227-46e761a4f1a9" type="radio" value="7509e2c2-d857-43a1-a227-46e761a4f1a9" checked="checked" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="7509e2c2-d857-43a1-a227-46e761a4f1a9">
                                        Jamie Holland
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:raj.balguri+epa8@digital.education.gov.uk">raj.balguri+epa8@digital.education.gov.uk</a>
                                        </span>
                                                                        <span class="govuk-radios__hint">
                                            0844 543 0000
                                        </span>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="a8f01010-3bf1-419f-83b9-9c53116b32b4" type="radio" value="a8f01010-3bf1-419f-83b9-9c53116b32b4" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="a8f01010-3bf1-419f-83b9-9c53116b32b4">
                                        GtJCKz iZoOQs
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:TestContact_15JAN2021033204@mailinator.com">TestContact_15JAN2021033204@mailinator.com</a>
                                        </span>
                                                                        <span class="govuk-radios__hint">
                                            08444551291
                                        </span>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="14a70ed4-5739-4cf2-ac4b-a1e0707d5651" type="radio" value="14a70ed4-5739-4cf2-ac4b-a1e0707d5651" name="ContactId">
                                    <label class="govuk-label govuk-radios__label govuk-label--s" for="14a70ed4-5739-4cf2-ac4b-a1e0707d5651">
                                        Raj brewer
                                    </label>
                                        <span class="govuk-radios__hint">
                                            <a class="govuk-link" href="mailto:raj.balguri+2117@digital.education.gov.uk.test">raj.balguri+2117@digital.education.gov.uk.test</a>
                                        </span>
                                                                        <span class="govuk-radios__hint">
                                            542120
                                        </span>
                                </div>
                        </div>
                    </div>
    
                    <div class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Delivery areas
                        </legend>
    
                        <span class="govuk-error-message field-validation-valid" data-valmsg-for="DeliveryAreas" data-valmsg-replace="true"></span>
    
                        <div class="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="4" name="DeliveryAreas" type="checkbox" value="4" checked="">
                                    <label class="govuk-label govuk-checkboxes__label" for="4">
                                        North East
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="5" name="DeliveryAreas" type="checkbox" value="5">
                                    <label class="govuk-label govuk-checkboxes__label" for="5">
                                        North West
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="9" name="DeliveryAreas" type="checkbox" value="9">
                                    <label class="govuk-label govuk-checkboxes__label" for="9">
                                        Yorkshire and the Humber
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="1" name="DeliveryAreas" type="checkbox" value="1">
                                    <label class="govuk-label govuk-checkboxes__label" for="1">
                                        East Midlands
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="8" name="DeliveryAreas" type="checkbox" value="8">
                                    <label class="govuk-label govuk-checkboxes__label" for="8">
                                        West Midlands
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="2" name="DeliveryAreas" type="checkbox" value="2">
                                    <label class="govuk-label govuk-checkboxes__label" for="2">
                                        East of England
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="3" name="DeliveryAreas" type="checkbox" value="3">
                                    <label class="govuk-label govuk-checkboxes__label" for="3">
                                        London
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="6" name="DeliveryAreas" type="checkbox" value="6">
                                    <label class="govuk-label govuk-checkboxes__label" for="6">
                                        South East
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="7" name="DeliveryAreas" type="checkbox" value="7">
                                    <label class="govuk-label govuk-checkboxes__label" for="7">
                                        South West
                                    </label>
                                </div>
                        </div>
                    </div>
    
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="DeliveryAreasComments">
                            Delivery Area Notes
                        </label>
                        <span class="govuk-error-message field-validation-valid" data-valmsg-for="DeliveryAreasComments" data-valmsg-replace="true"></span>
                        <textarea class="govuk-textarea" maxlength="500" name="DeliveryAreasComments" id="DeliveryAreasComments" sfa-validationerror-class="govuk-textarea--error-override" rows="2"></textarea>
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="Comments">
                            Comments
                        </label>
                        <span class="govuk-error-message field-validation-valid" data-valmsg-for="Comments" data-valmsg-replace="true"></span>
                        <textarea class="govuk-textarea" maxlength="500" name="Comments" id="Comments" sfa-validationerror-class="govuk-textarea--error-override" rows="5"></textarea>
                    </div>
    
                    <a class="govuk-button govuk-!-margin-right-1" href="5-standard" type="submit" name="ActionChoice" value="Save">Save</a>
                    <a class="govuk-button govuk-button--secondary" href="5-standard">Cancel</a>
    
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KiN1CQ0FRtGkUnyXgzlATp6fGvwMaWQRqvedcgi1-U3lBNxPIWUTIBRXSe7eWhJc5z3GpCzjJU-Oj0AxGTgf8cSGBUQC5wshFOounp1N7MvKV4VOIabYkWVzJuoxBJfD0b2XWHiB9WEFWEbET33IgE0CiFGKpfK3sThwyAZ_OgRzxxPXylF9EhyKRTWfMM7xw"></form>
            </div>
        </div>
    </main>
    
    
        </div>








{% endblock %}


