{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}


<div class="govuk-width-container">
        



   
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                        <span class="govuk-caption-xl">
                            ST0398 Animal trainer
                        </span>
                    <h1 class="govuk-heading-xl">Apply to assess a standard</h1>
                    <ol class="app-task-list">
                        <li>
                            <h2 class="app-task-list__section">Your policies and procedures</h2>
                            <ul class="app-task-list__items app-task-list__items--no-number">
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="8-questions2a">
                                                Information commissioner's office registration
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Internal audit policy
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Public liability insurance
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Professional indemnity insurance
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Employers liability insurance
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Safeguarding policy
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Prevent agenda policy
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Conflict of interest policy
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Monitoring procedures
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Monitoring processes
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Complaints and appeals policy
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Fair access
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Consistency assurance
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Continuous quality assurance
                                            </a>
                                        </span>
                                    </li>
    </ul></li><li><h2 class="app-task-list__section">Your occupational competence</h2><ul class="app-task-list__items app-task-list__items--no-number">                                <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Engagement with trailblazers and employers
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Professional organisation membership
                                            </a>
                                        </span>
                                    </li>
    </ul></li><li><h2 class="app-task-list__section">Your assessors</h2><ul class="app-task-list__items app-task-list__items--no-number">                                <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Number of assessors
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Assessment capacity
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Ability to deliver assessments
                                            </a>
                                        </span>
                                    </li>
    </ul></li><li><h2 class="app-task-list__section">Your professional standards</h2><ul class="app-task-list__items app-task-list__items--no-number">                                <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Recruitment and training
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Skills and qualifications
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Continuous professional development
                                            </a>
                                        </span>
                                    </li>
    </ul></li><li><h2 class="app-task-list__section">Your end-point assessment delivery model</h2><ul class="app-task-list__items app-task-list__items--no-number">                                <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                End-point assessment delivery model
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Outsourcing of end-point assessments
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Engaging with employers and training providers
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Managing conflicts of interest
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Assessment locations
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Providing services straight away
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Assessment methods
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Continuous resource development
                                            </a>
                                        </span>
                                    </li>
    </ul></li><li><h2 class="app-task-list__section">Your end-point assessment competence</h2><ul class="app-task-list__items app-task-list__items--no-number">                                <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Secure IT infrastructure
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Assessment administration
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Assessment products and tools
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Assessment content
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Collation and confirmation of assessment outcomes
                                            </a>
                                        </span>
                                    </li>
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Recording assessment results
                                            </a>
                                        </span>
                                    </li>
    </ul></li><li><h2 class="app-task-list__section">Your online information</h2><ul class="app-task-list__items app-task-list__items--no-number">                                <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a class="govuk-link--no-visited-state" href="#">
                                                Web address
                                            </a>
                                        </span>
                                    </li>
    </ul></li>                        
                        
                    </ol>
                    <div class="govuk-button-group">
                        <a role="button" class="govuk-button" data-module="govuk-button" href="9-appoverview2">
                            
                          Continue to application overview
                        </a>
                      
                        <a role="button" class="govuk-button govuk-button--secondary das-float-right" data-module="govuk-button" href="9-standards">
                          Save as draft
                        </a>
                      </div>
        </div>
    </main>
    
    
    
    
    
        </div>

          
                   
{% endblock %}
