
<!--OLD
<a href="/sprint-12/add-apprentice1/6a-approve" class="image-demo">
  <img src="/public/images/Jrny-6.png" width="auto" height="auto" />
</a>
-->
{% extends "layout-image.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-width-container">

   <a id="back-link" class="govuk-back-link" href="/KK6WKG/apprentices?PageNumber=1&amp;ReverseSort=False&amp;FromSearch=True">Back to manage your apprentices</a>
       <main class="govuk-main-wrapper " id="main-content" role="main">





<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">






       <h1 class="govuk-heading-xl" id="learnerName">Solomon Gold001</h1>

               <p class="govuk-body">
                   Edit details if there's a change in apprentice or apprenticeship circumstances.
               </p>

       <table id="app-status" class="govuk-table govuk-!-margin-bottom-8">
           <tbody>
               <tr>
                   <th scope="row" class="govuk-table__header das-table-cell-width-45">Status</th>
                   <td class="govuk-table__cell das-table-cell-width-40">Waiting to start</td>
                   <td id="editStatusLink" class="govuk-table__cell das-table-cell-width-15 govuk-table__cell--numeric">
                           <a id="edit-status-link" href="/KK6WKG/apprentices/YGY9R8/details/changestatus?ApprenticeshipId=0" class="govuk-link">Edit</a>
                   </td>
               </tr>


               <tr>
                   <th scope="row" class="govuk-table__header">Training provider</th>
                   <td class="govuk-table__cell">SOUTHAMPTON ENGINEERING TRAINING ASSOCIATION LIMITED (THE)</td>
                       <td class="govuk-table__cell govuk-table__cell--numeric">
                           <a id="change-training-provider-link" class="govuk-link" href="/KK6WKG/apprentices/YGY9R8/change-provider">Change</a>
                       </td>
               </tr>
               <tr>
                   <th scope="row" class="govuk-table__header">Cohort reference</th>
                   <td id="cohort-reference" class="govuk-table__cell">D9LWX7</td>
                   <td class="govuk-table__cell"></td>
               </tr>
           </tbody>
       </table>


     <h2 class="govuk-heading-m">Apprentice details</h2>
       <table id="app-status" class="govuk-table govuk-!-margin-bottom-8">
           <tbody>
               <tr>
                   <th scope="row" class="govuk-table__header das-table-cell-width-45">Name</th>
                   <td class="govuk-table__cell das-table-cell-width-40">Solomon Gold001</td>
                   <td id="editStatusLink" class="govuk-table__cell das-table-cell-width-15 govuk-table__cell--numeric">
                           <a id="edit-status-link" href="/KK6WKG/apprentices/YGY9R8/details/changestatus?ApprenticeshipId=0" class="govuk-link">Edit</a>
                   </td>
               </tr>


               <tr>
                   <th scope="row" class="govuk-table__header">Unique learner number</th>
                   <td class="govuk-table__cell">8389060972</td>
                       <td class="govuk-table__cell govuk-table__cell--numeric">
                           <a id="change-training-provider-link" class="govuk-link" href="/KK6WKG/apprentices/YGY9R8/change-provider">Change</a>
                       </td>
               </tr>
               <tr>
                   <th scope="row" class="govuk-table__header">Date of birth</th>
                   <td id="cohort-reference" class="govuk-table__cell">1 Jan 2002  </td>
                   <td class="govuk-table__cell"></td>
               </tr>
           </tbody>
       </table>

<!--
       <div class="govuk-grid-row govuk-!-margin-bottom-2">
           <div class="govuk-grid-column-two-thirds">
               <h2 class="govuk-heading-m">Apprentice details</h2>
           </div>
           <div class="govuk-grid-column-one-third das-!-text-align-right--from-tablet">
                   <a id="edit-apprentice-link" href="https://pp-eas.apprenticeships.education.gov.uk/commitments/accounts/KK6WKG/apprentices/manage/YGY9R8/edit" class="govuk-link govuk-body">Edit</a>
           </div>


       </div>








       <table class="govuk-table govuk-!-margin-bottom-8">
           <tbody class="govuk-table__body">
               <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header  das-table-cell-width-45" ">Name</th>
                   <td id="apprentice-name" class="govuk-table__cell das-table-cell-width-55">Solomon Gold001</td>
               </tr>
               <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">Unique learner number</th>
                   <td id="uln" class="govuk-table__cell">8389060972</td>
               </tr>
               <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">Date of birth</th>
                   <td id="date-of-birth" class="govuk-table__cell">
1 Jan 2002                    </td>
               </tr>
           </tbody>
       </table>-->

       <h2 class="govuk-heading-m">
           Apprenticeship details
       </h2>
       <table class="govuk-table  govuk-!-margin-bottom-8">
           <tbody class="govuk-table__body">
               <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header das-table-cell-width-45">Apprenticeship training course </th>
                   <td class="govuk-table__cell das-table-cell-width-55" colspan="2">Motor vehicle service and maintenance technician (light vehicle) </td>
               </tr>
               <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header das-table-cell-width-45">Level</th>
                   <td class="govuk-table__cell das-table-cell-width-55" colspan="2">3</td>
               </tr>
               <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header das-table-cell-width-45">Version</th>
                   <td class="govuk-table__cell das-table-cell-width-55" colspan="2">1.1</td>
               </tr>

               <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">Planned training start date</th>
                   <td id="start-date" class="govuk-table__cell" colspan="2">
January 2022                </td>
               </tr>
               <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">Planned training finish date</th>
                   <td id="end-date" class="govuk-table__cell">
January 2025                    </td>
                   <td class="govuk-table__cell">
                   </td>
               </tr>
               <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">Total agreed apprenticeship price</th>
                   <td id="apprentice-cost" class="govuk-table__cell" colspan="2">&pound;1,500 excluding VAT</td>
               </tr>
               <tr class="govuk-table__row">
                   <th scope="row" class="govuk-table__header">Reference </th>
                   <td id="employer-reference" class="govuk-table__cell" colspan="2">JKRL8B</td>
               </tr>
                   <tr class="govuk-table__row">
                       <th scope="row" class="govuk-table__header">End-point assessor</th>
                       <td id="end-point-assessor" class="govuk-table__cell" colspan="2">The end-point assessor has not been declared</td>
                   </tr>
           </tbody>
       </table>
   </div>
</div>


       </main>
   </div>














{% endblock %}
