{% extends "layout-epao.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
     <div id="service-title-section" class="epao-page">

          <div class="govuk-width-container">

               <div class="govuk-grid-row dashboard-title">
                    <div class="govuk-grid-column-two-thirds">
                         <a href="#" onclick="history.go(-1)" class="govuk-back-link">Back</a>
                         <h1 class="govuk-heading-xl">
                              Search for the address that you'd like to us to send the certificate to
                         </h1>
                    </div>
               </div>

          </div>

     </div>
{% endblock %}

{% block content %}
<div class="govuk-width-container">

     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

               <form method="post" action="6-address" class="">

                    <p>
                         Some employers are not open due to the coronavirus (COVID-19) outbreak. You can temporarily choose to send
                         certificates to the apprentice, employer or training provider.
                    </p>

                    {% from "govuk/components/input/macro.njk" import govukInput %}

                    {{ govukInput({
                         label: {
                              text: "Start typing the company name, address or postcode",
                              classes: "govuk-label--m",
                              isPageHeading: false
                         },
                         id: "epao-address",
                         name: "epao-address"
                    }) }}

                    <p>
                         <a href="#">Enter the address manually</a>
                    </p>

                    {% from "govuk/components/button/macro.njk" import govukButton %}

                    {{ govukButton({
                         text: "Continue"
                    }) }}

               </form>
          </div>
     </div>

</div>
{% endblock %}
