{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}

<div class="govuk-width-container">
        


    <a class="govuk-back-link" href="4-details">Back</a>
    
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
    
                <h1 class="govuk-heading-xl">Re-print certificate</h1>
    
                    <p class="govuk-body-l">Request a duplicate print of the following certificate:</p>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Certificate number
                            </dt>
                            <dd class="govuk-summary-list__value">
                                00011580
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Name
                            </dt>
                            <dd class="govuk-summary-list__value">
                                Abram Aamot
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                ULN
                            </dt>
                            <dd class="govuk-summary-list__value">
                                7278214419
                            </dd>
                        </div>
                    </dl>
                    <form method="post" action="12-confirmation">
                        <button class="govuk-button">Confirm reprint</button>
                    </form>
                    <form method="get" action="5-amend">
                        <button class="govuk-button govuk-button--secondary">Amend before reprint</button>
                    </form>
            </div>
        </div>
    </main>
        </div>









{% endblock %}



