{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}
<div class="govuk-width-container">
        

    <a class="govuk-back-link" href="7-amend1">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">     

            <form type="post" asp-method="Option" class="apprentice-option-form" action="9-amend2" method="post" novalidate="novalidate">
               

               


                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="options-conditional-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-heading-xl">
                                What version did the apprentice take?
                            </h1>
                        </legend>
                       
                        <span id="options-conditional-hint" class="govuk-hint">
                            The version will appear on the certificate.
                        </span>
                        {% from "govuk/components/radios/macro.njk" import govukRadios %}

                        {{ govukRadios({
                          idPrefix: "chooseversion",
                          name: "chooseversion",
                          fieldset: {
                            legend: {
                              text: "",
                              isPageHeading: true,
                              classes: "govuk-fieldset__legend--m"
                            }
                          },
    
    
    
    
                          items: [
                            {
                              value: "1.0",
                              text: "Version 1.0"
    
                            },
    
    
                            {
                              value: "1.1",
                              text: "Version 1.1"
                            },
    
    
    
                              {
                                value: "1.2",
                                text: "Version 1.2"
                            }
                          ]
                        }) }}

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="ReasonForChange">
                        Reason for change
                    </label>
                    <span class="govuk-hint">Provide more detail as to why this change is required.</span>
                    <textarea class="govuk-textarea" rows="5" name="ReasonForChange" id="ReasonForChange"></textarea>
                </div>

                <button type="submit" class="govuk-button">Continue</button>
           </form>
        </div>
    </div>
</main>


    </div>





{% endblock %}



