{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}

<div class="govuk-width-container">
        
     <main class="govuk-main-wrapper " id="main-content" role="main">
     
         <div class="govuk-grid-row">
             <div class="govuk-grid-column-two-thirds">
                 <h1 class="govuk-heading-xl">Staff dashboard</h1>
             </div>
         </div>
     
     
         <div class="govuk-grid-row govuk-!-margin-bottom-7">
     
             <!-- RoATP gateway assessor -->
             
             <!-- /RoATP gateway assessor -->
     
         </div>
         <div class="govuk-grid-row govuk-!-margin-bottom-7">
     
             <!-- RoATP PMO -->
             
             <!-- /RoATP PMO -->
     
         </div>
         <div class="govuk-grid-row govuk-!-margin-bottom-7">
     
             <!-- RoATP assessor -->
             
             <!-- /RoATP assessor -->
     
         </div>
         <div class="govuk-grid-row govuk-!-margin-bottom-7">
     
             <!-- RoATP oversight -->
             
             <!-- /RoATP oversight -->
     
         </div>
         <div class="govuk-grid-row govuk-!-margin-bottom-7">
     
             
     
         </div>
         <div class="govuk-grid-row govuk-!-margin-bottom-7">
     
             
     
         </div>
         <div class="govuk-grid-row govuk-!-margin-bottom-7">
     
             <div class="govuk-grid-column-one-half" id="assessment-outcomes-and-certifications">
                 <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                     Assessment outcomes and certifications
                 </h2>
                 <p class="govuk-body govuk-!-margin-bottom-2">Request certificates reprints, check assessment outcomes and status of certficates.</p>
                 <ul class="govuk-list govuk-!-margin-bottom-0">
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="2-search">Search</a>
                     </li>
                 </ul>
             </div>
         
         
             <div class="govuk-grid-column-one-half" id="privately-funded-certficate-approvals">
                 <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                     Privately funded certificate approvals
                 </h2>
                 <p class="govuk-body govuk-!-margin-bottom-2">A table of privately funded certificates with options to approve, send for approval or reject.</p>
                 <ul class="govuk-list govuk-!-margin-bottom-0">
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">New</a>
                     </li>
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Sent for approval</a>
                     </li>
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Approved</a>
                     </li>
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Rejected</a>
                     </li>
                 </ul>
             </div>
     
         </div>
         <div class="govuk-grid-row govuk-!-margin-bottom-7">
     
             <div class="govuk-grid-column-one-half" id="organisation-applications">
                 <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                     Organisation applications
                 </h2>
                 <p class="govuk-body govuk-!-margin-bottom-2">Review and approve new organisation applications, check on progress, send and receive feedback.</p>
                 <ul class="govuk-list govuk-!-margin-bottom-0">
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">New (0)</a>
                     </li>
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">In progress (33)</a>
                     </li>
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Feedback (8)</a>
                     </li>
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Approved (178)</a>
                     </li>
                 </ul>
             </div>
     
     
             <div class="govuk-grid-column-one-half" id="standard-applications">
                 <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                     Standard applications
                 </h2>
                 <p class="govuk-body govuk-!-margin-bottom-2">Review and approve new Standard applications, check on progress, send and receive feedback.</p>
                 <ul class="govuk-list govuk-!-margin-bottom-0">
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">New (12)</a>
                     </li>
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">In progress (10)</a>
                     </li>
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Feedback (11)</a>
                     </li>
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Approved (231)</a>
                     </li>
                 </ul>
             </div>
     
         </div>
         <div class="govuk-grid-row govuk-!-margin-bottom-7">
     
             <div class="govuk-grid-column-one-half" id="organisation-withdrawal-applications">
                 <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
                     Withdrawal applications
                 </h2>
                 <p class="govuk-body">Review and approve withdrawal applications, check on progress, send and receive feedback.</p>
                 <ul class="govuk-list">
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">New (19)</a>
                     </li>
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">In progress (4)</a>
                     </li>
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Feedback (24)</a>
                     </li>
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Approved (186)</a>
                     </li>
                 </ul>
             </div>
                     <div class="govuk-grid-column-one-half" id="financial-health-assessment">
                 <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                     Financial health assessment
                 </h2>
                 <p class="govuk-body govuk-!-margin-bottom-2">Review financial health of an organisation.</p>
                 <ul class="govuk-list govuk-!-margin-bottom-0">
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">New</a>
                     </li>
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Rejected</a>
                     </li>
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Closed</a>
                     </li>
                 </ul>
             </div>
     
         </div>
         <div class="govuk-grid-row govuk-!-margin-bottom-7">
     
             <div class="govuk-grid-column-one-half" id="registered-epaos">
                 <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                     Registered EPAOs
                 </h2>
                 <p class="govuk-body govuk-!-margin-bottom-2">Search, view and edit organisations that are currently live on the Register.</p>
                 <ul class="govuk-list govuk-!-margin-bottom-0">
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Search organisations</a>
                     </li>
                     <li sfa-show-for-roles="EPA,EPC">
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Add an organisation</a>
                     </li>
                 </ul>
             </div>
     
     
             <div class="govuk-grid-column-one-half" id="print-schedule-configurations">
                 <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                     Print schedule configuration
                 </h2>
                 <p class="govuk-body govuk-!-margin-bottom-2">Create, delete and view existing print schedules.</p>
                 <ul class="govuk-list govuk-!-margin-bottom-0">
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">View</a>
                     </li>
                 </ul>
             </div>
     
         </div>
         <div class="govuk-grid-row govuk-!-margin-bottom-7">
     
             <div class="govuk-grid-column-one-half" id="reports">
                 <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                     Reports
                 </h2>
                 <p class="govuk-body govuk-!-margin-bottom-2">On demand reporting</p>
                 <ul class="govuk-list govuk-!-margin-bottom-0">
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Reports</a>
                     </li>
                 </ul>
             </div>
     
     
             <div class="govuk-grid-column-one-half" id="certificate-batch-search">
                 <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                     Certificate batch search
                 </h2>
                 <p class="govuk-body govuk-!-margin-bottom-2">View current batches and search for certificates by batch number.</p>
                 <ul class="govuk-list govuk-!-margin-bottom-0">
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Batch search</a>
                     </li>
                 </ul>
             </div>
     
         </div>
         <div class="govuk-grid-row govuk-!-margin-bottom-7">
     
             <div class="govuk-grid-column-one-half" id="record-a-grade-api">
                 <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                     Record a grade API
                 </h2>
                 <p class="govuk-body govuk-!-margin-bottom-2">Manage user's access and generate API keys.</p>
                 <ul class="govuk-list govuk-!-margin-bottom-0">
                     <li>
                         <a class="govuk-link govuk-link--no-visited-state" href="#">Users</a>
                     </li>
                 </ul>
             </div>
         </div>
     
     </main>
         </div>











{% endblock %}



