{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}
<div class="govuk-width-container">
        

    <a class="govuk-back-link" href="sentprinteramend">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">     

            <form type="post" asp-method="Option" class="apprentice-option-form" action="sentprinteramend" method="post" novalidate="novalidate">

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="options-conditional-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-heading-xl">
                                What version did the apprentice take?
                            </h1>
                        </legend>
                        <p class="govuk-body">
                           
                        </p>
                        <span id="options-conditional-hint" class="govuk-hint">
                            The version will appear on the certificate.
                        </span>
                        <div class="govuk-form-group">
                            <div class="error-message-container" sfa-validation-for="HasAdditionalLearningOption">
                            </div>
                            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="options_yes-conditional" type="radio" value="True" aria-controls="conditional-options_yes-conditional" data-val="true" data-val-required="The Has Additional Learning Option field is required." name="HasAdditionalLearningOption">
                                    <label class="govuk-label govuk-radios__label" for="options_yes-conditional">
                                        1.0
                                    </label>
                                </div>
                                
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="options_no-conditional" type="radio" value="False" checked="checked" name="HasAdditionalLearningOption">
                                    <label class="govuk-label govuk-radios__label" for="options_no-conditional">
                                        1.1
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="ReasonForChange">
                        Reason for change
                    </label>
                    <span class="govuk-hint">Provide more detail as to why this change is required.</span>
                    <textarea class="govuk-textarea" rows="5" name="ReasonForChange" id="ReasonForChange"></textarea>
                </div>

                
                   
                    <button class="govuk-button">Continue</button>
           </form>
        </div>
    </div>
</main>


    </div>




{% endblock %}



