{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}
<div class="govuk-width-container">
        

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                <a class="govuk-back-link" href="sentprinteramend">Back</a>
    
            <form class="apprentice-standard-codes-form js-disable-on-submit" method="post" action="sentprinteramend" novalidate="novalidate">
                <input data-val="true" data-val-required="The Id field is required." id="Id" name="Id" type="hidden" value="3578681c-d9c6-4998-3ad8-08d74e343473">
                <input data-val="true" data-val-required="The From Approval field is required." id="FromApproval" name="FromApproval" type="hidden" value="False">
               
    
    
                    <div>
                        <h1 class="govuk-heading-xl">
                            Search and select the standard
                        </h1>
    
                        <div class="govuk-form-group">
                            <label class="form-label" for="SelectedStandardCode">
                                <span class="form-label-bold visually-hidden">Standard Codes</span>
                                <span class="govuk-hint">
                                    For example, Assistant accountant
                                </span>
                                <span class="govuk-error-message field-validation-valid" data-valmsg-for="SelectedStandardCode" data-valmsg-replace="true"></span>
                            </label>
                            <select class="govuk-input" sfa-validation-for="SelectedStandardCode" sfa-validationerror-class="govuk-input--error" data-val="true" data-val-required="Select the standard" id="SelectedStandardCode" name="SelectedStandardCode">
                                <option value="">Please select one</option>
                            <option value="17">Actuarial technician (17)</option>
    <option value="255">Actuary (255)</option>
    <option value="119">Adult care worker (119)</option>
    <option value="240">Advanced carpentry and joinery (240)</option>
    <option value="180">Arborist (180)</option>
    <option value="294">Brewer (294)</option>
    <option value="354">Broadcast and media systems engineer (integrated degree) (354)</option>
    <option value="196">Business administrator (196)</option>
    <option value="250">Business fire safety advisor (250)</option>
    <option value="239">Carpentry and joinery (239)</option>
    <option value="55">Chartered manager (degree) (55)</option>
    <option value="169">Chef de partie (169)</option>
    <option value="93">Commis chef (93)</option>
    <option value="122">Customer service practitioner (122)</option>
    <option value="278">Customer service specialist (278)</option>
    <option value="61">Dental nurse (integrated) (61)</option>
    <option value="78">Digital marketer (78)</option>
    <option value="504">District nurse (504)</option>
    <option value="127">Electrical power protection and plant commissioning engineer (127)</option>
    <option value="202">Engineering construction pipefitter (202)</option>
    <option value="245">Food and drink advanced engineer (integrated degree) (245)</option>
    <option value="182">Forest operative (182)</option>
    <option value="74">Gas engineering operative (74)</option>
    <option value="21">Golf greenkeeper (21)</option>
    <option value="157">Hair professional (157)</option>
    <option selected="selected" value="102">Healthcare assistant practitioner (102)</option>
    <option value="103">Healthcare support worker (103)</option>
    <option value="135">Heavy vehicle service and maintenance technician (135)</option>
    <option value="181">Horticulture or landscape operative (181)</option>
    <option value="138">Hospitality supervisor (138)</option>
    <option value="96">Hospitality team member (96)</option>
    <option value="82">Infrastructure technician (82)</option>
    <option value="60">Insurance practitioner (60)</option>
    <option value="63">Insurance professional (63)</option>
    <option value="29">Investment operations administrator (29)</option>
    <option value="30">Investment operations specialist (30)</option>
    <option value="33">Investment operations technician (33)</option>
    <option value="165">IS business analyst (165)</option>
    <option value="69">Land-based service engineer (69)</option>
    <option value="70">Land-based service engineering technician (70)</option>
    <option value="118">Lead adult care worker (118)</option>
    <option value="386">Maritime operations officer (386)</option>
    <option value="366">Mineral and construction product sampling and testing operations (366)</option>
    <option value="210">Motor finance specialist (210)</option>
    <option value="59">Motor vehicle service and maintenance technician (light vehicle) (59)</option>
    <option value="1">Network engineer (1)</option>
    <option value="104">Operations or departmental manager (104)</option>
    <option value="225">Plumbing and domestic heating technician (225)</option>
    <option value="6">Power network craftsperson (6)</option>
    <option value="23">Property maintenance operative (23)</option>
    <option value="36">Public service operational delivery officer (36)</option>
    <option value="90">Rail engineering operative (90)</option>
    <option value="49">Refrigeration air conditioning and heat pump engineering technician (49)</option>
    <option value="7">Relationship manager (banking) (7)</option>
    <option value="140">Retail team leader (140)</option>
    <option value="101">Retailer (101)</option>
    <option value="151">Senior healthcare support worker (151)</option>
    <option value="236">Senior leader (degree) (236)</option>
    <option value="139">Senior production chef (139)</option>
    <option value="2">Software developer (2)</option>
    <option value="154">Software development technician (154)</option>
    <option value="91">Software tester (91)</option>
    <option value="105">Team leader or supervisor (105)</option>
    <option value="100">Transport planning technician (100)</option>
    <option value="120">Travel consultant (120)</option>
    <option value="155">Unified communications technician (155)</option>
    </select>
                        </div>
    
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--m" for="ReasonForChange">
                            Reason for change
                        </label>
                        <span class="govuk-hint">Provide more detail as to why this change is required.</span>
                        <span class="govuk-error-message field-validation-valid" data-valmsg-for="ReasonForChange" data-valmsg-replace="true"></span>
                            <textarea class="govuk-textarea" rows="5" name="ReasonForChange" id="ReasonForChange"></textarea>
                        </div>
                    </div>
    
                <button type="submit" class="govuk-button">Continue</button>
            </form>
        </div>
    </div>
    
    
        </div>





{% endblock %}



