{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}
<div class="govuk-width-container">
        

    <a class="govuk-back-link" href="sentprinteramend">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">     

            <form type="post" asp-method="Option" class="apprentice-option-form" action="sentprinteramend" method="post" novalidate="novalidate">
                <input data-val="true" data-val-required="The Id field is required." id="Id" name="Id" type="hidden" value="3578681c-d9c6-4998-3ad8-08d74e343473">
                <input data-val="true" data-val-required="The From Approval field is required." id="FromApproval" name="FromApproval" type="hidden" value="False">

                <div class="js-error-summary govuk-error-summary" role="alert" aria-labelledby="error-summary-title" tabindex="-1" data-module="error-summary">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="js-error-summary-list govuk-list govuk-error-summary__list"></ul>
                    </div>
                </div>


                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="options-conditional-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-heading-xl">
                                Did the apprentice take a learning option?
                            </h1>
                        </legend>
                        <p class="govuk-body">
                            You may know options as 'occupational options', 'pathways', 'specialisms' or 'specialist functions'.
                        </p>
                        <span id="options-conditional-hint" class="govuk-hint">
                            The option will appear on the certificate.
                        </span>
                        <div class="govuk-form-group">
                            <div class="error-message-container" sfa-validation-for="HasAdditionalLearningOption">
                            </div>
                            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="options_yes-conditional" type="radio" value="True" aria-controls="conditional-options_yes-conditional" data-val="true" data-val-required="The Has Additional Learning Option field is required." name="HasAdditionalLearningOption" aria-expanded="false">
                                    <label class="govuk-label govuk-radios__label" for="options_yes-conditional">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-options_yes-conditional">                                    
                                    <div class="govuk-form-group">
                                    <label class="govuk-label" for="Option">
                                        What was the option?
                                    </label>
                                        <input class="govuk-input" type="text" id="Option" name="Option" value="">
                                    </div>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="options_no-conditional" type="radio" value="False" checked="checked" name="HasAdditionalLearningOption">
                                    <label class="govuk-label govuk-radios__label" for="options_no-conditional">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="ReasonForChange">
                        Reason for change
                    </label>
                    <span class="govuk-hint">Provide more detail as to why this change is required.</span>
                    <textarea class="govuk-textarea" rows="5" name="ReasonForChange" id="ReasonForChange"></textarea>
                </div>

                <button type="submit" class="govuk-button">Continue</button>
           </form>
        </div>
    </div>
</main>


    </div>




{% endblock %}



