{% extends "layout-epaoapplystandards.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-width-container">

  <a href="/sprint-4-beta/epaoapplynewversion/1-standards" class="govuk-back-link">Return to approved standards and versions</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      <span class="govuk-caption-l govuk-!-margin-bottom-2">Standard details</span>
  Animal trainer
  </h1>
  <p class="govuk-body-l">Reference: ST0398</p>
  
  <p class="govuk-body">For more information visit <a class="govuk-link--no-visited-state" target="_blank" href="https://www.instituteforapprenticeships.org/apprenticeship-standards/animal-trainer-v1-0">the iFATE page for this standard</a>.</p>
  
  <div class="govuk-inset-text">
   <strong> What does it mean to opt in or apply for a standard version?</strong>
    <br><br>

  You can opt into a new standard version if you've already been approved for a different version with the same assessment plan. 
  This means you'll be automatically approved and won't have to answer questions about your organisation's assessment capabilities and capacity.
  <br><br>
  You can apply for a new standard version if you've already been approved for a different version of the same standard. 
  This means you won't have to answer as many questions to get approved. 
</div>


<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m"></p>
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Status</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Action</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
       
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">1.2</th>
        <td class="govuk-table__cell">Available for application</td>
        <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="/sprint-4-beta/epaoapplynewversion/3-apply">Apply for standard version</a></td>
      </tr>
      
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">1.1</th>
        <td class="govuk-table__cell">Available to opt in</td>
        <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="/sprint-4-beta/epaoapplyoptin/3-optin">Opt into standard version</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">1.0</th>
        <td class="govuk-table__cell">Approved</td>
        <td class="govuk-table__cell"></td>
      </tr>
    </tbody>
  </table>

  
       

      
   

  
  
</main>
</div>
                   
{% endblock %}

