{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}




<div class="govuk-width-container">
        


    <a class="govuk-back-link" href="results">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">
                    Certificate 00023012
                    <span class="govuk-caption-xl">Status: Draft</span>
                </h1>

        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Apprentice details</h2>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Annie Pilkington
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <abbr title="Unique learner number">ULN</abbr>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        4552889288
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Funding model
                    </dt>
                    <dd class="govuk-summary-list__value">
                        36
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Completion status
                    </dt>
                    <dd class="govuk-summary-list__value">
                        1 - Continuing
                    </dd>
                </div>
            </dl>
        </div>
    </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Certificate details</h2>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Certificate number
                        </dt>
                        <dd class="govuk-summary-list__value">
                            00023012
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            EPAO
                        </dt>
                        <dd class="govuk-summary-list__value">
                            City and Guilds
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            EPAO ID
                        </dt>
                        <dd class="govuk-summary-list__value">
                            EPA0008
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Standard
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Power network craftsperson (6)
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Level
                        </dt>
                        <dd class="govuk-summary-list__value">
                            3
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Version
                        </dt>
                        <dd class="govuk-summary-list__value">
                           1.0
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Option
                        </dt>
                        <dd class="govuk-summary-list__value">
Overhead Lines                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Grade
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Pass
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Learner start date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            01/08/2018
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Achievement date
                        </dt>
                        <dd class="govuk-summary-list__value">
                            13/02/2021
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Status
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Draft
                        </dd>
                    </div>
                                                        </dl>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l" id="history">History</h2>

                <table class="govuk-table govuk-table--s das-table--responsive">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="col">Date and time</th>
                            <th class="govuk-table__header" scope="col">Action</th>
                            <th class="govuk-table__header" scope="col">User</th>
                            <th class="govuk-table__header" scope="col">Status</th>
                            <th class="govuk-table__header" scope="col">Batch</th>
                            <th class="govuk-table__header" scope="col">
                            </th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" data-label="Date and time">13/02/2021 01:04:49</td>
                                <td class="govuk-table__cell" data-label="Action">Recipient</td>
                                <td class="govuk-table__cell" data-label="By">
                                    Preprod Epao0008<br>
                                    <span class="govuk-body-s">epaomailinator+EPA0008@gmail.com</span>
                                </td>
                                <td class="govuk-table__cell" data-label="Status">Draft</td>
                                <td class="govuk-table__cell" data-label="Batch"></td>
                                <td class="govuk-table__cell" data-label="Change">
                                </td>
                            </tr>
                            <tr class="govuk-table__row js-expandble-cell expandble-cell--hidden expandble-cell" aria-hidden="true">
                                <td class="govuk-table__cell" data-label="Reason for change" colspan="6">
                                    <div class="expandble-cell-content">
                                        <h3 class="govuk-heading-s expandble-cell-content--first-heading">Reason for change</h3>
                                        
                                    </div>
                                </td>
                            </tr>
                    </tbody>
                </table>

                    <a class="govuk-button" href="#">Show all history</a>
            </div>
        </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-m">What do you want to do next?</h2>
            <ul class="govuk-list">
                    <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="5-amend">Amend certificate information</a>
                    </li>
                                    <li>
                                        <a class="govuk-link govuk-link--no-visited-state" href="#">Delete certificate</a>
                    </li>
                <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="#">Search for another apprentice</a>
                </li>
            </ul>
        </div>
    </div>
</main>
    </div>







{% endblock %}



