{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}




<div class="govuk-width-container">
        

    <a class="link-back" href="https://das-standards-versioning-proto.herokuapp.com/">Back to home page</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Confirmation</h1>

            <p class="govuk-body-l">
                Thank you for confirming the certificate changes for certificate for:
            </p>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        Annie Pilkington
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        ULN
                    </dt>
                    <dd class="govuk-summary-list__value">
                        4552889288
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Certificate reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        00023012
                    </dd>
                </div>
            </dl>
            
            <p class="govuk-body">
                <a class="govuk-link" href="/Search">Search Again</a>
            </p>
        </div>
    </div>
</main>
    </div>





{% endblock %}



