{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-width-container">
        


    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
    
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
You have opted into Version 1.1                </h1>
                        
                    </div>
                    <p class="govuk-body">We have sent you a confirmation email.</p>
                    <h3 class="govuk-heading-m">What happens next</h3>
                    <p class="govuk-body">You are now approved to assess Version 1.1 of the Animal trainer standard.</p>
                    <p class="govuk-body"><a href="5-standards" class="govuk-link--no-visited-state">Go back to your standards</a></p>


                    <br><br>
                    <p class="govuk-body"><a href="#" class="govuk-link--no-visited-state">What do you think of this service?</a> (Takes 60 seconds)</p>
    
            </div>
        </div>
    </main>
    
    
    
    
    
        </div>
       

          
                   
{% endblock %}
