{% extends "layout-epaoapplystandards.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}

<div class="govuk-width-container">
        






    <main class="govuk-main-wrapper " id="main-content" role="main">
        <form method="post" action="details2" class="">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Standards</h1>
            </div>
        </div>
    
    
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <table class="govuk-table govuk-table--small responsive">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="col">
                                    Standard
                                </th>
                                <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                                    Reference
                                </th>
                                <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                                    Level
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <a class="govuk-link--no-visited-state" href="6-details2">Animal trainer </a>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST00398
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    4
                                </td>
                               
                                
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <a class="govuk-link--no-visited-state" href="#">Actuary</a>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST00255
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    7
                                </td>
                                
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <a class="govuk-link--no-visited-state" href="#"> Advanced carpentry and joinery</a>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST00240
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    3
                                </td>
                                
                            </tr>
                            
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <a class="govuk-link--no-visited-state" href="#">Arborist</a>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST00180
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    2
                                </td>
                                
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <a class="govuk-link--no-visited-state" href="#"> Brewer</a>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST00294
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    4
                                </td>
                                
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <a class="govuk-link--no-visited-state" href="#"> Broadcast and media systems engineer (integrated degree)</a>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST00354
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    6
                                </td>
                                
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <a class="govuk-link--no-visited-state" href="#">Business administrator</a>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST00196
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    3
                                </td>
                                
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <a class="govuk-link--no-visited-state" href="#"> Business fire safety advisor</a>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST00250
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    3
                                </td>
                                
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <a class="govuk-link--no-visited-state" href="#"> Carpentry and joinery</a>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST00239
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    2
                                </td>
                                
                            </tr>
                            <tr class="govuk-table__row">
                                <td data-label="Standard name" class="govuk-table__cell das-no-wrap">
                                    <a class="govuk-link--no-visited-state" href="#">Chartered manager (degree)</a>
                                </td>
                                <td data-label="Standard code" class="govuk-table__cell govuk-table__cell--numeric">
                                    ST00355
                                </td>
                                <td data-label="Standard level" class="govuk-table__cell govuk-table__cell--numeric">
                                    6
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </form>
       
    </main>
    
    
    
    
    
    
    
    
    
        </div>

          
                   
{% endblock %}

