{% extends "layout-epaoapplystandards.html" %}

    {% block pageTitle %}
         GOV.UK Prototype Kit
    {% endblock %}




       
    {% block content %}

    <a class="govuk-back-link" href="index">Return to dashboard</a>
    
    <main class="govuk-main-wrapper " id="main-content" role="main">
    
        <h1 class="govuk-heading-xl">Approved standards and versions</h1>

    <table class="govuk-table govuk-table--small">
        <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                
                <th scope="col" class="govuk-table__header govuk-table__header">
                    Standard
                </th>

                <th scope="col" class="govuk-table__header govuk-table__header--numeric">
                    Reference
                </th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">
                    Level
                </th>
               
                
                    
            
            </tr>
        </thead>

    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
           
            
            <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link--no-visited-state" href="6-details">Animal trainer</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">ST0058</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
           
               
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Brewer</a></td>
            
            <td class="govuk-table__cell govuk-table__cell--numeric">ST0580</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">6</td>
        </tr>
        
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Marine Pilot</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">ST0427</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">5</td>
           
                
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Arborist</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">ST0223</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
            
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Gas engineering operative</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">ST0155</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
           
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Advanced butcher</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">ST0077</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
            
                
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Financial Adviser</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">ST0374</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
           
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Actuarial technician</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">ST0004</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">7</td>
            
               
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Non-destructive testing (NDT) operator</a></td>
            <td class="govuk-table__cell govuk-table__cell--numeric">ST0358</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
           
               
        </tr>
    </tbody>
</table>

</main>
    
    
</div>

    {% endblock %}
