{% extends "layout-epaoapplystandards.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-width-container">

<a href="5-standards2" class="govuk-back-link">Return to standards</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
<h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
    <span class="govuk-caption-l govuk-!-margin-bottom-2">Standard details</span>
Animal trainer
</h1>
<p class="govuk-body-l">Reference: ST0398</p>




<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m"></p>
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Status</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Action</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">1.1</th>
        <td class="govuk-table__cell">Approved</td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">1.0</th>
        <td class="govuk-table__cell">Approved</td>
        <td class="govuk-table__cell"></td>
      </tr>
    </tbody>
  </table>
</main>
</div>
                   
{% endblock %}

