{% extends "layout-epaoapplystandards.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-width-container">

<a href="standards" class="govuk-back-link">Return to standards</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
<h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
    <span class="govuk-caption-l govuk-!-margin-bottom-2">Standard details</span>
Animal trainer
</h1>
<p class="govuk-body-l">Reference: ST0398</p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What does it mean to opt in to standard version?
    </span>
  </summary>
  <div class="govuk-details__text">
   No change in the assessment plan.
  </div>
</details>
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What does it mean to apply for standard version?
    </span>
  </summary>
  <div class="govuk-details__text">
    There has been a change in the assessment plan.
  </div>
</details>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m"></p>
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Status</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Action</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">1.0</th>
        <td class="govuk-table__cell">Approved</td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">1.1</th>
        <td class="govuk-table__cell">Not yet opted in</td>
        <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="/sprint-4-beta/epaoapplyoptin/optin">Opt in to standard version</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">1.2</th>
        <td class="govuk-table__cell">Not yet applied</td>
        <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="#">Apply for standard version</a></td>
      </tr>
    </tbody>
  </table>
</main>
</div>
                   
{% endblock %}

