{% extends "layout-epaoapplyhome.html" %}

{% block pageTitle %}
About - GOV.UK Prototype Kit
{% endblock %}

{% block content %}


        
    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {% set html %}
      <p class="govuk-notification-banner__heading">
        You can now opt into or apply for a version of an already approved standard by going to 
        <a class="govuk-notification-banner__link" href="1-standards">Standards approved to assess</a>.
      </p>
    {% endset %}
    
    {{ govukNotificationBanner({
      html: html
    }) }}

    <div class="govuk-width-container">


    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
    
            <div class="govuk-grid-column-full">
                <div class="dashboard-boxes">
                    <div class="dashboard-box dashboard-box--green">
                        <div class="dashboard-box__content">
                            <div class="dashboard-box__header">
                                <p class="dashboard-box__count govuk-body govuk-!-font-size-80 govuk-!-margin-bottom-1 das-wrap">65</p>
                                <h2 class="dashboard-box__name govuk-body govuk-!-font-size-24 govuk-!-margin-top-0 govuk-!-margin-bottom-0">Standards</h2>
                            </div>
                            <div class="dashboard-box__body">
                                <ul class="govuk-list">
                                    <li>
                                        <a class="govuk-link--no-visited-state" href="/sprint-4-beta/epaoapplyoptin/1-standards">Standards approved to assess</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link--no-visited-state" href="#">Apply to assess a standard</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link--no-visited-state" href="#">Withdraw from a standard</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-box dashboard-box--lightblue">
                        <div class="dashboard-box__content">
                            <div class="dashboard-box__header">
                                <p class="dashboard-box__count govuk-body govuk-!-font-size-80 govuk-!-margin-bottom-1 das-wrap">175</p>
                                <h2 class="dashboard-box__name govuk-body govuk-!-font-size-24 govuk-!-margin-top-0 govuk-!-margin-bottom-0">Pipeline</h2>
                            </div>
                            <div class="dashboard-box__body">
                                <ul class="govuk-list">
                                    <li>
                                        <a class="govuk-link--no-visited-state" href="#">View pipeline</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link--no-visited-state" href="#">Record a grade</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-box dashboard-box--darkblue">
                        <div class="dashboard-box__content">
                            <div class="dashboard-box__header">
                                <p class="dashboard-box__count govuk-body govuk-!-font-size-80 govuk-!-margin-bottom-1 das-wrap">27</p>
                                <h2 class="dashboard-box__name govuk-body govuk-!-font-size-24 govuk-!-margin-top-0 govuk-!-margin-bottom-0">Completed assessments</h2>
                            </div>
                            <div class="dashboard-box__body">
                                <ul class="govuk-list">
                                    <li>
                                        <a class="govuk-link--no-visited-state" href="#">Show completed assessments</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard-box">
                        <div class="dashboard-box__content">
                            <div class="dashboard-box__header">
                                <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-top-0 govuk-!-margin-bottom-0">Organisation</h2>
                            </div>
                            <div class="dashboard-box__body dashboard-box__body--no-top-padding">
                                <ul class="govuk-list">
                                    <li>
                                        <a class="govuk-link--no-visited-state" href="#">View organisation details</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link--no-visited-state" href="#">Manage users</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link--no-visited-state" href="#">API subscription</a>
                                    </li>
                                    <li>
                                        <a class="govuk-link--no-visited-state" href="#">Withdraw from the register</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="dashboard-box dashboard-box--grey dashboard-box--two-thirds">
                        <div class="dashboard-box__content">
                            <div class="dashboard-box__header">
                                <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-font-size-24 govuk-!-margin-top-0 govuk-!-margin-bottom-0">Record multiple assessments with ease</h2>
                            </div>
                            <div class="dashboard-box__body dashboard-box__body--no-top-padding">
                                <p class="govuk-body">
                                    Our Record a grade API will help you to:
                                </p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>
                                        record all grades
                                    </li>
                                    <li>
                                        submit one or more certificate requests at once
                                    </li>
                                    <li>
                                        reduce errors and increase speed
                                    </li>
                                </ul>
                                <p class="govuk-body">
                                    <a class="govuk-link--no-visited-state" href="#">Read more</a>
                                </p>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </main>
    
    
    
    
    
    
    
    
    
    
    
        </div>



    
    
    
        {% endblock %}



    
    
    
    
    
       
