{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}



<div class="govuk-width-container">
        

     <a class="govuk-back-link" href="index">Return to dashboard</a>
     
     <main class="govuk-main-wrapper " id="main-content" role="main">
         <div class="govuk-grid-row">
             <div class="govuk-grid-column-two-thirds">
                 <form method="get" action="3-results">
                     <input data-val="true" data-val-required="The Page field is required." id="Page" name="Page" type="hidden" value="">
                     <div class="govuk-form-group">
                         <h1 class="govuk-label-wrapper">
                             <label class="govuk-label govuk-label--xl" for="SearchString">
                                 Search
                             </label>
                         </h1>
                         <span class="govuk-hint">
                             <p class="govuk-body govuk-body--hint">Search using either the:</p>
                             <ul class="govuk-list govuk-list--bullet govuk-list--hint">
                                 <li>certificate reference number</li>
                                 <li>unique learner number (ULN)</li>
                                 <li>apprentice's name, or</li>
                                 <li>EPAO ID</li>
                             </ul>
                         </span>
                         <input class="govuk-input" type="text" id="SearchString" name="SearchString" value="">
                     </div>
                     <button class="govuk-button" type="submit">Search</button>
                 </form>
             </div>
         </div>
     </main>
         </div>









{% endblock %}



