{% extends "layout-dashboard.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

     <div id="service-title-section" class="epao-page">
          <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">
                         Dashboard
                    </h1>
               </div>
          </div>
     </div>


     <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <p>dashboard content</p>
          </div>
     </div>
{% endblock %}
