{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
About - GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
        



    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form action="4-results" method="post">
                    <div class="govuk-form-group ">
                        <h1 class="govuk-label-wrapper">
                            <label class="govuk-label govuk-label--xl" for="standard-name">
                                Which standard are you applying for?
                            </label>
                        </h1>
    
                        <span id="standard-hint" class="govuk-hint">
                            Enter 3 or more characters to search.<br> 
                            For example, financial adviser
                        </span>
    
    
                        <input class="govuk-input govuk-input--width-20 ui-autocomplete-input " id="standard-name" name="StandardToFind" type="text" value="" autocomplete="off" maxlength="10000">
                    </div>
    
    
                    <div class="govuk-form-group">
                        <button type="submit" class="govuk-button js-choose-standard-button">
                            Continue
                        </button>
                    </div>
    
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FLxvfMD0WxPgEp5Al5BipBAGjLtw3SzSdo2tAw657_9aHiuq8LRsyIql6Gu_SD_F-rGqn-ktRBTE0pmvf9si3QzKPDGE7vjZiAz9YZo8KnIK8cNKtaGVxKDp0x2DuGZpOfawFPFVMftvF5I9L6tManUdqtpLvRTeVmODX9HC9dSGlIdU_BQw0sc70BGpzvRsg"></form>
            </div>
        </div>
    
        
        <a href="4-results"></a>
    
    </main>
    
    
    
    
    
        </div>
    
    
    
        {% endblock %}



    
    
    
    
    
       
