{% extends "layout-epaoapplystandards.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


     

{% block content %}
<div class="govuk-width-container">

  <a href="/sprint-4-beta/epaoapplynewversion/1-standards" class="govuk-back-link">Return to approved standards and versions</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
  <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      <span class="govuk-caption-l govuk-!-margin-bottom-2">Standard details</span>
  Animal trainer
  </h1>
  <p class="govuk-body-l">Reference: ST0398</p>
  
  <p class="govuk-body">For more information visit <a class="govuk-link--no-visited-state" target="_blank" href="https://www.instituteforapprenticeships.org/apprenticeship-standards/animal-trainer-v1-0">the iFATE page for this standard (opens in a new tab or window)</a>.</p>
  
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        What’s the difference between apply and opt in?
      </span>
    </summary>
    <div class="govuk-details__text">
      If the new version shares an assessment plan with a version you’re already approved for, you’ll be given the option to opt in and be approved automatically.
      <br><br>
      If the new version has a different assessment plan to a version you’re approved for, you’ll need to wait for approval.
    </div>
    </details>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m"></p>
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Version</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Status</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-half">Action</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
       
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">1.2</th>
        <td class="govuk-table__cell">Not yet applied</td>
        <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="/sprint-4-beta/epaoapplynewversion/3-apply">Apply for standard version</a></td>
      </tr>
      
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">1.1</th>
        <td class="govuk-table__cell">Not yet opted in</td>
        <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="/sprint-4-beta/epaoapplyoptin/3-optin">Opt into standard version</a></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">1.0</th>
        <td class="govuk-table__cell">Approved</td>
        <td class="govuk-table__cell"></td>
      </tr>
    </tbody>
  </table>

  
       

      
   

  
  
</main>
</div>
                   
{% endblock %}

