<html lang="en" class=" env-ukdoe"><!--<![endif]--><head>
    <meta charset="utf-8">
    <title>SOUTHAMPTON ENGINEERING TRAINING ASSOCIATION LIMITED (THE) - Apprenticeships</title>
    <!--[if gt IE 8]><!-->
    <link href="https://pp-pas.apprenticeships.education.gov.uk/dist/css/govuk-template.css" media="screen" rel="stylesheet"><!--<![endif]-->
    <!--[if IE 6]><link href="/dist/css/govuk-template-ie6.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/dist/css/govuk-template-ie7.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/dist/css/govuk-template-ie8.css" media="screen" rel="stylesheet" /><![endif]-->
    <link href="https://pp-pas.apprenticeships.education.gov.uk/dist/css/govuk-template-print.css" media="print" rel="stylesheet">
    <!--[if IE 8]><link href="/dist/css/fonts-ie8.css" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="https://pp-pas.apprenticeships.education.gov.uk/dist/css/fonts.css" media="all" rel="stylesheet"><!--<![endif]-->
    <!--[if lt IE 9]><script src="/dist/css/javascripts/ie.js"></script><![endif]-->
    <link rel="shortcut icon" href="/dist/images/favicon.ico" type="image/x-icon">
    <link rel="mask-icon" href="/dist/images/gov.uk_logotype_crown.svg" color="#0b0c0c">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/dist/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/dist/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/dist/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" href="/dist/images/apple-touch-icon-60x60.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/dist/images/opengraph-image.png">

    <link href="https://pp-pas.apprenticeships.education.gov.uk/bundles/screen?v=areD9yGOdm-liEkHgIHdWBrky7TIQYirC0Iar3AQjjQ1" media="all" rel="stylesheet">
    <!--[if IE 6]><link href="/bundles/screenie6?v=11JGgcDYOMQPdScvWBgLJ6siIPFRAx6gNbIZn9w2IUg1" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="/bundles/screenie7?v=5HauQL6mxpPPdmCYh4iCqnWe_6jIZC9sorRUKivRfFc1" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="/bundles/screenie8?v=iKW72-PdeksDElnNMBdcAmMTghYUedSNz2-2V1erZoE1" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if gt IE 8]><!-->
    <link href="/bundles/screen?v=areD9yGOdm-liEkHgIHdWBrky7TIQYirC0Iar3AQjjQ1" media="all" rel="stylesheet">
    <!--<![endif]-->
    <!-- Google Tag Manager -->
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-TD56SF5"></script><script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window, document, 'script', 'dataLayer', 'GTM-TD56SF5');
    </script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js"; u.getElementsByTagName(o)[0].parentNode.appendChild(s); try { t.cookie = u.cookie } catch (h) { } for (t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "2b9e20f5-4e6c-4274-bbdd-592ed9737aec"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script><script src="//az416426.vo.msecnd.net/scripts/a/ai.0.js"></script>

<script type="text/javascript">
    window.zESettings = {
        webWidget: {
            contactForm: {
                attachments: false
            },
            chat: {
                menuOptions: {
                    emailTranscript: false
                }
            },
            helpCenter: {
                filter: {
                    section: 360002975420
                }
            }
        }
    };
</script>
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=e0730bdd-a32c-4c39-8032-7d7a908eacb4"></script>
<script id="co-snippet" src="https://embed-euw1.rcrsv.io/Qec2OgXsUy8lsUO1iOuleFAMjl7AcIEGdOojlQjLesShBHx0wrM4xXlR7X1h9bEo?zwwi=1"></script>
<script type="text/javascript">zE('webWidget', 'helpCenter:setSuggestions', { labels: ['SOUTHAMPTON ENGINEERING TRAINING ASSOCIATION LIMITED (THE)'] });</script>
<script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script><script defer="" src="https://widgets.rcrsv.io/ukdoe/realtime-join-code-bottom-bar/js/page.js"></script><link href="https://widgets.rcrsv.io/ukdoe/realtime-join-code-bottom-bar/css/page.css" rel="stylesheet"><link rel="stylesheet" type="text/css" href="https://assets-ukdoe.rcrsv.io/styles/newui.css"><link href="https://widgets.rcrsv.io/ukdoe/realtime-join-code-bottom-bar/css/ithlinkscanner.css" rel="stylesheet"><link rel="stylesheet" type="text/css" href="https://assets-ukdoe.rcrsv.io/styles/recursive-annotation-font.css"><link rel="stylesheet" type="text/css" href="https://assets-ukdoe.rcrsv.io/styles/annotation.css"><script type="text/javascript" src="https://assets-ukdoe.rcrsv.io/js/paper-core.min.js"></script></head>
<body id="account-home" class="js-enabled env-ukdoe" style="" data-new-gr-c-s-check-loaded="14.1001.0" data-gr-ext-installed="">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TD56SF5"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <div id="skiplink-container">
        <div>
            <a href="#content" class="skiplink">Skip to main content</a>
        </div>
    </div>

    <div data-module="cookie-banner" role="region" aria-label="cookie banner" class="das-cookie-banner__wrap">
    <div class="das-cookie-banner">
        <div class="das-cookie-banner__wrapper govuk-width-container">
            <div class="grid-row">
                <div class="column-two-thirds">
                    <h2 class="heading-medium das-cookie-banner__header">Tell us whether you accept cookies</h2>
                    <p class="das-cookie-banner__message">We use <a href="/cookie-details" class="link">cookies to collect information</a> about how you use this service. We use this information to make the service work as well as possible and improve this service.</p>
                    <div class="das-cookie-banner__buttons">
                        <div class="das-cookie-banner__button-wrap das-cookie-banner__button-accept">
                            <button class="button das-cookie-banner__button" type="submit" data-accept-cookies="true" id="btn-cookie-accept">Accept all cookies</button>
                        </div>
                        <div class="das-cookie-banner__button-wrap das-cookie-banner__button-settings">
                            <a class="button das-cookie-banner__button" role="button" href="/cookies" id="btn-cookie-settings">Set cookie preferences</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="das-cookie-banner__confirmation govuk-width-container" tabindex="-1">
            <p class="das-cookie-banner__confirmation-message">
                You've accepted all cookies. You can <a class="govuk-link" href="/cookies" id="link-cookie-settings">change your cookie settings</a> at any time.
            </p>
            <button class="das-cookie-banner__hide-button" data-hide-cookie-banner="true" id="btn-hide-cookie-banner">Hide</button>
        </div>
    </div>
</div>

    <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="header-proposition">
                <div class="content">
                    <a id="proposition-name" href="/">Apprenticeships</a>
                </div>
            </div>
        </div>
    </header>

    <div id="floating-menu-holder">
        <div class="account-information floating-menu" role="navigation">
            <div class="js-float">
                <p class="floating-head-text">
                    Your training provider account
                </p>
                <nav id="user-nav">
                    <ul>
                            <li><a href="/" class="link-user-profile">Sfstest 10005760</a></li>
                            <li><a href="/notification-settings" class="link-user-profile">Notification settings</a></li>
                            <li><a href="/signout">Sign out</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--/floating-menu-holder-->

            <div class="header-organisation" role="navigation">
                <nav class="header-inner">
                    <ul role="menubar" id="global-nav-links"><li><a href="/account" role="menuitem" class="selected">Home</a></li><li><a href="Review/1a-Apprentice-Requests" role="menuitem" class="">Apprentice requests</a></li><li><a href="https://securefunding.pp-pas.apprenticeships.education.gov.uk/10005760/reservations/manage" role="menuitem" class="">Manage funding</a></li><li class="menu-link"><a href="#">More</a><ul><li><a href="/10005760/apprentices/manage/all" role="menuitem" class="">Manage your apprentices</a></li><li><a href="https://recruit.pp-pas.apprenticeships.education.gov.uk/10005760">Recruit apprentices</a></li><li><a href="/10005760/agreements" role="menuitem" class="">Organisations and agreements</a></li></ul></li></ul>
                </nav>
            </div>


    <main role="main" id="content">


<div class="grid-row">
    <div class="column-full home-page">
          <div class="info-summary" tabindex="-1"><span class="heading-small">Coronavirus (COVID-19): to find out how we can support you, including changes we're making to help your apprentices continue learning, <a href="https://www.gov.uk/government/publications/coronavirus-covid-19-apprenticeship-programme-response?es_c=7B651DDC6B6986102E8BBB7918A20DDF&amp;es_cl=53BFD9FD1669BCDAEBD12D5CDF1D9AB8&amp;es_id=9d%c2%a3o3C" target="_blank">read our updated guidance</a>.</span></div>
        <h1 class="heading-xlarge">SOUTHAMPTON ENGINEERING TRAINING ASSOCIATION LIMITED (THE)</h1>
        <p class="grey-text">UKPRN: 10005760</p>
        <hr class="hr-double">
    </div>
</div>


<div class="grid-row">
    <div class="column-two-thirds">

        <div class="boxes">
                <div class="box">
                    <h2 class="heading-medium">
                        <a href="Review/1a-Apprentice-Requests">Create a cohort</a>
                    </h2>
                    <p>Create new cohorts on behalf of an employer.</p>
                </div>

            <div class="box">
                <h2 class="heading-medium">
                    <a href="Review/1a-Apprentice-Requests">Get funding for non-levy employers</a>
                </h2>
                <p>Secure funding for a non-levy employer to train an apprentice.</p>
            </div>

            <div class="box">
                <h2 class="heading-medium">
                    <a href="Review/1a-Apprentice-Requests">Apprentice requests</a>
                </h2>
                <p>Review, edit, approve and add apprentices.</p>
            </div>

            <div class="box">
                <h2 class="heading-medium">
                    <a href="https://securefunding.pp-pas.apprenticeships.education.gov.uk/10005760/reservations/manage">Manage your funding reserved for non-levy employers</a>
                </h2>
                <p>Add apprentice information to funding you have already reserved for non-levy employers.</p>
            </div>

            <div class="box">
                <h2 class="heading-medium">
                    <a href="/10005760/apprentices/manage/all">Manage your apprentices</a>
                </h2>
                <p>View and update approved apprentice records.</p>
            </div>

            <div class="box">
                <h2 class="heading-medium">
                    <a href="Review/1a-Apprentice-Requests">Recruit apprentices</a>
                </h2>
                <p>Create a vacancy to recruit an apprentice and manage applications.</p>
            </div>

            <div class="box">
                <h2 class="heading-medium">
                    <a href="Review/1a-Apprentice-Requests">Organisations and agreements</a>
                </h2>
                <p>Find and view organisations and their agreement IDs.</p>
            </div>

            <div class="box">
                <h2 class="heading-medium">
                    <a href="https://providerregistrations.pp-pas.apprenticeships.education.gov.uk/10005760/registration/startaccountsetup">Set up employer account</a>
                </h2>
                <p>Start setting up an apprenticeship service account for an employer</p>
                <p>
                    <a href="https://providerregistrations.pp-pas.apprenticeships.education.gov.uk/10005760/registration/invitedemployers">View invited employers</a>
                </p>
            </div>
        </div>
    </div>

</div>

<div class="grid-row">
    <div class="column-two-thirds">
        <h3 class="heading-medium">Instructions for the apprentices' employer</h3>
        <p>Employers need to <a href="https://www.gov.uk/guidance/manage-apprenticeship-funds" target="_blank" title="Register to manage their apprenticeship funds">register to manage their apprenticeship funds</a>. </p>
        <p>Once they've registered they need to:</p>
        <ol class="list list-number">
            <li>Add the PAYE schemes that the apprentices will be paid through.</li>
            <li>Add the employer organisations that will contract with the training provider.</li>
            <li>Accept agreements for their organisations so that they can spend levy funds.</li>
            <li>Add apprentices to their account so they can authorise payments to you. </li>
        </ol>
    </div>
</div>



    </main>

    <footer class="group js-footer" id="footer" role="contentinfo">
        <div class="footer-wrapper">
            <div class="footer-meta">
                <div class="footer-meta-inner">
                    <ul class="platform-help-links">
                        <li><a href="/help">Help</a></li>
                        <li><a href="https://www.surveymonkey.co.uk/r/accessmylevysurvey" target="_blank" aria-label="Give feedback">Feedback </a></li>
                        <li><a href="/privacy">Privacy</a></li>
                        <li><a href="/cookies">Cookies</a></li>
                        <li><a href="/terms">Terms and conditions</a></li>
                        <li>Built by the <a href="http://gov.uk/sfa" target="_blank">Education and Skills Funding Agency</a></li>
                    </ul>
                    <div class="open-government-licence">
                        <p class="logo">
                            <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
                        </p>

                        <p>
                            All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated
                        </p>

                    </div>
                </div>
				<div class="copyright">
					<a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
				</div>
            </div>
        </div>
    </footer>
    <div id="global-app-error" class="app-error hidden"></div>

    <script src="/bundles/sfajs?v=gZRqZmHtmU8dJMxNzZDWZpch0DcOnhDI_KzN0pP13Us1"></script>




<iframe src="https://embed-euw1.rcrsv.io/storage-iframe" id="rcrsv-storage-iframe" class="cwmn-locutus-skip" style="display: none;"></iframe><iframe data-product="web_widget" title="No content" tabindex="-1" aria-hidden="true" src="about:blank" style="width: 0px; height: 0px; border: 0px; position: absolute; top: -9999px;"></iframe><iframe src="https://widgets.rcrsv.io/ukdoe/realtime-join-code-bottom-bar/ui.html" id="recursive-social-plugin" class="recursive-social-plugin widget-invisible" scrolling="no" frameborder="0" style="width: 44px; height: 44px"></iframe><script src="https://assets-ukdoe.rcrsv.io/js/api.js"></script><div id="cwmn-panel"><div class="cwmn-pointers"></div></div><div id="cwmn-loading-panel"></div><iframe class="rcrsv-ui-iframe" id="rcrsv-notification-iframe" src="https://assets-ukdoe.rcrsv.io/notification.html?id=0.14343790314868077" style="visibility: hidden;"></iframe></body></html>
