{% extends "layout-staffadmin.html" %}


{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}





{% block content %}

<div class="govuk-width-container">
        

    <a class="govuk-back-link" href="2-appoverview">
        Back
    </a>
    
    <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
    
                    <h1 class="govuk-heading-xl">Apply to assess a standard version</h1>
    
                </div>
            </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <dl class="govuk-summary-list">
           
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                                            Skills and qualifications
                                        </h3>
    
                                                                        </dt>
                                <dd class="govuk-summary-list__value">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">What experience, skills and qualifications will your assessors have?</h3>
                                                <details class="govuk-details" role="group">
                                                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-1478e251-6c53-4987-a3a0-d628eac157cc" aria-expanded="false">
                                                        <span class="govuk-details__summary-text">
                                                            View question details
                                                        </span>
                                                    </summary>
                                                    <div class="govuk-details__text" id="details-content-1478e251-6c53-4987-a3a0-d628eac157cc" aria-hidden="true">
                                                        <p class="govuk-body">You need to give examples of how, when and where the assessor have demonstrated their capability. Assessors must have current and relevant occupational and assessment experience. Give details, evidence and context of this experience for all assessors.</p>
                                                    </div>
                                                </details>
                                                    <p class="govuk-body">asd</p>
                                    </dd>
    
                                    <dd class="govuk-summary-list__actions">
                                        <p class="govuk-body">
                                            <a class="govuk-link--no-visited-state" href="#">
    Add feedback                                        </a>
                                        </p>
                                    </dd>
    
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                                            End-point assessment delivery model
                                        </h3>
    
                                                                        </dt>
                                <dd class="govuk-summary-list__value">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">How will you deliver an end-point assessment for this standard?</h3>
                                                    <p class="govuk-body">asd</p>
                                    </dd>
    
                                    <dd class="govuk-summary-list__actions">
                                        <p class="govuk-body">
                                            <a class="govuk-link--no-visited-state" href="#">
    Add feedback                                        </a>
                                        </p>
                                    </dd>
    
                                </div>
         
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                                            Providing services straight away
                                        </h3>
    
                                                                        </dt>
                                <dd class="govuk-summary-list__value">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">If your application is successful, can you start an end-point assessment on the day you join the register?</h3>
                                                    <p class="govuk-body">asd</p>
                                    </dd>
    
                                    <dd class="govuk-summary-list__actions">
                                        <p class="govuk-body">
                                            <a class="govuk-link--no-visited-state" href="#">
    Add feedback                                        </a>
                                        </p>
                                    </dd>
    
                                </div>

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                                            Assessment methods
                                        </h3>
    
                                                                        </dt>
                                <dd class="govuk-summary-list__value">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">How will you undertake the individual elements of the assessment plan?</h3>
                                                    <p class="govuk-body">asd</p>
                                    </dd>
    
                                    <dd class="govuk-summary-list__actions">
                                        <p class="govuk-body">
                                            <a class="govuk-link--no-visited-state" href="#">
    Add feedback                                        </a>
                                        </p>
                                    </dd>
    
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                                            Continuous resource development
                                        </h3>
    
                                                                        </dt>
                                <dd class="govuk-summary-list__value">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">How will you continuously review and maintain the required resources and assessment tools?</h3>
                                                    <p class="govuk-body">asd</p>
                                    </dd>
    
                                    <dd class="govuk-summary-list__actions">
                                        <p class="govuk-body">
                                            <a class="govuk-link--no-visited-state" href="#">
    Add feedback                                        </a>
                                        </p>
                                    </dd>
    
                                </div>
                                
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                                            Assessment products and tools
                                        </h3>
    
                                                                        </dt>
                                <dd class="govuk-summary-list__value">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Assessment products and tools</h3>
                                                <details class="govuk-details" role="group">
                                                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-eddb26d0-9863-4968-bd77-c57ce3a8e7f9" aria-expanded="false">
                                                        <span class="govuk-details__summary-text">
                                                            View question details
                                                        </span>
                                                    </summary>
                                                    <div class="govuk-details__text" id="details-content-eddb26d0-9863-4968-bd77-c57ce3a8e7f9" aria-hidden="true">
                                                        <p class="govuk-body">Give full details of the strategies in place for development of assessment products and tools.</p>
                                                    </div>
                                                </details>
                                                    <p class="govuk-body">asd</p>
                                    </dd>
    
                                    <dd class="govuk-summary-list__actions">
                                        <p class="govuk-body">
                                            <a class="govuk-link--no-visited-state" href="#">
    Add feedback                                        </a>
                                        </p>
                                    </dd>
    
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                                            Assessment content
                                        </h3>
    
                                                                        </dt>
                                <dd class="govuk-summary-list__value">
                                    <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Assessment content</h3>
                                                <details class="govuk-details" role="group">
                                                    <summary class="govuk-details__summary" role="button" aria-controls="details-content-a2ade3ce-ea12-4340-ba76-02995800ded4" aria-expanded="false">
                                                        <span class="govuk-details__summary-text">
                                                            View question details
                                                        </span>
                                                    </summary>
                                                    <div class="govuk-details__text" id="details-content-a2ade3ce-ea12-4340-ba76-02995800ded4" aria-hidden="true">
                                                        <p class="govuk-body">Give full details of the actions you will take and the processes you will implement as part of delivering a complete end-point assessment.</p>
                                                    </div>
                                                </details>
                                                    <p class="govuk-body">asd</p>
                                    </dd>
    
                                    <dd class="govuk-summary-list__actions">
                                        <p class="govuk-body">
                                            <a class="govuk-link--no-visited-state" href="#">
    Add feedback                                        </a>
                                        </p>
                                    </dd>
    
                                </div>
                                
                               
                                
                        </dl>
                    </div>
                </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <form class="js-disable-on-submit" action="4-appoverview" method="post">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
    
                                <legend id="IsSectionComplete">
                                    <h2 class="govuk-heading-l">
                                        Is this section complete?
                                    </h2>
                                </legend>
    
                                <span class="govuk-error-message field-validation-valid" data-valmsg-for="IsSectionComplete" data-valmsg-replace="true"></span>
    
                                <div class="govuk-radios govuk-radios--inline">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="options_yes" type="radio" value="True" sfa-validation-for="IsSectionComplete" name="IsSectionComplete">
                                        <label class="govuk-label govuk-radios__label" for="options_yes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="options_no" type="radio" value="False" sfa-validation-for="IsSectionComplete" name="IsSectionComplete">
                                        <label class="govuk-label govuk-radios__label" for="options_no">
                                            No
                                        </label>
                                    </div>
                                </div>
    
                            </fieldset>
                        </div>
                        <button class="govuk-button" type="submit">Save</button>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8KiN1CQ0FRtGkUnyXgzlATpMpieYF_btUdAcbKmbNuX-E6GjjZPKrhoa-mXBQg_crMxTCef7jFLIzdXYN1szSVKPSF6pWLyJjjsjxgxQoL5Hr21QtygF3R4pwNTUtk0ZiPJccMlOClqyscoy-qEWE2Hv9IPpF04iB2YSuAI4ukeHkqFGhovt8eLxeepN2vtzpA"></form>
                </div>
            </div>
    
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">
                    <a class="govuk-link--no-visited-state" href="#">
                    Return to application overview
                    </a>
                </p>
            </div>
        </div>
    </main>
        </div>




{% endblock %}


