{% extends "layout-image.html" %}

{% block pageTitle %}
    GOV.UK Prototype Kit 
{% endblock %} 

{% block beforeContent %}
{% endblock %} 

{% block content %}
<img src="/public/images/tp-header.png" width="auto" height="auto" />

<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Edit apprentice details</h1>

      <div class="govuk-inset-text">
        <p class="govuk-body">
          You can only receive payments for this apprentice if:
        </p>
        <ul>
          <li>
            all the fields have been completed - either by yourself or the
            employer
          </li>
          <li>
            the data matches the individualised learner record(ILR) data that
            you send us
          </li>
        </ul>
      </div>

      <form
        action="6-add-apprentice"
        id="addApprenticeship"
        novalidate=""
        method="post"
      >
        <input
          data-val="true"
          data-val-required="The ProviderId field is required."
          id="ProviderId"
          name="ProviderId"
          type="hidden"
          value="10005760"
        />
        <input
          id="AccountLegalEntityHashedId"
          name="AccountLegalEntityHashedId"
          type="hidden"
          value="79D8GJ"
        />
        <input
          id="TransferSenderId"
          name="TransferSenderId"
          type="hidden"
          value=""
        />
        <input
          data-val="true"
          data-val-required="The Origin field is required."
          id="Origin"
          name="Origin"
          type="hidden"
          value="Apprentices"
        />
        <input
          id="ReservationId"
          name="ReservationId"
          type="hidden"
          value="9ebbbce0-ff05-45fb-a019-6c3a7e550dda"
        />

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Employer
            </legend>
            <div>
              <span class="govuk-label">DEPARTMENT OF EDUCATION LTD</span>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Apprentice name
            </legend>
            <div class="govuk-form-group">
              <label class="govuk-label" for="FirstName">First name</label>
              <span
                class="field-validation-valid govuk-error-message"
                data-valmsg-for="FirstName"
                data-valmsg-replace="true"
                id="error-message-FirstName"
              ></span>
              <input
                class="govuk-input"
                type="text"
                id="FirstName"
                name="FirstName"
                value=""
              />
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label" for="LastName">Last name</label>
              <span
                class="field-validation-valid govuk-error-message"
                data-valmsg-for="LastName"
                data-valmsg-replace="true"
                id="error-message-LastName"
              ></span>
              <input
                class="govuk-input"
                type="text"
                id="LastName"
                name="LastName"
                value=""
              />
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset
            class="govuk-fieldset"
            aria-describedby="dob-hint"
            role="group"
          >
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Date of birth
            </legend>
            <span id="dob-hint" class="govuk-hint">
              For example, 31 3 1980
            </span>
            <span
              class="field-validation-valid govuk-error-message"
              data-valmsg-for="DateOfBirth"
              data-valmsg-replace="true"
              id="error-message-DateOfBirth"
            ></span>
            <div class="govuk-date-input">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                    class="govuk-label govuk-date-input__label"
                    for="BirthDay"
                    >Day</label
                  >
                  <input
                    min="1"
                    max="31"
                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                    type="number"
                    id="BirthDay"
                    name="BirthDay"
                    value=""
                  />
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                    class="govuk-label govuk-date-input__label"
                    for="BirthMonth"
                    >Month</label
                  >
                  <input
                    min="1"
                    max="12"
                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                    type="number"
                    id="BirthMonth"
                    name="BirthMonth"
                    value=""
                  />
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                    class="govuk-label govuk-date-input__label"
                    for="BirthYear"
                    >Year</label
                  >
                  <input
                    min="1900"
                    max="9999"
                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                    type="number"
                    id="BirthYear"
                    name="BirthYear"
                    value=""
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="Uln"
            >Unique learner number</label
          >
          <span
            class="field-validation-valid govuk-error-message"
            data-valmsg-for="Uln"
            data-valmsg-replace="true"
            id="error-message-Uln"
          ></span>
          <input
            class="govuk-input govuk-!-width-three-quarters"
            type="text"
            id="Uln"
            name="Uln"
            value=""
          />
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="autocomplete-standards">
            Apprenticeship training course
          </label>

          <div id="standards-hint" class="govuk-hint">
            Start typing to search apprenticeships
          </div>

          <div id="standards" class="autocomplete-wrapper"></div>
        </div>

        <div class="js-hidden-version-select">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="versions-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Select version
              </legend>
              <div id="versions-hint" class="govuk-hint">
                Choose version for this standard
              </div>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="versions"
                    name="versions"
                    type="radio"
                    value="1.1"
                  />
                  <label class="govuk-label govuk-radios__label" for="versions">
                    1.1
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="versions-2"
                    name="versions"
                    type="radio"
                    value="1.2"
                  />
                  <label class="govuk-label govuk-radios__label" for="versions-2">
                    1.2
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input
                    class="govuk-radios__input"
                    id="versions-3"
                    name="versions"
                    type="radio"
                    value="1.3"
                  />
                  <label class="govuk-label govuk-radios__label" for="versions-3">
                    1.3
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>


        <div class="govuk-form-group">
          <fieldset
            class="govuk-fieldset"
            aria-describedby="start-date-hint"
            role="group"
          >
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Planned training start date
            </legend>
            <span id="start-date-hint" class="govuk-hint">
              For example, 09 2017
            </span>
            <span
              class="field-validation-valid govuk-error-message"
              data-valmsg-for="StartDate"
              data-valmsg-replace="true"
              id="error-message-StartDate"
            ></span>
            <div class="govuk-date-input">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                    class="govuk-label govuk-date-input__label"
                    for="StartMonth"
                    >Month</label
                  >
                  <input
                    min="1"
                    max="12"
                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                    type="number"
                    id="StartMonth"
                    name="StartMonth"
                    value=""
                  />
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                    class="govuk-label govuk-date-input__label"
                    for="StartYear"
                    >Year</label
                  >
                  <input
                    min="1900"
                    max="9999"
                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                    type="number"
                    id="StartYear"
                    name="StartYear"
                    value=""
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset
            class="govuk-fieldset"
            aria-describedby="finish-date-hint"
            role="group"
          >
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Planned training end date
            </legend>
            <span id="finish-date-hint" class="govuk-hint">
              For example, 09 2019
            </span>
            <span
              class="field-validation-valid govuk-error-message"
              data-valmsg-for="EndDate"
              data-valmsg-replace="true"
              id="error-message-EndDate"
            ></span>
            <div class="govuk-date-input">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                    class="govuk-label govuk-date-input__label"
                    for="EndMonth"
                    >Month</label
                  >
                  <input
                    min="1"
                    max="12"
                    class="govuk-input govuk-date-input__input govuk-input--width-2"
                    type="number"
                    id="EndMonth"
                    name="EndMonth"
                    value=""
                  />
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label
                    class="govuk-label govuk-date-input__label"
                    for="EndYear"
                    >Year</label
                  >
                  <input
                    min="1900"
                    max="9999"
                    class="govuk-input govuk-date-input__input govuk-input--width-4"
                    type="number"
                    id="EndYear"
                    name="EndYear"
                    value=""
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-!-font-weight-bold" for="Cost"
            >Total agreed apprenticeship price (excluding VAT)</label
          >
          <span id="price-hint" class="govuk-hint">
            Enter the price, including any end-point assessment costs, in whole
            pounds. For example, for £1,500 enter 1500
          </span>
          <span
            class="field-validation-valid govuk-error-message"
            data-valmsg-for="Cost"
            data-valmsg-replace="true"
            id="error-message-Cost"
          ></span>
          <input
            class="govuk-input govuk-input--width-5"
            type="number"
            id="Cost"
            name="Cost"
            value=""
          />
        </div>

        <div
          class="govuk-character-count"
          data-module="character-count"
          data-maxlength="20"
        >
          <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="Reference"
              >Reference (optional)</label
            >
            <span class="govuk-hint">
              Add a reference, such as employee number or location - this won't
              be seen by the training provider
            </span>
            <span
              class="field-validation-valid govuk-error-message"
              data-valmsg-for="Reference"
              data-valmsg-replace="true"
              id="error-message-Reference"
            ></span>

            <input
              maxlength="20"
              class="govuk-input govuk-!-width-three-quarters js-character-count"
              type="text"
              id="Reference"
              name="Reference"
              value=""
            />
          </div>
        </div>

        <div class="govuk-inset-text">
          <h3 class="govuk-heading-s">End-point assessments</h3>
          <p>
            If you have chosen an apprenticeship standard, we'll ask you to
            confirm the
            <a
              class="govuk-link"
              href="https://www.gov.uk/government/publications/using-the-register-of-apprentice-assessment-organisations"
              target="_blank"
              title="Opens in a new window"
              >apprentice assessment organisation</a
            >
            for this apprentice. We'll do this before the end of the
            apprenticeship.
          </p>
          <p>
            Apprenticeship frameworks have different assessment arrangements and
            don't need end-point assessments.
          </p>
        </div>

        <button id="continue-button" type="submit" class="govuk-button">
          Save
        </button>

        <input
          name="__RequestVerificationToken"
          type="hidden"
          value="CfDJ8ApxxyyFOpVMgprV5po2LDLWA2XerkYMQDD57hCRdlckKGEQAKHeVlwUrBBSMByYyGy2heAXi7PMG1pvkoaJS_pFGg-EtQ3vsatOe31RvtCSwXm1oGoALLC-pB82KeGeDcUdpB9VExDXeZTsmMLV8Q8RTqRo5Z2HOQ03qlGxVBTNthKnqmYmTuVyn2bNAhwUXg"
        />
      </form>
    </div>
  </div>
</main>
{% endblock %}

{% block pageScripts %}
<link rel="stylesheet" href="/public/sass/accessible-autocomplete/accessible-autocomplete.min.css">
<script src="/public/javascripts/accessible-autocomplete/accessible-autocomplete.min.js"></script>
<script src="/public/javascripts/standards.js"></script>
<script>
      var element = document.querySelector("#standards");
      var id = "autocomplete-standards";
      var versionSelectElement = document.querySelector(".js-hidden-version-select");
      var versionSelectHint = document.querySelector("#versions-hint");
      versionSelectElement.style.display = "none";
      accessibleAutocomplete({
        source: standardData,
        element: element,
        id: id,
        showAllValues: true,
        onConfirm: function (confirmed) {
          if (confirmed) {
            versionSelectHint.textContent = "Choose a version for the standard: " + confirmed;
            versionSelectElement.style.display = "block";
          } else {
            versionSelectHint.textContent = "Choose a version for this standard";
            versionSelectElement.style.display = "none";
          }
          
        },
      })
</script>
{% endblock %}
