<div class="navigation epao">

     <!-- DETAILS - START -->
     <div class="epao-details">
          <div class="govuk-width-container">
               <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                         <p>
                              Preprod Epao008<br>
                              <strong>City and Guilds(London/ILM)</strong> (EPAO0008)
                         </p>
                    </div>
                    <div class="govuk-grid-column-one-third">
                         <p>
                              <br>
                              <a href="#">Sign out</a>
                              <a href="2-email-preferences" class="govuk-link email-preferences">Email preferences</a>
                              <a href="#">Contact</a>
                         </p>
                    </div>
               </div>
          </div>
     </div>
     <!-- DETAILS - END -->

     <!-- BETA - START -->
     <div class="beta-details">
          <div class="govuk-width-container">
               {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
               {{ govukPhaseBanner({
                   tag: {
                         text: "beta"
                   },
                   html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
               }) }}
          </div>
     </div>
     <!-- BETA - END -->

     <!-- NAVIGATION - START -->
     <div class="nav">
          <div class="govuk-width-container">
               <ul class="govuk-list">
                    <li><a href="./index" class="govuk-link link-one {% if params.activeLink == "home" %}selected{% endif %}">Home</a></li>
                    <li><a href="#" class="govuk-link link-two {% if params.activeLink == "pipeline" %}selected{% endif %}">Pipeline</a></li>
                    <li><a href="#" class="govuk-link link-three {% if params.activeLink == "record-a-grade" %}selected{% endif %}">Record a grade</a></li>
                    <li><a href="#" class="govuk-link link-four {% if params.activeLink == "completed-assessments" %}selected{% endif %}">Completed assessments</a></li>
                    <li><a href="#" class="govuk-link link-five {% if params.activeLink == "standards" %}selected{% endif %}">Standards</a></li>
                    <li><a href="#" class="govuk-link link-six {% if params.activeLink == "organisation-details" %}selected{% endif %}">Organisation details</a></li>
               </ul>
          </div>
     </div>
     <!-- NAVIGATION - END -->

</div>
