{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<style>
    .app-task-list__items {
    font-family: "GDS Transport",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 40px;
    list-style: none;
    padding-left: 0;
}
    </style>
<div class="govuk-width-container">
        



    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">
                        Withdrawing from register
                    </span>
    
                <h1 class="govuk-heading-xl">Withdrawal request overview</h1>
    
    
                    <p class="govuk-body">
                        We've provided feedback on the answers we need more information about.  You'll need to open each question to view the feedback.
                    </p>
                    <p class="govuk-body">
                        Use the feedback to change your answers, then resubmit your application.
                    </p>
                    <p class="govuk-body">
                        By submitting your answers, you confirm that you have the authority to act on behalf of the organisation.
                    </p>
    
                <ol class="app-task-list">
                        <li>
                            <h2 id="fab201a8-d7d0-4c9e-8be7-4dab5d73133a" class="app-task-list__section">Withdrawal request questions</h2>
                                    <ul class="app-task-list__items app-task-list__items--no-number">
                                            <li class="app-task-list__item">
                                                <span class="app-task-list__task-name">
                                                    <a aria-describedby="feedback-completed" class="govuk-link--no-visited-state" href="#">
                                                        Reason for withdrawing
                                                    </a>
                                                </span>
                                                    <strong class="govuk-tag app-task-list__task-custom-tag das-float-right" id="feedback-feedbackTag">completed</strong>
                                            </li>
                                    </ul>
                        </li>
                </ol>
    
                    <div>
                        <form action="6" method="post">
                            <div class="govuk-form-group">
                                <button type="submit" class="govuk-button">
                                    Submit your answers
                                </button>
                            </div>
                        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FLxvfMD0WxPgEp5Al5BipAtHDNX-r2VQ_oewjhdz_pRUXAxl32dIvVf1jDQfl6u5WEHZn2z3FwRHZzIn5HlyoT1SH0QcW-5nd9Zx2SsVtRo1kD6FuabYX7GLALbQaznvbyEiulx4fZEvlvMNiT2FjzD4XInws0mYnT54ya15Yj_jp0mBriGOP2Abxsco9uPWw"></form>
                    </div>
    
            </div>
        </div>
    
    
    </main>
    
    
    
    
    
    
        </div>


    
    
        {% endblock %}



    
    
    
    
    
       
