{% extends "layout-epaoapplyapp.html" %}

{% block pageTitle %}
     GOV.UK Prototype Kit
{% endblock %}


{% block content %}




<div class="govuk-width-container">
        


    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
    
                    <form method="post">
    
                        <div class="govuk-panel govuk-panel--confirmation">
                            <h1 class="govuk-panel__title">
                                Withdrawal notification submitted
                            </h1>
    
                            <div class="govuk-panel__body">
                                Your reference number
                                <br>
                                <strong>AAD110244</strong>
                            </div>
    
                        </div>
    
                        <p class="govuk-body">
                            We have sent you a confirmation email.
                        </p>
    
                        <h2 class="govuk-heading-m govuk-!-margin-top-6">
                            What happens next
                        </h2>
    
    
                            <p class="govuk-body">
                                We'll review your withdrawal notification within 4 weeks, then email the outcome to you. If any of your answers need clarification, we'll send you a notification by email.
                            </p>
                            <p class="govuk-body">
                                You must not agree to assess any new learners while we review your withdrawal.
                            </p>
                            <p class="govuk-body">
                                Once you withdraw, your organisation cannot reapply to join the register for at least 12 months.
                            </p>
    
    
    
                        <p class="govuk-body">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">Return to account home</a>
                        </p>
                        <p class="govuk-body">
                            <a href="#" class="govuk-link--no-visited-state">What do you think of this service?</a> (Takes 60 seconds)
                        </p>
                    <input name="__RequestVerificationToken" type="hidden" value="CfDJ8FLxvfMD0WxPgEp5Al5BipDmALGsR9JWuhohQk7xExtlhwfmybfIc4rzJPyiZMYahsDBrN_90MekDdFca6jLAS2W1Hsm0irJt9WDvmbE-rPJo7f7pC2qVreoxgUo29vyzUxcfj5OXU5IWjGbEJvPZ0s4VshENuDYwePv9cl5cp09WGslC0G99WtJz88nFoLOCA"></form>
    
            </div>
        </div>
    </main>
    
    
    
    
    
        </div>

    
    
        {% endblock %}



    
    
    
    
    
       
