{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<!-- Main content starts -->

<!-- Full width heading starts -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-full">
          <h1 class="govuk-heading-xl">
               <!--<span class="govuk-tag">ALPHA</span><br>-->
               {{serviceName}} design history
          </h1>
     </div>
</div>
<!-- Full width heading ends -->

<!-- Two thirds header section starts -->
<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m govuk-!-margin-top-6">
               What is {{serviceName}}?
          </h2>
          <p class="govuk-body">
               All documents and links are being collected on <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/1998881080/Standards%2BVersioning%2B-%2BSV" class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank">a Confluence page</a>.
          </p>
          <p class="govuk-body">
               This documents the pre-Alpha phase of the {{serviceName}} project, June 2020 onwards.
          </p>

          <h2 class="govuk-heading-m govuk-!-margin-top-6">
               Who's working on this project?
          </h2>
          <ul class="govuk-list govuk-list--bullet">
               <li><a class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank" href="#" title="Link to Tahi's profile on Confluence">Tahi Gichigi</a> &ndash; Content Designer</li>
               <li><a class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/spaces/DAS/pages/1070924516/Interaction+Design+Clan" title="Link to Darren profile on Confluence">Darren Silcox</a> &ndash; Interaction Designer</li>
               <li><a class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/spaces/DAS/pages/1070924516/Interaction+Design+Clan" title="Link to Victor's profile on Confluence">Victor Ivan</a> &ndash; Interaction Designer</li>
               <li><a class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/spaces/DAS/pages/1070924516/Interaction+Design+Clan" title="Link to Ricky's profile on Confluence">Ricky Saunders</a> &ndash; Interaction Designer</li>


               <!-- <li><a class="govuk-link govuk-link--no-visited-state" href="https://skillsfundingagency.atlassian.net/wiki/people/5b18ff545f02415b9f02adf5" title="Link to Rob's profile on Confluence">Rob Langdon</a> &ndash; Interaction Designer</li> -->
               <li><a class="govuk-link govuk-link--no-visited-state" rel="external" target="_blank" href="https://skillsfundingagency.atlassian.net/wiki/spaces/DAS/pages/107224028/Research+Clan" title="Link to Mayurs profile on Confluence">Mayur Shah</a> &ndash; User Researcher</li>
          </ul>
     </div>
     <!-- Two thirds header section ends -->

     <!-- One third header section starts -->
     <div class="govuk-grid-column-one-third">
          <!--<h2 class="govuk-heading-m">
               <br>Design artefacts
          </h2>
          <div class="govuk-inset-text">
               <ul class='govuk-list govuk-list--bullet'>
                    <li><a href='#' class='govuk-link govuk-link--no-visited-state'>Thing #1</a></li>
               </ul>
          </div>-->
     </div>
     <!-- One third header section ends -->
</div>

<div class="govuk-grid-row">
     <!-- Full width header section starts -->
     <div class="govuk-grid-column-full">
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          <h2 class="govuk-heading-m">
               What are our design goals and what are we doing?
          </h2>
          <p class="govuk-body">
               {{ govukDetails({
                    summaryText: "Project design goals",
                    html: "<table class='govuk-table'>
                         <thead class='govuk-table__head'>
                              <tr class='govuk-table__row'>
                                   <th scope='col' class='govuk-table__header'>What we're doing</th>
                                   <th scope='col' class='govuk-table__header'>Why we're doing it</th>
                              </tr>
                         </thead>
                         <tbody class='govuk-table__body'>
                              <tr class='govuk-table__row'>
                                   <td class='govuk-table__cell'>Building clickable prototypes for Staff admin - assessment outcomes & certifications and EPAO apply.</td>
                                   <td class='govuk-table__cell'>To account for all possible scenarios where versioning is involved and test with real users for insights that will inform future design decisions.</td>
                              </tr>
                         </tbody>
                    </table>"
               }) }}
          </p>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
          <h2 class="govuk-heading-m">
               Latest prototype links
          </h2>

          <h3 class="govuk-heading-m">
               MVS
              </h3>


          <p class="govuk-body">

               <ul class="govuk-list">
                  <li><a href="/sprint-10/epao/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a pass grade - 1 Standard - 1 Version - No Options</a></li>
                  <li><a href="/sprint-1-beta/epao/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a pass grade - 1 Standard - 1 Version - With Options</a></li>
                  <li><a href="/sprint-10/epao1/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a pass grade - 1 Standard - Many Versions - No Options</a></li>
                    <li><a href="/sprint-11/epao3/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a pass grade - 1 Standard - Many Versions - With Options</a></li>
                  <li><a href="/sprint-11/epao1/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a pass grade - Many Standards - Many Versions - No Options</a></li>
                  <li><a href="/sprint-1-beta/epao1/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a pass grade - Many Standards - Many Versions - With Options</a></li>
                 </ul>


                 <ul class="govuk-list">

                 <li><a href="/sprint-2-beta/epao/" class="govuk-link govuk-link--no-visited-state">EPAO - record a FAIL grade - 1 Standard - 1 Version - No Options</a></li>
                 <li><a href="/sprint-2-beta/epao1/" class="govuk-link govuk-link--no-visited-state">EPAO - record a FAIL grade - 1 Standard - 1 Version - With Options</a></li>
                 <li><a href="/sprint-2-beta/epao2/" class="govuk-link govuk-link--no-visited-state">EPAO - record a FAIL grade - 1 Standard - Many Versions - No Options</a></li>
                 <li><a href="/sprint-2-beta/epao3/" class="govuk-link govuk-link--no-visited-state">EPAO - record a FAIL grade - 1 Standard - Many Versions - With Options</a></li>
                 <li><a href="/sprint-2-beta/epao6/" class="govuk-link govuk-link--no-visited-state">EPAO - record a FAIL grade - Many Standards - 1 Version - No Options</a></li>
                 <li><a href="/sprint-2-beta/epao7/" class="govuk-link govuk-link--no-visited-state">EPAO - record a FAIL grade - Many Standards - 1 Version - With Options</a></li>
                 <li><a href="/sprint-2-beta/epao4/" class="govuk-link govuk-link--no-visited-state">EPAO - record a FAIL grade - Many Standards - Many Versions - No Options</a></li>
                 <li><a href="/sprint-2-beta/epao5/" class="govuk-link govuk-link--no-visited-state">EPAO - record a FAIL grade - Many Standards - Many Versions - With Options</a></li>
  <br>


               <li><a href="/sprint-3-beta/epao/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a grade - fail to pass - 1 Standard - 1 Version - No Options</a></li>
               <li><a href="/sprint-3-beta/epao1/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a grade - fail to pass - 1 Standard - 1 Version - With Options</a></li>
               <li><a href="/sprint-3-beta/epao2/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a grade - fail to pass - 1 Standard - Many Versions - No Options</a></li>
               <li><a href="/sprint-3-beta/epao3/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a grade - fail to pass - 1 Standard - Many Versions - With Options</a></li>
               <li><a href="/sprint-3-beta/epao4/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a grade - fail to pass - Many Standards - 1 Version - No Options</a></li>
               <li><a href="/sprint-3-beta/epao5/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a grade - fail to pass - Many Standards - 1 Version - With Options</a></li>
               <li><a href="/sprint-3-beta/epao6/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a grade - fail to pass - Many Standards - Many Versions - No Options</a></li>
               <li><a href="/sprint-3-beta/epao7/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a grade - fail to pass - Many Standards - Many Versions - With Options</a></li>

               </ul>






                 <ul class="govuk-list">
                    <li><a href="/sprint-12/completed-assessments/" class="govuk-link govuk-link--no-visited-state">Dashboard - Completed Assessments</a></li>
                 </ul>

              <h3 class="govuk-heading-m">
               MVS+
              </h3>

              <ul class="govuk-list">
               <li><a href="" class="govuk-link govuk-link--no-visited-state">Bulk Upload</a></li></ul>
              <h3 class="govuk-heading-m">
               WIP
              </h3>



              <ul class="govuk-list">


               <li><a href="/sprint-2-beta/staffadminsearchsubmitted/" class="govuk-link govuk-link--no-visited-state">Staff Admin - Assessment outcomes and certifications - Submitted - 1 Standard - 1 Version - With Options - FAIL</a></li>
               <li><a href="/sprint-2-beta/staffadminsearchnocert/" class="govuk-link govuk-link--no-visited-state">Staff Admin - Assessment outcomes and certifications - No certification - 1 Standard - 1 Version - No Options</a></li>
               <li><a href="/sprint-2-beta/staffadminsearchdraft/" class="govuk-link govuk-link--no-visited-state">Staff Admin - Assessment outcomes and certifications - Draft - 1 Standard - Many Versions - With Options</a></li>
               <li><a href="/sprint-2-beta/staffadminsearchsent/" class="govuk-link govuk-link--no-visited-state">Staff Admin - Assessment outcomes and certifications - Sent to printer - 1 Standard - Many Versions - With Options</a></li>





               <br>



               <li><a href="/sprint-1-beta/epao3/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a pass grade - 1 Standard - 1 Version - 1 Option (edge case)</a></li>

               <li><a href="/sprint-1-beta/epao2/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a pass grade - Many Standards - Many Versions - With Options - With certificate history</a></li>

               <li><a href="/sprint-10/epao2/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a grade, Persisting, name, course and version V1 </a></li>
               <li><a href="/sprint-11/epao/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a grade, Multiple standards, multiple versions V1 (Nested choices)</a></li>
               <li><a href="/sprint-11/epao2/" class="govuk-link govuk-link--no-visited-state">EPAO - Record a grade, Selecting options from a version V1 (Nested choices)</a></li>
<br>
                 <li><a href="/sprint-12/add-apprentice/1-add-apprentice" class="govuk-link govuk-link--no-visited-state">Add an Apprentice (Employer) Choose Apprenticeship Integrated</a></li>
                 <li><a href="/sprint-12/add-apprentice1/1-add-apprentice" class="govuk-link govuk-link--no-visited-state">Add an Apprentice (Employer) Choose Apprenticeship Separated Out</a></li>
                 <li><a href="/sprint-12/manage-apprentice/1-dashboard" class="govuk-link govuk-link--no-visited-state">Manage your Apprentice (Employer)</a></li>
                 <br>
                 <li><a href="/sprint-12/add-apprentice-provider-happy/1-add-apprentice" class="govuk-link govuk-link--no-visited-state">Add an Apprentice (Provider - happy path)</a></li>
                 <li><a href="/sprint-12/manage-apprentice-provider/1-dashboard" class="govuk-link govuk-link--no-visited-state">Manage your Apprentices(Provider)</a></li>
<br>


<li><a href="/sprint-4-beta/epaoapplystandard/" class="govuk-link govuk-link--no-visited-state">EPOA apply to assess standard</a></li>
<li><a href="/sprint-4-beta/epaoapplyoptin/" class="govuk-link govuk-link--no-visited-state">EPOA apply (opt-in)</a></li>
<li><a href="/sprint-4-beta/epaoapplynewversion/" class="govuk-link govuk-link--no-visited-state">EPOA apply to assess version</a></li>
<li><a href="/sprint-4-beta/staffadminapprovestandard/" class="govuk-link govuk-link--no-visited-state">Staff admin approve standard</a></li>
<li><a href="/sprint-4-beta/staffadminapproveversion/" class="govuk-link govuk-link--no-visited-state">Staff admin approve standard version</a></li>





              </ul>



          </p>

          <hr class="govuk-section-break--l">

     </div>
     <!-- Full width header section ends -->
</div>

<div class="govuk-grid-row">
     <!-- Sprints section starts -->
     <div class="govuk-grid-column-two-thirds">
          {% include './sprint-4-beta/_summary.html' %}



          <h2 class="govuk-heading-l govuk-!-margin-top-9">
               Sprints
          </h2>
          {% set sprint4betaHtml %}
          {% include './sprint-4-beta/_summary.html' %}
     {% endset %}
          {% set sprint3betaHtml %}
          {% include './sprint-3-beta/_summary.html' %}
     {% endset %}
          {% set sprint2betaHtml %}
          {% include './sprint-2-beta/_summary.html' %}
     {% endset %}
          {% set sprint1betaHtml %}
               {% include './sprint-1-beta/_summary.html' %}
          {% endset %}

          {% set sprint12Html %}
               {% include './sprint-12/_summary.html' %}
          {% endset %}

          {% set sprint11Html %}
               {% include './sprint-11/_summary.html' %}
          {% endset %}
               {% set sprint10Html %}
               {% include './sprint-10/_summary.html' %}
          {% endset %}

          {% set sprint9Html %}
               {% include './sprint-9/_summary.html' %}
          {% endset %}

          {% set sprint8Html %}
               {% include './sprint-8/_summary.html' %}
          {% endset %}






          {% set sprint7Html %}
               {% include './sprint-7/_summary.html' %}
          {% endset %}

          {% set sprint6Html %}
               {% include './sprint-6/_summary.html' %}
          {% endset %}

          {% set sprint5Html %}
               {% include './sprint-5/_summary.html' %}
          {% endset %}

          {% set sprint4Html %}
               {% include './sprint-4/_summary.html' %}
          {% endset %}

          {% set sprint3Html %}
               {% include './sprint-3/_summary.html' %}
          {% endset %}

          {% set sprint2Html %}
               {% include './sprint-2/_summary.html' %}
          {% endset %}

          {% set sprint1Html %}
               {% include './sprint-1/_summary.html' %}
          {% endset %}

          {% set sprint0Html %}
               {% include './sprint-0/_summary.html' %}
          {% endset %}

          {{ govukAccordion({
               id: "accordion-default",
               items: [







               {
                    heading: {
                         text: "Sprint 4 Beta"
                    },
                    content: {
                         html: sprint4betaHtml
                    },
                    summary: {
                         html: '3rd Mar — 17th Mar 2021'
                    }
               },
               {
                    heading: {
                         text: "Sprint 3 Beta"
                    },
                    content: {
                         html: sprint3betaHtml
                    },
                    summary: {
                         html: '17th Feb — 3rd Mar 2021'
                    }
               },
               {
                    heading: {
                         text: "Sprint 2 Beta"
                    },
                    content: {
                         html: sprint2betaHtml
                    },
                    summary: {
                         html: '3rd Feb — 17th Feb 2021'
                    }
               },

                {
                    heading: {
                         text: "Sprint 1 Beta"
                    },
                    content: {
                         html: sprint1betaHtml
                    },
                    summary: {
                         html: '20th Jan — 3rd Feb 2021'
                    }
               },{
                    heading: {
                         text: "Sprint 12"
                    },
                    content: {
                         html: sprint12Html
                    },
                    summary: {
                         html: '6th Jan — 20th Jan 2021'
                    }
               },{
                    heading: {
                         text: "Sprint 11"
                    },
                    content: {
                         html: sprint11Html
                    },
                    summary: {
                         html: '9th Dec — 6th Jan 2021'
                    }
               },

               {
                    heading: {
                         text: "Sprint 10"
                    },
                    content: {
                         html: sprint10Html
                    },
                    summary: {
                         html: '25th Nov — 9th Dec 2020'
                    }
               },
               {
                    heading: {
                         text: "Sprint 9"
                    },
                    content: {
                         html: sprint9Html
                    },
                    summary: {
                         html: '10th Nov — 24th Nov 2020'
                    }
               },
               {
                    heading: {
                         text: "Sprint 8"
                    },
                    content: {
                         html: sprint8Html
                    },
                    summary: {
                         html: '28th Oct— 9th Nov 2020'
                    }
               },

                    {
                         heading: {
                              text: "Sprint 7"
                         },
                         content: {
                              html: sprint7Html
                         },
                         summary: {
                              html: '14th Oct— 27th Oct 2020'
                         }
                    },

                    {
                         heading: {
                              text: "Sprint 6"
                         },
                         content: {
                              html: sprint6Html
                         },
                         summary: {
                              html: '30th Sept - 13th Oct 2020'
                         }
                    },
                    {
                         heading: {
                              text: "Sprint 5"
                         },
                         content: {
                              html: sprint5Html
                         },
                         summary: {
                              html: '16th Sept - 29th Sept 2020'
                         }
                    },
                    {
                         heading: {
                              text: "Sprint 4"
                         },
                         content: {
                              html: sprint4Html
                         },
                         summary: {
                              html: '2nd Sept - 15th Sept 2020'
                         }
                    },
                    {
                         heading: {
                              text: "Sprint 3"
                         },
                         content: {
                              html: sprint3Html
                         },
                         summary: {
                              html: '19th Aug — 1st Sept 2020'
                         }
                    },
                    {
                         heading: {
                              text: "Sprint 2"
                         },
                         content: {
                              html: sprint2Html
                         },
                         summary: {
                              html: '5th Aug — 18th Aug 2020'
                         }
                    },
                    {
                         heading: {
                              text: "Sprint 1"
                         },
                         content: {
                              html: sprint1Html
                         },
                         summary: {
                              html: '24th June — 4th Aug 2020'
                         }
                    },
                    {
                         heading: {
                              text: "Sprint 0"
                         },
                         content: {
                              html: sprint0Html
                         },
                         summary: {
                              html: '9th June - 23rd June 2020'
                         }
                    }
               ]
          }) }}

     </div>
  <!-- Sprints section ends -->
</div>

<!-- Main content ends -->
{% endblock %}
