
{% extends "layout.html" %}

{% block pageTitle %}
Review your cohort
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
	text: "Back",
	href: "javascript: window.history.go(-1)"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
			Review your cohort
		</h1>

		<div class="govuk-grid-row" id="app-review-cohorts">
			<div class="govuk-grid-column-one-third">
				<div class="all-apps">
					<h2 class="govuk-heading-xl">1</h2>
					<p class="govuk-!-font-weight-bold govuk-!-font-size-24">Apprentice</p>
				</div>
			</div>

			<div class="govuk-grid-column-one-third">
				<div class="incomplete-apps">
					<h2 class="govuk-heading-xl">0</h2>
					<p class="govuk-!-font-weight-bold govuk-!-font-size-24">Incomplete records</p>
				</div>
			</div>

			<div class="govuk-grid-column-one-third">
				<div class="total-cost">
					<h2 class="govuk-heading-xl">£5,000</h2>
					<p class="govuk-!-font-weight-bold govuk-!-font-size-24">Total cost</p>
				</div>
			</div>
		</div>

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-one-third">
				<p>
					<b>Employer:</b> Grooveholding UK Ltd
				</p>

				<p>
					<b>Status:</b> Ready for review
				</p>
			</div>

			<div class="govuk-grid-column-one-third">
				<p>
					<b>Message:</b> No message added
				</p>
			</div>
		</div>

		<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

		<p class="govuk-!-margin-bottom-0">
			{{govukButton({
				text: "Save and continue",
				classes: "govuk-!-display-inline-block",
				href: "review-your-cohort-1-info"
			})}}			
		</p>

		<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

		
		<h3 class="govuk-heading-m">
			1 x Bespoke Saddler: Level 3 (Standard)
		</h3>

		<p>
			Training code: 272
		</p>

		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">
						Name
					</th>
					<th class="govuk-table__header" scope="col">
						Unique learner number 	
					</th>
					<th class="govuk-table__header" scope="col">
						Date of birth 	
					</th>
					<th class="govuk-table__header" scope="col">
						Training dates 	
					</th>
					<th class="govuk-table__header" scope="col" colspan="2">
						Cost
					</th>
				</tr>
			</thead>

			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">
						Devon Buckfast
					</td>
					<td class="govuk-table__cell">
						321456789A
					</td>
					<td class="govuk-table__cell">
						10 Mar 1990
					</td>
					<td class="govuk-table__cell">
						April 2020 to May 2022
					</td>
					<td class="govuk-table__cell">
						£5,000
					</td>
					<td class="govuk-table__cell">
						<a href="#" class="govuk-body-s">
							Edit
						</a>
					</td>
				</tr>
			</tbody>
		</table>

		<p class="govuk-body" style="float:right;">
			{{ govukButton({
				text: "Delete cohort",
				classes: "govuk-button--warning"
		  	}) }}
		</p>

	</div>
</div>

{% endblock %}
